<div class="dialog-container">
    <div mat-dialog-title>
        <h3>Search Tax Validation Details</h3>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>

    </div>
    <mat-dialog-content>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Tax Validation Details
                
            </h5>
            <div class="widget-content">
                <div class="grid-2cols">
                    <div class="widget-box mt-2">
                        <h5 class="widget-title d-flex align-items-center justify-content-between">
                            Tax Details From GST Portal
                            <span class="status-label">Status: <span class="status-state">Active</span></span>
                        </h5>
                        <div class="widget-content">
                          
                            <div class="display-box-tax">
                                <p class="display-label">Company Name</p>
                                <p class="display-data">{{taxDetail?.tradeNam || 'N/A'}}</p>  
                                <p class="display-label">GSTIN Number</p>
                                <p class="display-data">{{taxDetail?.gstin || 'N/A'}}</p>   
                                <p class="display-label">Main Office Address</p>
                                <p class="display-data"><span>{{taxDetail?.pradr?.addr?.bnm}}, {{taxDetail?.pradr?.addr?.bno}}, {{taxDetail?.pradr?.addr?.st}}, {{taxDetail?.pradr?.addr?.loc}}, {{taxDetail?.pradr?.addr?.dst}}, {{taxDetail?.pradr?.addr?.stcd}} {{taxDetail?.pradr?.addr?.pncd}}</span></p>   
                               
                              
                                                             
                                    <p class="display-label">Other Office (Only if Applicable)</p>
                                    <p class="display-data"><span>{{taxDetail?.pradr?.addr?.bnm}}, {{taxDetail?.pradr?.addr?.bno}}, {{taxDetail?.pradr?.addr?.st}}, {{taxDetail?.pradr?.addr?.loc}}, {{taxDetail?.pradr?.addr?.dst}}, {{taxDetail?.pradr?.addr?.stcd}} {{taxDetail?.pradr?.addr?.pncd}}</span></p>      
                                    <p class="display-label">Nature of Business Activities</p>
                                    <p class="display-data">{{taxDetail?.nba[1] || 'N/A'}}</p>                                 
                                    <p class="display-label">Constitution of Business</p>
                                    <p class="display-data">{{taxDetail?.ctb || 'N/A'}}</p>   
                                    <p class="display-label">Date of Registration</p>
                                    <p class="display-data">{{taxDetail?.rgdt || 'N/A'}}</p>  
                                    <p class="display-label">Taxpayer type</p>
                                    <p class="display-data">{{taxDetail?.dty || 'N/A' }}</p>
                                    </div>
                            </div>
                        
                    </div>
                    <div class="widget-box mt-2">
                        <h5 class="widget-title d-flex align-items-center justify-content-between">
                            Tax Details From Supplier
                            <span class="status-label">Status: <span class="status-state">Active</span></span>
                        </h5>
                        <div class="display-box-tax">
                            <p class="display-label">Company Name</p>
                            <p class="display-data">{{supplier?.companyName || 'N/A'}}</p>  
                            <p class="display-label">GSTIN Number</p>
                            <p class="display-data">{{supplier?.commercialLicenseNo || 'N/A'}}</p>   
                            <p class="display-label">Main Office Address</p>
                            <p class="display-data"><span>{{ getFullAddress(mainOffice) }}</span></p>                                  
                            <p class="display-label">Other Office (Only if Applicable)</p>
                            <p class="display-data"><span>{{ getFullAddress(otherAddress) }}</span></p>      
                            <p class="display-label">Nature of Business Activities</p>
                            <p class="display-data">Solutions</p>           
                            <p class="display-label">Constitution of Business</p>
                            <p class="display-data">Corporate</p>     
                            </div>
                    </div>
                </div>
                <div class="widget-box mt-2">
                    <h5 class="widget-title d-flex align-items-center justify-content-between">
                        Tax Filed Details
                        <span class="status-label">Status: <span class="status-state">Return filed</span></span>
                    </h5>
                    <div class="widget-content">
                        <div class="grid-2cols">
                        <div class="display-box-tax">
                            <p class="display-label">Description</p>
                            <p class="display-data">Last Year Filed amount 2xxxxx</p>  
                            <p class="display-label">ARN Number</p>
                            <p class="display-data">AA010143556587A</p>   
                            <p class="display-label">Tax Period</p>
                            <p class="display-data">2024 - 2025</p>                                  
                            <p class="display-label">Mode of Filing (Online/Offline)</p>
                            <p class="display-data">IT Portal - Online</p>  
                           
                            </div>
                            <div class="display-box-tax">
                               
                                <p class="display-label">Date of Filing</p>
                                <p class="display-data">June 2024</p>
                                <p class="display-label">Return Type</p>
                                <p class="display-data">GSTR1</p>    
                                <p class="display-label">Is Return Valid</p>
                                <p class="display-data">Y/N</p>   
                                </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="footer-action-btn">
            <button color="warn" class="btn-gray" mat-dialog-close cdkFocusInitial><i
                    class="fa fa-ban pe-2"></i>Cancel</button>
            <div class="middle-spacer"></div>
            <!-- <button class="btn-blue">
                <i class="fa fa-hand-pointer-o pe-2" aria-hidden="true"></i>Submit
            </button> -->
        </div>

    </mat-dialog-actions>
</div>