<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title">
            <i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing
            Management >> Request for Quotation >> Extension to Validity of Proposal
        </h2>
    </div>

    <div class="content-box p-2">
       
        <div class="widget-box">
            <h5 class="widget-title">
               Header
            </h5>
            <div class="widget-content">
                <div class="grid-5cols">
                    <div class="display-field-cols ">
                        <div class="display-col-label">RFx Ref #</div>
                        <div class="display-col-data">RFQ-249</div>
                    </div>
                    <div class="display-field-cols ">
                        <div class="display-col-label">Short Name</div>
                        <div class="display-col-data">Desktop</div>
                    </div>
                    <div class="display-field-cols ">
                        <div class="display-col-label">Description</div>
                        <div class="display-col-data">Purchase for Desktop</div>
                    </div>
                    <div class="display-field-cols ">
                        <div class="display-col-label">Original Validity</div>
                        <div class="display-col-data">20 Days</div>
                    </div>
                    <div class="display-field-cols ">
                        <div class="display-col-label">Revised Validity</div>
                        <div class="display-col-data">NA</div>
                    </div>                   
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
               Seek Proposal Validity Extension
            </h5>
            <div class="widget-content">
                <div class="table-responsive">
                    <table class="content-table w-100">
                        <thead>
                            <tr>
                                <th width="100" scope="col">Duration<sup>*</sup></th>
                                <th scope="col">Period<sup>*</sup></th>
                                <th  width="100" scope="col">Negotiable<sup>*</sup></th>
                                <th  width="100" scope="col">Response Submission Date<sup>*</sup></th>
                                <th scope="col">Comments</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="cust-field-height">
                                <td>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="" value="20Days">
                                    </mat-form-field>
                                </td>
                                <td >
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Fixed value %" placeholder="Select Fixed value">
                                            <mat-option value="">-- Please Select --</mat-option>
                                            <mat-option value="Days">Days</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox ></mat-checkbox>
                                </td>
                                <td>
                                    <mat-form-field >
                                        <input matInput [matDatepicker]="dp1">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="" value="test">
                                    </mat-form-field>
                                </td>
                                                           
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                Invite to Suppliers
            </h5>
            <div class="widget-content">
                <div class="table-responsive">
                    <table class="content-table w-100">
                        <thead>
                            <tr>
                                <th  scope="col">Serial #</th>
                                <th scope="col">Supplier Name</th>
                                <th scope="col">Supplier Response #</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="cust-field-height">
                                <td class="text-center">1</td>
                                <td >EIGHT SERVICES AGRICULTURE LLC</td>
                                <td class="text-center">
                                    <mat-checkbox ></mat-checkbox>
                                </td>
                                <td>1738172686955</td>
                                <td>
                                    <mat-checkbox>Main office</mat-checkbox>
                                </td>
                                                           
                            </tr>
                            <tr class="cust-field-height">
                                <td class="text-center">2</td>
                                <td >EIGHT SERVICES AGRICULTURE LLC</td>
                                <td class="text-center">
                                    <mat-checkbox ></mat-checkbox>
                                </td>
                                <td>1738172686955</td>
                                <td>
                                    <mat-checkbox>Main office</mat-checkbox>
                                </td>
                                                           
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">History
            </h5>
            <div class="widget-content">
                <div class="table-responsive">
                    <table class="content-table w-100">
                        <thead>
                            <tr>
                                <th  scope="col"></th>
                                <th  scope="col">	User</th>
                                <th scope="col">Response #</th>
                                <th scope="col">Validity</th>
                                <th scope="col">Period</th>
                                <th scope="col">Negotiable</th>
                                <th scope="col">Comply / Agree</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Validity End Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="cust-field-height">
                                <td>Original</td>
                                <td >Buyer</td>
                                <td >NA</td>
                                <td >20</td>
                                <td >Days</td>
                                <td >No</td>
                                <td >NA</td>
                                <td >NA</td>
                                <td >NA</td>
                                                           
                            </tr>
                            <tr class="cust-field-height">
                                <td>Supplier Response</td>
                                <td >FUTURE OILFIELD SUPPLY SERVICES LLC</td>
                                <td >1734599042296</td>
                                <td >20</td>
                                <td >Days</td>
                                <td >No</td>
                                <td >NA</td>
                                <td >NA</td>
                                <td >	
                                    24-Jun-2052</td>      
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-action-btn">
        <button    class="btn-gray" >
            <i class="fa fa-times pe-2"></i>Cancel</button> 
    <div class="middle-spacer"></div>
    <button   class="btn-blue">
        <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i> Save				
    </button>
</div>
</div>