<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing Management >> Request For Quotation</h2>
    </div>
    <div class="content-box p-2">
        @if(loginData?.businessRole === 'Buyer'){
            <div class="widget-box">
                <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                    Request for Quotation (RFQ)
                    <button (click)="createNewRfq()"class="header-level-btn-blue"><i class="fa fa-plus pe-2"></i>New RFQ</button>
                    <!-- <button   [routerLink]="['/krya/supplier-rfq-list']" class="header-level-btn-blue"><i class="fa fa-plus pe-2"></i>S RFQ</button> -->
                </h5>
                <div class="widget-content">
                    <ag-grid-angular [theme]="theme" [rowData]="getAllrfq" [columnDefs]="colDefs"
                    [defaultColDef]="defaultColDef" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                    [paginationPageSizeSelector]="paginationPageSizeSelector" />
                </div>
            </div>
        }
        @if(loginData.userType === 2){
            <div class="widget-box">
                <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                    Supplier Request for Quotation (SRFQ)
                    <!-- <button   [routerLink]="['/krya/new-rfq']" class="header-level-btn-blue"><i class="fa fa-plus pe-2"></i>New RFQ</button>
                    <button   [routerLink]="['/krya/supplier-rfq-list']" class="header-level-btn-blue"><i class="fa fa-plus pe-2"></i>S RFQ</button> -->
                </h5>
                <div class="widget-content">
                    <ag-grid-angular [theme]="theme" [rowData]="supplierRowData" [columnDefs]="colForSupplier"
                    [defaultColDef]="defaultColDef1" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                    [paginationPageSizeSelector]="paginationPageSizeSelector" />
                </div>
            </div>
        }
    </div>

</div>