@import "../../../--theme-variables.scss";
.number-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $pzenBlue;
    border-radius: 20px;
    padding: 4px;
    color: $white;
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

// .toggled { 
//     display: block !important;
//     position: absolute;
//     right: 0;
//     border: 1px solid #ccc;
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
//     border-radius: 3px;
//     min-width: 300px;
//     min-height: auto;
//     padding: 5px 15px 15px 15px;
//     background:white ;
//     z-index: 99999;
//     .close-icon{
//         position: relative;
//         height: 25px;
//         width: 100%;
//         margin-bottom: 5px;
//         border-bottom: 1px solid #ccc;
//         .icon-close{
//             position: absolute;
//             right: 0px;
//             top: -4px;
//         }
//         .mat-icon {
//             .material-icons-outlined {
//                 font-size: 19px;
//                 cursor: pointer;
//             }
//         }
//     }
//       }
    

      .data-table-css { 
        table tr th {
         &:last-child{
             width: 50px;
         }
        }  
        table tr td {
         &:last-child{
             .mdc-button.mat-mdc-button-base {
                 min-height: 20px; 
                min-width: 20px;
             }
         }
        }  
        
     }