<div class="widget-box">
    <h5 class="widget-title">Mandatory Attachment
       
    </h5>

    <div class="widget-content">

        <form [formGroup]="mandatoryFormList">
            <div>
                <div class="projectBox" 
                    >
                    <div class="grid-attach align-items-center">
                        <div class="serial-number"> 1 </div>

                        <mat-form-field class="col">
                            <mat-label>
                                Attachment Type 
                            </mat-label>
                            <mat-select formControlName="attachmentTypeId" name="attachment"
                                matTooltip="Select a Attachment Type" [required]="true">
                                <mat-option value="">-- Please Select --</mat-option>
                                <mat-option>
                                    Select
                                </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field class="col">
                            <mat-label>
                                Description 
                                </mat-label>

                                <textarea matInput matTooltip="Enter the description" formControlName="description"
                                #noteHint name="textArea" rows="1"></textarea>


                            <mat-hint align="end">1000</mat-hint>

                        </mat-form-field>

                        <mat-form-field class="col">
                            <mat-label>Uploaded By</mat-label>
                            <input matInput formControlName="uploadedUserName" name="userName">
                        </mat-form-field>

                        <mat-form-field class="col">
                            <mat-label>Uploaded Date</mat-label>
                            <input matInput formControlName="uploadedDate" name="uploadDate">
                        </mat-form-field>
                        <div>
                            <div class="d-flex w-100 justify-content-between align-items-center mt-2">
                                <div class="custom-file-upload">
                                    <button class="file-upload-button">
                                        <input class="custom-file-input" 
                                        id="customFileLang" type="file" #manFileInput
                                            accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                                            multiple>
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i><span
                                            class="ps-2">Upload</span>
                                    </button>
                                </div>

                                <div class="attach-section col position-relative" style="width: 50px; margin-left: 20px;">
                                    <mat-icon  id="sidebarToggle"
                                        >
                                        <span class="material-icons-outlined">ballot</span>
                                    </mat-icon>
                                    <div class="sidebar navbar-nav" style="display: none;" >
                                        <div class="close-icon">
                                            <div class="subHeading">Uploaded files</div>
                                            <mat-icon class="icon-close">
                                                <span class="material-icons-outlined">close</span>
                                            </mat-icon>
                                        </div>
                     

                                      
                                            <div >
<div class="upload-file-row" >
    <!-- <div> -->
                                                    <div class="d-flex flex-row align-items-top">
                                                        <div style="width: fit-content;" class="subHeading2 pe-1">1</div>                                                        
                                                        <div class="subHeading2 col">
                                                            <div style="display: flex; align-items: center; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                             
                                                                    <span class="me-1" style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;" matTooltip="PDF">
                                                                        PDF
                                                                    </span>
                                                                    <small>20KB</small>

                                                                
                                                                    <span class="me-1" style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;" matTooltip="PDF">
                                                                       PDF
                                                                    </span>
                                                                    <small>250KB</small>
                                                                  
                                                                
                                                            </div>

                                                        </div>
                                                        <div class="col-auto"> 
                                                            <button class="btn btn-sm smBtn btn-download" matTooltip="Download File" >
                                                                <span class="material-icons-outlined">file_download</span>
                                                            </button>
                                                        
                                                            <button class="btn btn-danger btn-sm smBtn" [disabled]="disableStatusBased === false"
                                                                matTooltip="Delete File" type="button"
                                                                >
                                                                <span class="material-icons-outlined">delete</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                         
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="ft-size11 text-danger">Supported Formates: jpg, jpeg, gif, png, pdf</div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>

<div class="widget-box">
    <h5 class="widget-title d-flex flex-row justify-content-start align-items-center">
        <div class="col">Optional Attachment</div>
        <div class="col-auto">
         
            <button [disabled]="disableStatusBased == false" class="header-level-btn-blue me-3"
               matTooltip="Add Optional Attachment">
                <i class="fa fa-floppy-o pe-2"></i>
                Save</button>
            
        </div>

    </h5>


    <form #optionalForm="ngForm" id="optionalAttach">
        <div class="widget-content">
            <div class="grid-5cols">
                <mat-form-field class="col">
                    <mat-label>
                        
                        Attachment Type
                        </mat-label>
                    <mat-select name="optAttachment" #optionalttachmentTypeControl="ngModel"
                        matTooltip="Select a Attachment Type" [(ngModel)]="saveOptAttachment.attachmentTypeId"
                        name="optionalAttachType">
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option>
                            Select
                        </mat-option>
                    </mat-select>

                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>
                        Description
                        </mat-label>

                        <textarea matInput matTooltip="Enter the description" 
                        [(ngModel)]="saveOptAttachment.description" #optDesc="ngModel" #noteHint name="optTextArea"
                        rows="1"></textarea>



                    <mat-hint align="end"> 1000</mat-hint>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Uploaded By</mat-label>
                    <input matInput readonly="true" [(ngModel)]="saveOptAttachment.uploadedUserName" name="optUserName">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Uploaded Date</mat-label>
                    <input matInput readonly="true" [(ngModel)]="saveOptAttachment.uploadedDate" name="optUuploadDate">
                </mat-form-field>
                <div>




                    <div class="d-flex flex-row justify-content-between align-items-center mt-2">
                        <div class="custom-file-upload">
                            <button class="file-upload-button">
                                <input class=" custom-file-input"  type="file" #optFileInput
                                    accept=".txt, application/pdf,.xls,.xlsx,.doc, .docs, image/jpg, image/jpeg, image/gif, image/png, application/pdf"
                                   multiple>

                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i><span class="ps-2">Upload</span>
                            </button>
                        </div>
                        <div class="attach-section col position-relative" style="width: 50px; margin-left: 20px;">
                            <mat-icon id="sidebarToggle"
                                >
                                <span class="material-icons-outlined">ballot</span>
                            </mat-icon>

                                <div class="sidebar navbar-nav" style="display: none;" >
                                 
                                <div class="close-icon">
                                    <div class="subHeading">Optional Files</div>
                                    <mat-icon class="icon-close" >
                                        <span class="material-icons-outlined">close</span>
                                    </mat-icon>
                                </div>
                                
                                <div class="smText noData">Files not available.</div>
                                

                                <div>
                                    
                                    <div  class="upload-file-row" >
                                        <div class="d-flex flex-row align-items-top">
                                            <div style="width: fit-content;" class="subHeading2 pe-1">1
                                            </div> 
                                            <div class="subHeading2 col">
                                                <div style="display: flex; align-items: center; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                               
                                                        <span class="me-1" style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;" matTooltip="PDF">
                                                           PDF
                                                        </span>
                                                        <small>20KB</small>
                                                        
                                                        

                                                       
                                                        <span class="me-1" style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;" matTooltip="PDF">
                                                            PDF
                                                        </span>
                                                       <small> 20KB</small>
                                                      

                                                    
                                                    
                                                </div>
                                            </div>

                                            <div class="col-auto">
                                                <button class="btn btn-sm smBtn btn-download" matTooltip="Download File" >
                                                    <span class="material-icons-outlined">file_download</span>
                                                </button>
                                                <button class="btn btn-danger btn-sm smBtn" type="button" [disabled]="disableStatusBased === false"
                                                    matTooltip="Delete File" >
                                                    <span class="material-icons-outlined">delete</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="ft-size11 text-danger" style="line-height: 12px;">Supported Formates: pdf, xls, xlsx, doc, docs, jpg, jpeg, gif, png
                    </div>
                </div>
            </div>
        </div>

    </form>
    <div class="m-2">

        
        <div class="table-responsive table-col-control" >
            <table class="content-table">
            <thead>
                <tr class="thead-light">
                    <th scope="col">Serial #</th>
                    <th scope="col">Attachment Type</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Description</th>
                    <th scope="col">Uploaded Date</th>

                    <th scope="col" width="60" class="text-center">Action</th>
                </tr>
            </thead>

            <tbody class="list">


                <tr class="border-bottom">
                    <td>
                       1
                    </td>
                    <td>
                        Owner-Visa
                    </td>
                    <td>
                       Owner-Visa
                    </td>
                    <td>
                        dsdsdsdsddd
                    </td>
                    <td>
                        08-Apr-2025
                    </td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <button class="btn btn-primary btn-sm smBtn" *ngIf="disableStatusBased === false" mat-button class="btn-small" matTooltip="Edit"
                            >
                           <i class="fa fa-eye"></i>
                        </button>
                            <button class="btn btn-primary btn-sm smBtn" *ngIf="disableStatusBased === true" mat-button class="btn-small" matTooltip="Edit"
                                >
                               <i class="fa fa-edit"></i>
                            </button>
                            <button Xclass="btn btn-danger btn-sm smBtn" [disabled]="disableStatusBased == false" class="btn-small" mat-button
                                matTooltip="Delete" >
                              <i class="fa fa-trash text-danger"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

  
</div>
</div>