<div mat-dialog-title class="d-flex flex-row justify-content-start align-items-center">
    <div class="col">Add Address</div>
    <div class="helper-text-align-right">
        <button mat-icon-button  mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div>
</div>
<mat-dialog-content>
    <form>
        <div class="d-flex flex-row flex-wrap justify-content-start align-items-center" [formGroup]="addressForm">
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Select Address Type</mat-label>
                    <mat-select required formControlName="addressType">
                        <mat-option value="PaySite">Pay Site</mat-option>
                        <mat-option value="Shipping">Shipping Site</mat-option>
                        <mat-option value="Billing">Billing Site</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Address Line1</mat-label>
                    <input matInput matTooltip="Enter the address line1" required formControlName="addressLine1">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Address Line2</mat-label>
                    <input matInput matTooltip="Enter the address line2" formControlName="addressLine2">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Address Line3</mat-label>
                    <input matInput matTooltip="Enter the address line3" formControlName="addressLine3">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>P.O. Box</mat-label>
                    <input matInput matTooltip="Enter the P.O. Box" formControlName="poBox">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Select Country</mat-label>
                    <input type="text" placeholder="Search country" matTooltip="Search country" aria-label="country"
                        matInput  [matAutocomplete]="auto" required formControlName="country">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Select State/Province</mat-label>
                    <input type="text" placeholder="Search state/province" matTooltip="Search state/province"
                        aria-label="country" matInput [matAutocomplete]="auto" required formControlName="state">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Select City</mat-label>
                    <input type="text" placeholder="Search city" matTooltip="Search city" aria-label="city" matInput
                         [matAutocomplete]="auto" required formControlName="city">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        @for (option of filteredOptions | async; track option) {
                        <mat-option [value]="option">{{option}}</mat-option>
                        }
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Zip Code / PIN</mat-label>
                    <input matInput matTooltip="Enter the zip code / pin" formControlName="zipCode">
                </mat-form-field>
            </div>
            <div class="col-md-3">
                <mat-form-field class="col">
                    <mat-label>Main Office</mat-label>
                    <input matInput matTooltip="Enter the main office" formControlName="mainOffixe">
                </mat-form-field>
            </div>
        </div>

        <div class="borderBox mt-2" [formGroup]="taxForm">
            <div class="boxHeader">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <div class="subHeading col">Tax Details</div>
                    <div>
                        <button mat-stroked-button  class="normalBtn" (click)="addTaxDetail()" matTooltip="Add Another Tax">Add Another Tax</button>
                    </div>
                </div>
            </div>
            <div class="boxBody" formArrayName="taxDetails">
                <div *ngFor="let taxDetail of taxDetails.controls; let i = index" [formGroupName]="i" class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                    <div class="col-md-3">
                        <mat-form-field class="col">
                            <mat-label>Select Tax Type</mat-label>
                            <mat-select formControlName="taxType" required>
                                <mat-option value="Corporate">Corporate Tax Registration</mat-option>
                                <mat-option value="GST">GST Registration</mat-option>
                                <mat-option value="PAN">PAN Registration</mat-option>
                                <mat-option value="Professional">Professional Tax Registration</mat-option>
                                <mat-option value="VAT">Value Added Tax (VAT) Registration</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="col">
                            <mat-label>Tax and Duties Registration #</mat-label>
                            <input matInput formControlName="registrationNumber" matTooltip="Enter the tax and duties registration #" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="col">
                            <mat-label>Tax Exemption</mat-label>
                            <input matInput formControlName="taxExemption" matTooltip="Enter the tax exemption">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-stroked-button color="warn" class="normalBtn" (click)="removeTaxDetail(i)" matTooltip="Remove Tax">Remove Tax</button>
                    </div>
                </div>
            </div>
        </div>
    
    </form> 

</mat-dialog-content>
<mat-dialog-actions>
    <button   (click)="onAddClick()">Add</button>
    <button mat-stroked-button color="warn" mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>