<!-- Standard Declaration -->

<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Standard Declaration
    </h5>
    <div class="widget-content">
        <mat-checkbox color="primary" style="margin-left:-10px" [formControl]="acknowledgmentControlStandardDeclaration">
            
I understand that any false information or misrepresentation may result in consequences as per the terms and conditions
        </mat-checkbox>
    </div>
</div>

<!-- Declaration of Conflict of Interest -->

<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Declaration of Conflict of Interest
    </h5>
    <div class="widget-content">
        <mat-checkbox color="primary" style="margin-left:-10px" [formControl]="acknowledgmentControlConflictOfInterest">
          
I hereby declare that the information provided in this application form is true and accurate to the best of my knowledge. I acknowledge that any misrepresentation may lead to necessary actions as per the organization’s rules.
        </mat-checkbox>
    </div>
</div>

<!-- Declaration of Ongoing/Previous Litigations -->

<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Declaration of Ongoing/Previous Litigations
    </h5>
    <div class="widget-content">
        <mat-checkbox color="primary" style="margin-left:-10px" [formControl]="acknowledgmentControlLitigations">
         
I affirm that the above information is true and accurate to the best of my knowledge. I understand that providing false or incomplete information may lead to consequences as per applicable laws or regulations.
        </mat-checkbox>
    </div>
</div>
