<div class="widget-box border-0">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Pre-Qualification Assessment
        <div class="d-flex">
            <button  class="header-level-btn-blue me-5" matTooltip="Search Tax Payer" (click)="taxPayer()"><i class="fa fa-search pe-2"></i>Search Tax Payer</button>
            <a mat-button [ngClass]="!isOpen? 'show':'hide'" matTooltip="Expand All"
                style="height: 30px; width: 30px; text-align: center;" (click)="openAccordionAll()"><i
                    class="fa fa-expand" style="font-size: 20px;" aria-hidden="true"></i></a>
            <a mat-button [ngClass]="isOpen? 'show':'hide'" matTooltip="Collapse All"
                style="height: 30px ;width: 30px; text-align: center;" (click)="closeAccordionAll()"><i
                    class="fa fa-compress" aria-hidden="true" style="font-size: 20px;"></i></a>
        </div>
    </h5>
    <div class="widget-content">
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Header
            </h5>
            <div class="widget-content">
                <div class="grid-2cols">
                    <div class="display-grid-40-60">
                        <p class="display-label">Application #</p>
                        <p class="display-data">{{SupDetails?.supplierRefNo}}</p>
                        <p class="display-label">Supplier Name</p>
                        <p class="display-data">{{SupDetails?.supplierName}}</p>
                        <p class="display-label">{{ (SupplierManagement?.complianceRenewalBank?.captureBusinessLicenses && SupplierManagement?.licenseCertificate?.length > 0) ? SupplierManagement?.licenseCertificate[0]?.displayLabel : "Commercial License #" }}</p>
                        <p class="display-data">{{SupDetails?.comLicName}}</p>
                        @if(SupDetails?.siteId){
                        <p class="display-label">Site ID #</p>
                        <p class="display-data">{{SupDetails?.siteId}}</p>
                        }
                    </div>
                    <div class="display-grid-40-60">
                        @if(SupDetails?.siteName){
                        <p class="display-label">Site Name</p>
                        <p class="display-data">{{SupDetails?.siteName}}</p>
                        }
                        <p class="display-label">Tax Registration #</p>
                        <p class="display-data">{{SupDetails?.taxRegistertion}}</p>
                        <p class="display-label">Submitted Date</p>
                        <p class="display-data">{{SupDetails?.submittedDate | date:'dd-MMM-yyyy'}}</p>
                        <p class="display-label">Status</p>
                        <!-- <p class="display-data" *ngIf="SupDetails?.status === 1">{Review In Progress}</p>
                        <p class="display-data" *ngIf="SupDetails?.status === 2">Request for Information</p>
                        <p class="display-data" *ngIf="SupDetails?.status === 3">Qualified</p>
                        <p class="display-data" *ngIf="SupDetails?.status === 4">Reject</p> -->
                        <p class="display-data">{{SupDetails?.status}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div [formGroup]="supplierPQAssementFormList">
        <mat-accordion multi class="custom-accordion">

            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep1.set(false)"
                (closed)="panelOpenStep1.set(true)"
                *ngIf="SupplierManagement?.general?.enableQuestionnaireBasedPreQualification === false">
                <mat-expansion-panel-header>
                    <mat-panel-title *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">Pre-Qualification -
                        Score Card Based Assessment</mat-panel-title>
                    <mat-panel-title *ngIf="SupplierManagement?.general?.qualitativeResponseBased === true">Pre-Qualification -
                        Qualitative Response Based Assessment</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mb-3">
                    <div class="table-responsive">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th scope="col">S.No.</th>
                                    <th scope="col">Spend Parent Category</th>
                                    <th scope="col">Spend Sub Category</th>
                                    <th scope="col">Spend Child Category</th>
                                    <th scope="col" *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                        Assigned
                                        Score</th>
                                    <th scope="col" class="text-center"
                                        *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">Given Score
                                    </th>
                                    <th scope="col" *ngIf="SupplierManagement?.general?.qualitativeResponseBased === true">
                                        Response
                                    </th>
                                </tr>
                            </thead>
                            <tbody formArrayName="evaluationCategories">
                                <tr *ngFor="let category of evaluationCategories.controls; let i = index"
                                    [formGroupName]="i" class="cust-field-height">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ category.get('spendParentCategory')?.value }}</td>
                                    <td>{{ category.get('spendSubCategory')?.value }}</td>
                                    <td>{{ category.get('spendChildCategory')?.value }}</td>
                                    <td *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">{{
                                        category.get('assignedScore')?.value }}</td>
                                    <td class="text-end numeric-right-align cxw-100"
                                        *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                        <mat-form-field class="numeric-right-align">
                                            <input matInput (keypress)="allowOnlyNumbers($event)"
                                                (input)="calAvarageCategory($event,i)" formControlName="score"
                                                class="text-right"
                                                [placeholder]="category.get('score')?.value === null ? '0' :''" />
                                        </mat-form-field>
                                    </td>
                                    <td *ngIf="SupplierManagement?.general?.qualitativeResponseBased === true">
                                        <mat-form-field class="w-100">
                                            <mat-select formControlName="qualitativeResponse" required>
                                                <mat-option [value]="true">Yes</mat-option>
                                                <mat-option [value]="false">No</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </tr>
                                <tr class="bg-light" *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    <td class="text-right text-bold" colspan="6">
                                        Average Score:<span class="ps-2 me-2">{{ aggreCatScore | number:
                                            '1.1-2'}}</span></td> 
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mb-3">
                <div class="table-responsive">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col" width="10%">Serial #</th>
                                <th scope="col">Evaluation Criteria</th>
                                <th scope="col" width="10%"
                                    *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    Weightage</th>
                                <th scope="col" *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    Assigned
                                    Score</th>
                                <th *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">Given
                                    Score</th>
                                <th *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">Weighted
                                    Score</th>
                                <th scope="col" class="cxw-100"
                                    *ngIf="SupplierManagement?.general?.qualitativeResponseBased === true">
                                    Response
                                </th>
                            </tr>
                        </thead>
                        <tbody formArrayName="supplierScores">
                            <tr class="cust-field-height" *ngFor="let score of supplierScores.controls; let i = index"
                                [formGroupName]="i">
                                <td>{{i + 1}}</td>
                                <td>{{ score.get('evaluationCriteria')?.value }}</td>
                                <td style="text-align: right;"
                                    *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    {{ score.get('weightage')?.value }}</td>
                                <td style="text-align: right;"
                                    *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">{{
                                    score.get('assignedScore')?.value }}</td>
                                <td style="text-align: right;" class="numeric-right-align"
                                    *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    <mat-form-field>
                                        <input matInput placeholder="0" (keypress)="allowOnlyNumbers($event)" [readonly]="score.get('evaluationCriteria')?.value === 'Average Category Score'"
                                            (input)="calAggregateScore($event,i)" class="text-right"
                                            formControlName="givenScore"
                                            [placeholder]="score.get('givenScore')?.value === null ? '0' :''">
                                    </mat-form-field>
                                    <!-- /{{score.get('assignedScore')?.value}} -->
                                </td>
                                <td style="text-align: right;"
                                    *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                    <!-- <mat-form-field > -->
                                    <!-- {{ score.get('assignedScore')?.value / score.get('givenScore')?.value * score.get('weightage')?.value}} -->
                                    <!-- </mat-form-field> -->
                                    <div *ngIf="getCalculatedScore(i) !== 'Infinity'" >{{getCalculatedScore(i)}}
                                    </div>
                                    <div *ngIf="getCalculatedScore(i) === 'Infinity'">0</div>
                                </td>
                                <td class="cxw-100 text-right"
                                    *ngIf="SupplierManagement?.general?.qualitativeResponseBased === true">
                                    <mat-form-field class="w-100">
                                        <mat-select formControlName="qualitativeResponse" required>
                                            <mat-option [value]="true">Yes</mat-option>
                                            <mat-option [value]="false">No</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr class="" *ngIf="SupplierManagement?.general?.balanceScoreCardBased === true">
                                <td class="text-right text-bold" colspan="6" >Aggregated
                                    Score:<span class="ps-2">{{getTotalScore()}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep2.set(false)"
                (closed)="panelOpenStep2.set(true)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="Xcustom-panel-header">Supplier Grade and Segmentation</mat-panel-title>
                </mat-expansion-panel-header>
                <div formGroupName="supplierGradeSegmentation">
                    <div class="grid-5cols">
                        <mat-form-field class="col">
                            <mat-label>Supplier Grade</mat-label>
                            <mat-select formControlName="supplierGrade" required>
                                <mat-option value="">Please select</mat-option>
                                <mat-option value="1">A</mat-option>
                                <mat-option value="2">B</mat-option>
                                <mat-option value="3">C</mat-option>
                                <mat-option value="4">D</mat-option>
                                <mat-option value="5">E</mat-option>
                            </mat-select>
                            <mat-error
                                *ngIf="supplierPQAssementFormList.get('supplierGradeSegmentation.supplierGrade')?.hasError('required') ">
                                Supplier Grade is required.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="col" *ngIf="SupplierManagement?.complianceRenewalBank?.segment === 1 || 
                            SupplierManagement?.complianceRenewalBank?.segment === 2 || SupplierManagement?.complianceRenewalBank?.segment === 3 ||
                            SupplierManagement?.complianceRenewalBank?.segment === 4">
                            <!-- <mat-label>{{SupplierManagement?.complianceRenewalBank?.segemnt1}}</mat-label> -->
                            <mat-label>Segment 1</mat-label>
                            <mat-select formControlName="segment1">
                                <mat-option value="1">Agency / Dealers</mat-option>
                                <mat-option value="2">Whole Sale</mat-option>
                                <mat-option value="3">Retail Dealer</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col"
                            *ngIf="SupplierManagement?.complianceRenewalBank?.segment === 2 ||
                            SupplierManagement?.complianceRenewalBank?.segment === 3 || SupplierManagement?.complianceRenewalBank?.segment === 4">
                            <!-- <mat-label>{{SupplierManagement?.complianceRenewalBank?.segemnt2}}</mat-label> -->
                            <mat-label>Segment 2</mat-label>
                            <mat-select formControlName="segment2">
                                <mat-option value="1">Whole Sale</mat-option>
                                <mat-option value="2">Agency / Dealers</mat-option>
                                <mat-option value="3">Retail Dealer</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col" *ngIf="SupplierManagement?.complianceRenewalBank?.segment === 3 ||
                            SupplierManagement?.complianceRenewalBank?.segment === 4">
                            <!-- <mat-label>{{SupplierManagement?.complianceRenewalBank?.segemnt3}}</mat-label> -->
                            <mat-label>Segment 3</mat-label>
                            <mat-select formControlName="segment3">
                                <mat-option value="1">Retail Dealer</mat-option>
                                <mat-option value="2">Whole Sale</mat-option>
                                <mat-option value="3">Agency / Dealers</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col" *ngIf="SupplierManagement?.complianceRenewalBank?.segment === 4">
                            <!-- <mat-label>{{SupplierManagement?.complianceRenewalBank?.segemnt4}}</mat-label> -->
                            <mat-label>Segment 4</mat-label>
                            <mat-select formControlName="segment4">
                                <mat-option value="1">Industry Equipment</mat-option>
                                <mat-option value="2">Whole Sale</mat-option>
                                <mat-option value="3">Agency / Dealers</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="d-flex flex-row justify-content-start mt-2" style="margin-left: -10px;">
                        <mat-checkbox formControlName="notToInviteForTender" class="ml-0"
                            style="font-size: 13px !important;">Not to Include in Sourcing
                            Events</mat-checkbox>
                        <mat-checkbox formControlName="notToRemindForCommercialLicenseExpiry"
                            style="font-size: 13px !important;" class="ml-0 ft">Not to
                            Remind for License Expiry</mat-checkbox>
                    </div>
                </div>

            </mat-expansion-panel>
            <!-- </mat-accordion>
        <mat-accordion> -->
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep3.set(false)"
                (closed)="panelOpenStep3.set(true)">
                <mat-expansion-panel-header>
                    <mat-panel-title class="Xcustom-panel-header">Credit Assessment</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="table-responsive">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Description </th>
                                <th scope="col">Currency</th>
                                <th scope="col">Credit Limit</th>
                                <th scope="col">Credit Exposure Limit</th>
                                <th scope="col">Project Limit</th>
                            </tr>
                        </thead>
                        <tbody formGroupName="creditAssessment">
                            <tr class="cust-field-height">
                                <td>Requested By Supplier</td>
                                <td>{{getProcessedText()}}</td>
                                <td class="text-end">
                                    <div *ngIf="SupDetails?.creditLimit">{{SupDetails?.creditLimit}}</div>
                                    <div *ngIf="!SupDetails?.creditLimit">N/A</div>
                                </td>
                                <td class="text-end">
                                    <div *ngIf="SupDetails?.creditExposureLimit">
                                        {{SupDetails?.creditExposureLimit}}</div>
                                    <div *ngIf="!SupDetails?.creditExposureLimit">N/A</div>
                                </td>
                                <td class="text-end">
                                    <div *ngIf="SupDetails?.projectLimit">{{SupDetails?.projectLimit}}</div>
                                    <div *ngIf="!SupDetails?.projectLimit">N/A</div>
                                </td>
                            </tr>
                            <tr class="cust-field-height"
                                *ngFor="let credit of creditAssessment.controls; let i = index" [formGroupName]="i">
                                <td>Approved By PQ</td>
                                <td>{{getProcessedText()}}</td>
                                <td class="numeric-right-align">
                                    <mat-form-field class="w-100">
                                        <input [systemParameter]="systemParameter" formatCurrency matInput
                                            placeholder="" class="text-right" formControlName="requestedCreditLimit"
                                            allowNumberOnly>
                                    </mat-form-field>
                                </td>
                                <td class="numeric-right-align">
                                    <mat-form-field class="w-100">
                                        <input [systemParameter]="systemParameter" formatCurrency matInput
                                            placeholder="" class="text-right"
                                            formControlName="requestedCreditExposureLimit" allowNumberOnly>
                                    </mat-form-field>
                                </td>
                                <td class="numeric-right-align">
                                    <mat-form-field class="w-100">
                                        <input [systemParameter]="systemParameter" formatCurrency matInput
                                            placeholder="" class="text-right" formControlName="requestedProjectLimit"
                                            allowNumberOnly>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
            <!-- </mat-accordion>
        <mat-accordion> -->
            <mat-expansion-panel [expanded]="isOpen" class="pq-fee-details" (opened)="panelOpenStep4.set(false)"
                (closed)="panelOpenStep4.set(true)"
                *ngIf="SupplierManagement?.general?.registrationFeeWithApplication === true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="Xcustom-panel-header">Fee Details</mat-panel-title>
                </mat-expansion-panel-header>
                <div formGroupName="feeDetails" class="d-flex flex-row align-items-center">
                    <div class="numeric-right-align">
                        <mat-label class="ft-size13">Normal Registration Fee: </mat-label>
                        <mat-form-field class="col">
                            <input [systemParameter]="systemParameter" formatCurrency matInput placeholder=""
                                type="number" class="text-right" formControlName="supplierName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4 mt-4">
                        <button class="header-level-btn-blue">Click to Process Payment
                        </button>
                    </div>
                </div>
            </mat-expansion-panel>
            <!-- </mat-accordion>
        <mat-accordion> -->
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep5.set(false)"
                (closed)="panelOpenStep5.set(true)" *ngIf="seekClarifications?.length !== 0">
                <mat-expansion-panel-header>
                    <mat-panel-title class="Xcustom-panel-header">Clarifications History</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="table-responsive">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col">Details</th>
                                <th scope="col">Requested By</th>
                                <th scope="col" class="cxw-150">Requested Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                        <td class="text-center">1</td>
                                        <td>Attach the Organization Profile</td>
                                        <td>James</td>
                                        <td>23-Nov-24</td>
                                    </tr> -->
                            <tr *ngFor="let seekclarification of seekClarifications; let i = index">
                                <td class="Xtext-center">{{ i+1 }}</td>
                                <td>{{seekclarification?.details | titlecase}}</td>
                                <td>{{seekclarification?.requestedBy | titlecase}}</td>
                                <td>{{seekclarification?.requestedDate | date: 'dd-MMM-yy'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-expansion-panel>
            <!-- </mat-accordion>
        <mat-accordion> -->
            <div #commentSection>
                <div *ngFor="let wfHistory of checkIfWFLevelAvialbale;">
                    @if(userData?.userId === wfHistory?.assignedToUserId 
                    && wfHistory?.actionTaken === WorkFlowStatusForLevelWise.LEVELPENDING
                    && wfHistory?.keyValue === SupDetails?.supplierRefNo
                    ){
                        <mat-expansion-panel [expanded]="isOpen" class="pq-fee-details" (opened)="panelOpenStep4.set(false)"
                         (closed)="panelOpenStep4.set(true)">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="Xcustom-panel-header">WorkFlow Details</mat-panel-title>

                        </mat-expansion-panel-header>
                        <mat-label class="ft-size13">Comments</mat-label>
                        <mat-form-field class="w-100">
                            <textarea matInput [(ngModel)]="wfDetailsComments"
                                [ngModelOptions]="{standalone: true}"></textarea>
                        </mat-form-field>
                        @if(!showReqInfoTabs){
                        <div class="footer-action-btn">
                            @if(wfHistory?.onlyReject){
                            <button   matTooltip="Reject" class="btn-gray"
                                (click)="rejectVerifyPopup(wfHistory)"><i
                                    class="fa fa-thumbs-down pe-2"></i>Reject</button>
                            }
                            <div class="middle-spacer"></div>
                            @if(wfHistory?.onlyApprove){
                            <button   class="btn-blue" matTooltip="Approve"
                                (click)="updateWFStatus(WorkFlowStatusForLevelWise.LEVELAPPROVED,wfHistory)"><i
                                    class="fa fa-thumbs-up pe-2" aria-hidden="true"></i>Approve</button>
                            }
                            @if(wfHistory?.onlyReqInfo){
                            <button   class="btn-blue" matTooltip="Request Info"
                                (click)="showReqInfoTabs = true"><i class="fa fa-info-circle pe-2"
                                    aria-hidden="true"></i>Request Info</button>
                            }

                        </div>
                        }
                        <!-- Show req for Info data -->
                        @if(showReqInfoTabs){
                        <div class="footer-action-btn">
                            <div class="d-flex flex-row justify-content-start mt-2" style="margin-left: -10px;">
                                <mat-checkbox class="ml-0" style="font-size: 13px !important;" checked="true"
                                    disabled="true">
                                    Req Info to initiator
                                </mat-checkbox>
                                <mat-checkbox style="font-size: 13px !important;" class="ml-0 ft" disabled="true">
                                    Req Info to specific user
                                </mat-checkbox>
                                <mat-checkbox style="font-size: 13px !important;" class="ml-0 ft" disabled="true">
                                    Req Info to any user
                                </mat-checkbox>
                            </div>

                            <div class="middle-spacer"></div>
                            <button  color="warn" matTooltip="Cancel" class="btn-gray"
                                (click)="showReqInfoTabs = false"><i class="fa fa-arrow-left-o pe-2"
                                    aria-hidden="true"></i>Cancel</button>
                            <button   class="btn-blue" matTooltip="Ok"
                                (click)="updateWFStatus(WorkFlowStatusForLevelWise.LEVELREQFORINFO ,wfHistory)"><i
                                    class="fa fa-thumbs-up pe-2" aria-hidden="true"></i>Ok</button>
                        </div>
                        }
                    </mat-expansion-panel>
                    }
                </div>
            </div>

            <mat-expansion-panel [expanded]="isOpen" class="pq-fee-details" (opened)="panelOpenStep4.set(false)"
                (closed)="panelOpenStep4.set(true)" *ngIf="workFlowRowData?.length !== 0">
                <mat-expansion-panel-header>
                    <div class="my-panel" (click)="$event.stopPropagation();">
                        <mat-panel-title>WorkFlow Status</mat-panel-title>
                        <mat-panel-description>
                            <button class="header-level-btn-blue" (click)="wfHistory()"><i
                                    class="fa fa-info-circle pe-2"></i> History
                            </button>
                        </mat-panel-description>
                    </div>
                </mat-expansion-panel-header>
                <div class="p-1">
                    <ag-grid-angular [theme]="theme" [rowData]="workFlowRowData" [columnDefs]="workFlowStatuscolDefs"
                        [defaultColDef]="defaultColDef" [pagination]="pagination"
                        [paginationPageSize]="paginationPageSize"
                        [paginationPageSizeSelector]="paginationPageSizeSelector" />
                </div>
            </mat-expansion-panel>
            <!-- <mat-expansion-panel expanded (opened)="panelOpenStep6.set(false)" (closed)="panelOpenStep6.set(true)" *ngIf="workFlowHistory?.length !== 0">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="Xcustom-panel-header">Workflow History</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="table-responsive">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th scope="col">Serial #</th>
                                    <th scope="col">Assigned User</th>
                                    <th scope="col">Comments</th>
                                    <th scope="col">Action Date</th>
                                    <th scope="col">Estimated Date of Completion</th>
                                    <th scope="col">Action Taken</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let wfHistory of workFlowHistory; let i = index">
                                    <td Xclass="text-center">{{ i+1 }}</td>
                                    <td>{{wfHistory?.assignedUser}}</td>
                                    <td>{{wfHistory?.comments}}</td>
                                    <td>{{wfHistory?.actionDate | date: 'dd-MMM-yy' }}</td>
                                    <td>{{wfHistory?.estimatedDateOfCompletion | date: 'dd-MMM-yy' }}</td>
                                    <td>{{wfHistory?.actionTaken}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </mat-expansion-panel> -->

                <!-- <mat-expansion-panel *ngIf="userData?.
                 === 4" expanded (opened)="panelOpenStep7.set(false)"
                    (closed)="panelOpenStep7.set(true)">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="Xcustom-panel-header">Approver Action</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="pq-score-card">
                        <form [formGroup]="approvalHistory">
                            <div class="table-responsive">
                                <table class="table table-flush data-table-css text-center">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">Assigned User</th>
                                            <th scope="col">User Role</th>
                                            <th scope="col">Action Date</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" formArrayName="approvalArray">
                                        <tr *ngFor="let apHistory of approvalArray.controls; let i = index"
                                            [formGroupName]="i">
                                            <td class="text-center">{{apHistory.get('assignedUser')?.value}}</td>
                                            <td>{{apHistory.get('userId')?.value}}</td>
                                            <td>{{apHistory.get('actionDate')?.value | date: 'dd-MMM-yy' }}</td>
                                            <td>
                                                <mat-form-field>
                                                    <mat-select placeholder="Status" class="w-100"
                                                        formControlName="status">
                                                        <mat-option *ngFor="let approval of approvalList"
                                                            (change)="stausChange(approval?.name, i)"
                                                            [value]="approval.name">{{approval.name |
                                                            titlecase}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field appearance="fill" class="example-full-width">
                                                    <textarea matInput formControlName="comments"
                                                        placeholder="Write your comments here..."></textarea>
                                                </mat-form-field>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </mat-expansion-panel> -->
            </mat-accordion>
        </div>

        @if(!hideAllButtons){
            <div class="footer-action-btn">
              
                    <!-- Seek Clarifications -->
                    <button mat-flat-button [disabled]="!isSeekClarificationEnable" class="btn-blue"
                        (click)="seekClarification()"><i class="fa fa-eye pe-2" aria-hidden="true"></i>Seek
                        Clarifications</button>
                    <!-- Notify -->
                    <button mat-flat-button [disabled]="!isNotifyEnable" class="btn-blue" (click)="notifySupplier()"><i
                            class="fa fa-bell pe-2" aria-hidden="true"></i>Notify
                    </button>
                    <!-- Engagements -->
                    <button mat-flat-button class="btn-blue" disabled><i class="fa fa-handshake-o pe-2"
                            aria-hidden="true"></i>Engagements</button>
                <div class="middle-spacer"></div>
            
            
               
                    <!-- Save as draft -->
                    <button mat-flat-button color="primary" class="btn-blue" (click)="SavePqAssesment()"
                        [disabled]="!isSaveAsDraftEnable"><i class="fa fa-floppy-o pe-2"
                            aria-hidden="true"></i>Save as Draft</button>
                    <!-- Process workflow -->
                    <button mat-flat-button class="btn-blue" [disabled]="!isProcessWFEnable" color="primary"
                        (click)="processApproval()"><i class="fa fa-check-circle pe-2" aria-hidden="true"></i>Process workflow
                    </button>
                    <!-- Assign Entity Button -->
                     @if(showAssignEntity){
                         <button [disabled]="!isAssignEntityEnable" mat-flat-button class="btn-blue" (click)="supplierAssignEntity()"><i
                                 class="fa fa-check pe-2" aria-hidden="true"></i>Assign Entity</button>
                     }
               
                @if(showMapErpBtn){
                  
                        <!-- Map ERP -->
                        <button [disabled]="!isMapErpEnable" mat-flat-button class="btn-blue" (click)="supplierManualMap()"><i
                            class="fa fa-street-view pe-2" aria-hidden="true"></i>Map ERP</button>
                   
                }
            </div>
        }

</div>
