<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Master Services >> Service
            Requests</h2>
    </div>
    <div class="content-box p-2">
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Prime Consultant
                <span class="status-label">Status: <span class="status-state">Active</span></span>
            </h5>
            <div class="widget-content">
                <div class="grid-5cols">
                    <mat-form-field>
                        <mat-label>Supplier Code</mat-label>
                        <input matInput value="23125">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Supplier Name</mat-label>
                        <input matInput value="Harsha Network">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ref #</mat-label>
                        <input matInput value="1000">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Request Date</mat-label>
                        <input matInput [matDatepicker]="dp1">
                        <mat-datepicker-toggle value="10-Jan-2025" matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Service Request Type</mat-label>
                        <mat-select required id="field_investorTypeId" [(value)]="selected"
                            (valueChange)="requestChange($event)">
                            <mat-option value="Request for Promotion">Request for Promotion</mat-option>
                            <mat-option value="Request for Rate Change">Request for Rate Change</mat-option>
                            <mat-option value="Request for Overtime Assessment">Request for Overtime
                                Assessment</mat-option>
                            <mat-option value="Request for Sub-Consultant">Request for Sub-Consultant</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 mb-1 d-flex align-items-center justify-content-start">
                Service Requests : <span class="ft-bold ms-2">{{selected}}</span>
                <!-- <span class="status-label">Status: <span class="status-state">Draft</span></span> -->
            </h5>
            <div class="widget-content">
                <div class="grid-3cols">

                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Master Service Aggrement
                        </h5>
                        <div class="widget-content">
                            <div class="grid-1cols">
                                <mat-form-field>
                                    <mat-label>Ref #</mat-label>
                                    <input matInput  placeholder="" value="MP29029">
                                    <mat-error>Error valid message</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Supporting for Engineering projects for 1 year"
                                        disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Work Plan Details
                        </h5>
                        <div class="widget-content">
                            <div class="grid-1cols">
                                <mat-form-field>
                                    <mat-label>Ref #</mat-label>
                                    <input matInput  placeholder="" value="WP29029">
                                    <mat-error>Error valid message</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Supporting for Engineering projects for 1 year"
                                        disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Project Details
                        </h5>
                        <div class="widget-content">
                            <div class="grid-1cols">
                                <mat-form-field>
                                    <mat-label>Ref #</mat-label>
                                    <input matInput  placeholder="" value="PD29029">
                                    <mat-error>Error valid message</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder="Supporting for Engineering projects for 1 year"
                                        disabled></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box" *ngIf="!showConsultant">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Details
                <button  class="small-btn-action"  matTooltip="Search & Add Suppliers"
               ><i class="fa fa-plus"></i></button>
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 80px;">Serial #</th>
                                <th scope="col">Resource ID</th>
                                <th scope="col">Resource Name</th>
                                <th scope="col">Current Designation</th>
                                <th scope="col">Proposed Designation</th>
                                <th scope="col">Effective Date</th>
                                <th scope="col">Reason Code</th>
                                <th scope="col">Reason Description</th>
                                <th scope="col" style="width: 80px;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cust-field-height">
                                <td>1</td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                            <mat-option value="">-- Please Select --</mat-option>
                                            <mat-option value="">RO56788</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Christopher">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Senior Engineer">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Architect">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field >
                                        <input matInput [matDatepicker]="dp1">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </mat-form-field>                                
                                </td><td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="RV001">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Review">
                                    </mat-form-field>
                                </td>
                               
                                
                                <td style="width: 80px;" class="text-center">
                                 <i class="fa fa-trash"></i>
                                </td>
                            </tr>
                            <tr class="cust-field-height">
                                <td>2</td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                            <mat-option value="">-- Please Select --</mat-option>
                                            <mat-option value="">RO56788</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Christopher">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Senior Engineer">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Architect">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field >
                                        <input matInput [matDatepicker]="dp1">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </mat-form-field>                                
                                </td><td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="RV001">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-120">
                                        <input matInput  class="text-right" value="Review">
                                    </mat-form-field>
                                </td>
                               
                                
                                <td style="width: 80px;" class="text-center">
                                 <i class="fa fa-trash"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box"  *ngIf="showConsultant">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Sub Consultant Details
                <span class="status-label">Status: <span class="status-state">Active</span></span>
            </h5>
            <div class="widget-content">
                <div class="grid-4cols">
                    <mat-form-field>
                        <mat-label>Commercial Licence Ref #</mat-label>
                        <input matInput value="ABC23125">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput value="Harsha Network">
                    </mat-form-field>
                    </div>
                    <h5 class="widget-title mt-3 PS-0">
                       Contact Details
                    </h5>
                    <div class="grid-4cols">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput value="Roger">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email Id</mat-label>
                        <input matInput value="Roger@gmail.com">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Desk Contact</mat-label>
                        <input matInput value="Tech Head">
                    </mat-form-field>
                    <div class="">
                        <span class="ft-size11">Country Code - Number<sup>*</sup></span>
                    <div class="d-flex align-items-center cust-field-height">
                        <mat-form-field style="width: 140px;">
                            <mat-select 
                                required>
                                <mat-option value="">-- Please Select --</mat-option>
                                <mat-option>
                                   +91
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput  required maxlength="10" />
                        </mat-form-field>
                    </div>
                    </div>
                    </div>
                    <div class="grid-2cols">
                    <mat-form-field>
                        <mat-label>Address Line1</mat-label>
                        <input matInput value="40, George Town">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Address Line2</mat-label>
                        <input matInput value="Parrys">
                    </mat-form-field>
                </div>
                <div class="grid-4cols">
                    <mat-form-field>
                        <mat-label>Country</mat-label>
                        <mat-select required >
                            <mat-option >Tamil Nadu</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>State</mat-label>
                        <mat-select required >
                            <mat-option >Tamil Nadu</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>City</mat-label>
                        <mat-select required >
                            <mat-option >Chennai</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Zip</mat-label>
                        <input matInput value="0004">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Remarks
            </h5>
            <div class="widget-content">
                <textarea matInput class="w-100" placeholder=""></textarea>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Document Section
            </h5>
            <div class="widget-content">
                <div class="grid-25-55-18 align-items-center">
                    <mat-form-field>
                        <mat-label>Document Type</mat-label>
                        <mat-select required >
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput class="w-100" rows="1"></textarea>
                    </mat-form-field>
                    <div class="custom-file-upload mt-3">
                        <button class="file-upload-button">
                            <input class="custom-file-input"
                                id="customFileLang" type="file" #fileInput
                                accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                                 multiple>
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i><span
                                class="ps-2">Upload</span>
                        </button>

                    </div>
                </div>
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col" style="min-width: 100px;">Serial #</th>
                                <th scope="col">Document Type</th>
                                <th scope="col">Description</th>
                                <th scope="col">File Name</th>
                                <th scope="col">Uploaded By</th>
                                <th scope="col">Uploaded Date</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cust-field-height">
                                <td>1</td>
                                <td>
                                   image file
                                </td>
                                <td>
                                   Invoice Copy
                                </td>
                                <td>
                                    invoice.pdf
                                 </td>
                                <td>
                                    Karthick
                                </td>
                                <td>
                                    10-Jan-2025
                                </td>                                
                            </tr>                          
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-action-btn">

        <button class="btn-gray"><i class="fa fa-arrow-circle-o-left pe-2" aria-hidden="true"></i>Cancel</button>
        <div class="middle-spacer"> </div>
        <button class="btn-blue">
            <i class="fa fa-floppy-o pe-2" aria-hidden="true"></i>Save As Draft </button>
        <button class="btn-blue">
            <i class="fa fa-recycle pe-2" aria-hidden="true"></i>Process Workflow</button>
        <button class="btn-blue">
            <i class="fa fa-newspaper-o pe-2" aria-hidden="true"></i>Publish</button>

    </div>
</div>