<div class="widget-box">    
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Milestone
    </h5>
            <div class="widget-content">
                <div class="table-responsive">
                    <table class="content-table vw-100">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col" >Description</th>
                                <th scope="col" >Milestone Description</th>
                                <th scope="col" >Fixed value or %</th>
                                <th scope="col" >value</th>
                                <th scope="col" >Expanded Value</th>
                                <th scope="col" >Billable</th>
                                <th scope="col" >Advance Payable</th>
                                <th scope="col" >Reserve Fund</th>
                                <th scope="col" >Completion Date</th>
                                <th scope="col" style="width:100px !important; display: flex; justify-content: space-between;" >
                                    Action
                                    <mat-icon  matTooltip="Add Row" class="cust-primary-btn">add_box</mat-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="cust-field-height">
                                <td>1</td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                           <mat-option value="">-- Please Select --</mat-option>
                                           <mat-option value="">Dozen</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                           <mat-option value="">-- Please Select --</mat-option>
                                           <mat-option value="">Dozen</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                           <mat-option value="">-- Please Select --</mat-option>
                                           <mat-option value="">Dozen</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100 numeric-right-align">
                                        <input matInput placeholder="" class="text-right"  value="10">
                                    </mat-form-field>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td class="text-center">
                                    <mat-checkbox></mat-checkbox>
                                </td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <input matInput [matDatepicker]="dp1">
                                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                        <mat-datepicker #dp1></mat-datepicker>
                                    </mat-form-field>
                                </td>
                                <!-- <td>
                                    <mat-form-field class="mxW-100">
                                        <input matInput placeholder="" class="text-right"  value="">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="mxW-100">
                                        <input matInput placeholder="" class="text-right"  value="">
                                    </mat-form-field>
                                </td> -->
                                <td class="mxW-150 text-center">
                                  <i class="fa fa-trash text-danger"></i>
                                </td>
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
