<div class="dialog-container">
    
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Assign Entity" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
    <mat-dialog-content >
        <div class="widget-box">
            <h5 class="widget-title">Header Details</h5>
            <div class="widget-content"> 
                <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                    <div class="d-flex flex-row w-100">
                        <div class="col col-separator">
                            <mat-label class="preLabel">Template ID</mat-label>
                            <p class="preData">{{templateData.templateId}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Short Name</mat-label>
                            <p class="preData">{{templateData.shortName}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Decription</mat-label>
                            <p class="preData">{{templateData.description}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Type</mat-label>
                            <p class="preData">{{templateData.contractType}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Classification</mat-label>
                            <p class="preData">{{templateData.contractClassification}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Version</mat-label>
                            <p class="preData">{{templateData.version}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Create Date</mat-label>
                            <p class="preData">{{templateData.createDate | date: (commonService.showFormat)}}</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>

        <div class="widget-box" style="margin-bottom: 5%;">
            <h5 class="widget-title">Assign Entity</h5>
            <div class="widget-content"> 
                <div>
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col">Entity Code</th>
                                <th scope="col">Entity Name</th>
                                <th scope="col">Status</th>
                                <th scope="col">Reason</th>
                                <th scope="col">Description</th>
                                <th scope="col">
                                <span>
                                    <mat-checkbox  class="" [(ngModel)]="assignAll"
                                    (change)="selectAll($event)"></mat-checkbox>
                                </span> AssignAll
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @for (ed of entityData; track ed; let idx = $index) {
                            <tr>
                                <td>{{idx + 1}}</td>
                                <td>{{ed.entityCode}}</td>
                                <td>{{ed.entityName}}</td>
                                <td> <span class="badge text-bg-success ms-1 px-2">{{ed.status}}</span></td>
                                <td>{{ed.reason}}</td>
                                <td>{{ed.description}}</td>
                                <td class="text-center"> <mat-checkbox (change)="selectRow($event)"
                                        [(ngModel)]="ed.isChecked"></mat-checkbox></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="table-footer">
                        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                            aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
		<div class="footer-action-btn">
				<button    class="btn-gray" mat-dialog-close cdkFocusInitial>
					<i class="fa fa-ban pe-2"></i>Close
                </button> 
			<div class="middle-spacer"></div>
			<button   class="btn-blue" [disabled]="disableSave" (click)="submit()">
				<i class="fa fa-paper-plane pe-2"></i>Submit
			</button>
		</div>
	</mat-dialog-actions>
</div>