@import "../../../--theme-variables.scss";

.display-box {
  display: grid;
  grid-template-columns: 40% 60%;

  p {
    margin-bottom: 0;
  }

  border-left: 1px dotted $AirForceBlue;
  padding-left: 10px;

  &:first-child {
    border: 0;
    padding-left: 0px;
  }

}

.display-box-inco {
  display: grid;
  grid-template-columns: 30% 70%;

  p {
    margin-bottom: 0;
    line-height: 25px !important;
  }

  border-left: 1px dotted $AirForceBlue;
  padding-left: 10px;

  &:first-child {
    border: 0;
    padding-left: 0px;
  }

}