<div class="dialog-container">
    <div mat-dialog-title>
        <h3>Compare - Supplier CQA</h3>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div>
    <mat-dialog-content>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Quotation Comparision
            </h5>
            <div class="widget-content">
                <table class='table-border'>
                    <tr>
                        <td class='p5w'>Serial #</td>
                        <td class='p15w'>Item Details (BOQ)</td>
                        <td class='p15w'></td>
                        <td class='p65w text-center'>
                           
                        </td>
                    </tr>
                    <tr>
                        <td class='p5w'></td>
                        <td class='p15w'></td>
                        <td class='p15w'>
                            <p style="margin-bottom: 1px;">Serial #</p>
                            <p>Supplier Code</p>
                            <p>Supplier Name</p>
                            <p>Grade</p>
                            <p>Response #</p>
                            <p>Response Date</p>
                            <p>Validity of Proposal</p>
                            <p>Revised Validity of Proposal</p>
                            <p>Response Currency</p>
                            <p>Ex-Rate</p>
                        </td>
                        <td class='p65w' rowspan="5">
                          
                                        <div class="grid-5cols">
                                           
                                            <div>
                                               <p>Supplier # 3</p>
                                                <p>ER26456</p>
                                                <p>Audi</p>
                                                <p>A</p>
                                                <p>2746265427</p>
                                                <p>23-07-2024</p>
                                                <p>23-09-2024</p>
                                                <p>NA</p>
                                                <p>INR-</p>
                                                <p class="text-right">87.01</p>


                                                <p>23-09-2024</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">11.14</p>
                                                <p>L3</p>
                                                <p>23-09-2024</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="text-right">229.51</p>
                                                <p>L2</p>
                                                <p class="text-right">23-09-2024</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="text-right">229.51</p>
                                                <p>L1</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="ft-size11">DAP - Delivered at Place</p>
                                                <p class="text-right">248</p>
                                                <p class="text-right">970</p>
                                                <p class="text-right">0</p>
                                                <p class="text-right">0</p>
                                                <p class="text-right">150</p>
                                                <p class="text-right">1120</p>
                                                <p>Pay Net 30-Days</p>
                                                <p>T1</p>
                                                <p>L1</p>
                                                <p>1</p>
                                               <p>NA</p>
                                            </div>
                                            <div>
                                                <p>Supplier # 8</p>
                                                <p>ER26456</p>
                                                <p>Audi</p>
                                                <p>A</p>
                                                <p>2746265427</p>
                                                <p>23-07-2024</p>
                                                <p>23-09-2024</p>
                                                <p>NA</p>
                                                <p>INR-</p>
                                                <p class="text-right">87.01</p>


                                                <p>23-09-2024</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">971.47</p>
                                                <p class="text-right">11.14</p>
                                                <p>L3</p>
                                                <p>23-09-2024</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="text-right">229.51</p>
                                                <p>L2</p>
                                                <p class="text-right">23-09-2024</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="text-right">229.51</p>
                                                <p>L1</p>
                                                <p class="text-right">1000.76</p>
                                                <p class="text-right">2000.76</p>
                                                <p class="text-right">11.48</p>
                                                <p class="ft-size11">DAP - Delivered at Place</p>
                                                <p class="text-right">248</p>
                                                <p class="text-right">970</p>
                                                <p class="text-right">0</p>
                                                <p class="text-right">0</p>
                                                <p class="text-right">150</p>
                                                <p class="text-right">1120</p>
                                                <p>Pay Net 30-Days</p>
                                                <p>T1</p>
                                                <p>L1</p>
                                                <p>1</p>
                                                <p>Awarded</p>
                                            </div>
                                           
                                        </div>
                        </td>
                    </tr>
                    <tr>
                        <td class='p5w'>1</td>
                        <td class='p15w'>
                            <p>Group Name:NA</p>
                            <p>Code: 3456</p>
                            <p>Description: Rear Tyre</p>
                            <p>UOM: NOS</p>
                            <p>Quantity: 10</p>
                            <p>Need By Date: 23-Sep-2024</p>
                        <td class='p15w'>
                            <p>Del-Date</p>
                            <p>Rate - TC</p>
                            <p>Value - TC</p>
                            <p>Rate - FC</p>
                            <p>Value - FC</p>
                            <p>Item Rank</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='p5w'>2</td>
                        <td class='p15w'>
                            <p>Group Name:NA</p>
                            <p>Code: 3456</p>
                            <p>Description: Rear Tyre</p>
                            <p>UOM: NOS</p>
                            <p>Quantity: 10</p>
                            <p>Need By Date: 23-Sep-2024</p>
                        <td class='p15w'>
                            <p>Del-Date</p>
                            <p>Rate - TC</p>
                            <p>Value - TC</p>
                            <p>Rate - FC</p>
                            <p>Value - FC</p>
                            <p>Item Rank</p>
                        </td>
                    </tr>
                    <tr>
                        <td class='p5w'>3</td>
                        <td class='p15w'>
                            <p>Group Name:NA</p>
                            <p>Code: 3456</p>
                            <p>Description: Rear Tyre</p>
                            <p>UOM: NOS</p>
                            <p>Quantity: 10</p>
                            <p>Need By Date: 23-Sep-2024</p>
                        <td class='p15w'>
                            <p>Del-Date</p>
                            <p>Del-Date</p>
                            <p>Value - TC</p>
                            <p>Rate - FC</p>
                            <p>Value - FC</p>
                            <p>Item Rank</p>
                        </td>
                    </tr>

                    <tr>
                        <td class='p5w' colspan="2"></td>
                        <td class='p15w'>
                            <p>Discount</p>
                            <p>Net Value</p>
                            <p>Tax</p>
                            <p>Shipping Terms</p>
                            <p>INCO / Other - Supplier</p>
                            <p>Total Amount</p>
                            <p>Original Price</p>
                            <p>% Reduction</p>
                            <p>INCO / Other - Buyer</p>
                            <p>Total Cost to Buyer</p>
                            <p>Payment Terms</p>
                            <p>Technical Ranking</p>
                            <p>Financial Ranking</p>
                            <p>Overall Ranking</p>
                            <p>Award to</p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="footer-action-btn">
            <button color="warn" class="btn-gray" mat-dialog-close cdkFocusInitial><i
                    class="fa fa-ban pe-2"></i>Cancel</button>
            <div class="middle-spacer"></div>
          
        </div>

    </mat-dialog-actions>
</div>