.grid-user{
    display: grid;
    grid-template-columns: 10% 29% 30% 29%;
    gap: 10px;
}

.grid-user-2nd-row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
}

.grid-75-25{
    display: grid;
    grid-template-columns: 74.5% 25%;
    gap: 5px;
}

.grid-45-55{
    display: grid;
    grid-template-columns: 45% 55%;
}


.pwd-input {
    position: relative;
    .eye-icon {
      position: absolute;
      right: -4px;
      top: -1px;
    }
    .icons-place {
        position: absolute;
        left: 2px;
        top: 1px;
        z-index: 1;
    }
  }

