<div mat-dialog-title class="d-flex flex-row justify-content-start align-items-center">
    <div class="col-md-12">{{ "Contract Renewal Guidelines" | translate }}</div>
    <!-- <div class="helper-text-align-right">
        <button mat-icon-button  mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div> -->
</div>
<mat-dialog-content class="bg-white">
    <div class="guideline">
        <div class="commonDialogWidget">
            <div class="widgetHeader">
                <h5 class="widgetHeading">Header Details</h5>
            </div>
            <div class="widgetContent p-2">
                <div class="col">
                    <mat-label class="preLabel">Existing Contract Ref #</mat-label>
                    <p class="preData">CN/2055</p>
                </div>
                <div class="col">
                    <mat-label class="preLabel">Contract Name</mat-label>
                    <p class="preData">Contract for Servers and Server Hardware</p>
                </div>
                <div class="col">
                    <mat-label class="preLabel">Description</mat-label>
                    <p class="preData">Contract for Servers and Server Hardware</p>
                </div>
            </div>
        </div>
        <div class="commonDialogWidget">
            <div class="widgetHeader">
                <h5 class="widgetHeading">Timeline</h5>
            </div>
            <div class="widgetContent p-2">
                <div class="col">
                    <mat-label class="preLabel">Existing Start Date</mat-label>
                    <p class="preData">01-Nov-2024</p>
                </div>
                <div class="col">
                    <mat-label class="preLabel">Existing End Date</mat-label>
                    <p class="preData">31-Dec-2024</p>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Renewed start Date</mat-label>
                        <input matInput [matDatepicker]="dp1">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <mat-label>Renewed End Date</mat-label>
                        <input matInput [matDatepicker]="dp2">
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="commonDialogWidget">
            <div class="widgetHeader">
                <h5 class="widgetHeading">Terms and Condition</h5>
            </div>
            <div class="widgetContent p-2">
                <div class="d-flex">
                    <p class="mb-0">Do you want to renew the Contract?</p>
                </div>
                <mat-radio-group class="guideline d-flex">
                    <mat-radio-button>With same Terms and Conditions</mat-radio-button>
                    <mat-radio-button>With Modified Terms and Conditions</mat-radio-button>
                </mat-radio-group>
                <div class="d-flex">
                    <p class="mb-0">If Renewals is with modified T&C, Allow modifications of</p>
                </div>
                <section class="col-grid">
                    <mat-checkbox>Terms and Conditions</mat-checkbox>
                    <mat-checkbox>Milestones</mat-checkbox>
                    <mat-checkbox>Commercials</mat-checkbox>
                    <mat-checkbox>Performance Bond</mat-checkbox>
                    <mat-checkbox>Documents</mat-checkbox>
                    <mat-checkbox>Compliance</mat-checkbox>
                </section>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button  >
        Save
    </button>
    <button mat-stroked-button color="warn" mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>