<div class="widget-box">
  <h5 style="height: 35px;" class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
     Supplier Contact Information <span *ngIf="NextButtonValidation()"></span>
     <div class="w-25 justify-content-end text-right d-flex">
        <button class="header-level-btn-gray me-2" [disabled]="disableStatusBased == false"
        *ngIf="SecondarycontactDetails[0]?.firstContactFlag !== true && ClearValues()" (click)="resetForm()">
        <i class="fa fa-refresh pe-2" aria-hidden="true"></i>Clear</button>
     </div>
  </h5>
  <form #target class="me-2">
     <div class="widget-content">
        <div class="grid-4cols">
           <mat-form-field class="col">
              <mat-label>
                 Salutation
              </mat-label>
              <mat-select formControlName="salutationId" required matTooltip="Select Salutation"
                 (selectionChange)="enablePrimaryContactButton()">
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option *ngFor="let salutation of suppliersalutation" [value]="salutation.salutationId">
                 Mr.
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 First Name
              </mat-label>
              <input matInput appOnlyAllowedSymbol matTooltip="Enter the first name" formControlName="firstName" required
                 (change)="enablePrimaryContactButton()">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>Middle Name</mat-label>
              <input matInput appOnlyAllowedSymbol matTooltip="Enter the middle name" formControlName="middleName">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Last Name
              </mat-label>
              <input matInput appOnlyAllowedSymbol matTooltip="Enter the last name" formControlName="lastName" required
                 (change)="enablePrimaryContactButton()">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Job Title
              </mat-label>
              <input matInput matTooltip="Enter the job title" formControlName="jobTitle" required
                 (change)="enablePrimaryContactButton()">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Role
              </mat-label>
              <mat-select formControlName="roleId" required matTooltip="Select Role"
                 (selectionChange)="enablePrimaryContactButton()">
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option *ngFor="let role of supplierRole" [value]="role.roleId">
                 Co-ordinator
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Email
              </mat-label>
              <input matInput matTooltip="Enter the email" formControlName="email" (change)="enablePrimaryContactButton()">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>Country Code</mat-label>
              <mat-select formControlName="phoneCode" (selectionChange)="onCountryCodeChange($event.value, contactForm)"
                 matTooltip="Select Country Code">
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option *ngFor="let country of supplierPhoneCode" [value]="country.landNumberCode">
                 India
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>Work Phone #</mat-label>
              <input matInput matTooltip="Enter the work phone #" (keypress)="allowOnlyNumbers($event)"
                 formControlName="phoneNumber" maxlength="10">
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Country Code
              </mat-label>
              <mat-select formControlName="mobileCode" required
              (selectionChange)="onCountryMobilePhoneChange($event.value, contactForm)" matTooltip="Select Country Code"
              (selectionChange)="enablePrimaryContactButton()">
              <mat-option value="">-- Please Select --</mat-option>
              <mat-option *ngFor="let country of supplierPhoneCode" [value]="country.mobileCode">
              {{ country.countryCode | uppercase}} +{{ country.mobileCode }}
              </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Mobile Phone #
              </mat-label>
              <input matInput matTooltip="Enter the mobile phone #" (keypress)="allowOnlyNumbers($event)"
              formControlName="mobileNumber" required maxlength="10" (change)="enablePrimaryContactButton()">
           </mat-form-field>
           <mat-checkbox class="mt-3" formControlName="isPrimaryContact">Primary Contact</mat-checkbox>
        </div>
     </div>
  </form>
</div>
<div class="widget-box me-2">
<div class="table-responsive table-col-control">
  <table class="content-table">
     <thead>
        <tr class="thead-light">
           <th scope="col">Serial #</th>
           <th scope="col">Primary Contact</th>
           <th scope="col">Name</th>
           <th scope="col">Job Title </th>
           <th scope="col">Role Name</th>
           <th scope="col">Contact Details</th>
           <th scope="col" width="10%">Action</th>
        </tr>
     </thead>
     <tbody class="list" *ngFor="let contact of SecondarycontactDetails; let i = index">
        <tr *ngIf="!contact?.firstContactFlag">
           <td>Contact {{i + 1}}</td>
           <td>
              <mat-checkbox *ngIf="contact.isPrimaryContact" [checked]="contact.isPrimaryContact"
              [disabled]="contact.isPrimaryContact">
              </mat-checkbox>
           </td>
           <td> Mr Manoj B</td>
           <td>QAT</td>
           <td>Account Manager</td>
           <td>9941702339</td>
           <td>
              <button Xclass="btn btn-primary btn-sm smBtn" mat-button class="btn-small"
                 (click)="EditContact(target,contact , i)" matTooltip="Edit"><i class="fa fa-edit"></i>
              </button>
              <button [disabled]="editFlag == true" (click)="deletePopUp(i)" *ngIf="!contact.isPrimaryContact" mat-button
              Xclass="btn btn-danger btn-sm smBtn" class="btn-small" matTooltip="Delete">
              <i class="fa fa-trash text-danger"></i>
              </button>
           </td>
        </tr>
     </tbody>
  </table>
</div>