<form [formGroup]="formPQuestions"  class="pq-screen me-2">
    <div class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
            PQ Questionnaire
            
        </h5>
        <div class="widget-content bg-white" >

            <mat-accordion 
                class="accordion">
                <mat-expansion-panel [expanded]="isOpen" class="mb-1">
                    <mat-expansion-panel-header>
                        <div class="my-panel" >
                            Section - 1 : Company Registration FAQ:
                        </div>
                    </mat-expansion-panel-header>
                    <div formArrayName="questions">
                        <ng-container>
                            <div class="grid-pq cust-field-height align-items-center p-2">
                                <div class="mv-serial"><i class="fa fa-quora" aria-hidden="true"></i> 1</div>
                                <div class="mv-quest">How many days does it take to get registered?<span
                                        class="mandatory-star">*</span></div>

                                <div class="d-flex justify-content-start align-items-center">
                                    <div class="ms-2">
                                        <mat-form-field style="width: 160px;">
                                            <input matInput formControlName="userResponse" [required]="false">
                                        </mat-form-field>
                                    </div>
                                    
                                </div>

                                <div class="ms-2"
                                    >
                                    <div class="d-flex w-100 justify-content-between align-items-center mt-2">
                                        <div class="custom-file-upload">
                                            <button class="file-upload-button">
                                                <input class="custom-file-input" id="customFileLang" type="file"
                                                    formControlName="attachmentPath" #manFileInput
                                                    accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                                                    multiple>
                                                <i class="fa fa-cloud-upload" aria-hidden="true"></i><span
                                                    class="ps-2">Upload</span>
                                                <span class="mandatory-star"
                                                    >*</span>
                                                <!-- <label class="custom-file-label" for="customFileLang">Select the file to upload</label> -->
                                            </button>

                                        </div>
                                        <div class="attach-section col" style="width: 50px; margin-left: 20px;"
                                            >

                                            <mat-icon matBadge="1" id="sidebarToggle" >
                                                <span class="material-icons-outlined">ballot</span>
                                            </mat-icon>

                                            <div class="sidebar navbar-nav" style="display: none;"
                                               >
                                                <div class="close-icon">
                                                    <div class="subHeading">Uploaded Files</div>
                                                    <mat-icon class="icon-close" >
                                                        <span class="material-icons-outlined">close</span>
                                                    </mat-icon>
                                                </div>

                                                <div>
                                                    <div class="upload-file-row">
                                                        <div class="d-flex flex-row align-items-top">
                                                            <div style="width: fit-content;" class="subHeading2 pe-1">1.
                                                            </div>
                                                            <div class="subHeading2 col">
                                                                <div
                                                                    style="display: flex; align-items: center; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">

                                                                    <span class="helper-underline pointer me-1"
                                                                        style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;"
                                                                        matTooltip="PDF">PDF
                                                                    </span>

                                                                    <small>20KB</small>

                                                                </div>
                                                            </div>
                                                            <div class="col-auto">
                                                                <button class="btn btn-sm smBtn btn-download"
                                                                    matTooltip="Download File"
                                                                    >
                                                                    <span
                                                                        class="material-icons-outlined">file_download</span>
                                                                </button>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-danger ft-size11">Supported Formates: jpg, jpeg, gif, png, pdf
                                    </div>
                                </div>
                            </div>
                            <div class="grid-pq-child"
                                
                                >
                                <ng-container >
                                    <ng-container>
                                        <div class="grid-pq-child-question"
                                            style="padding: 1px;">
                                            <div class="d-flex align-items-center ps-2"><i class="fa fa-quora"
                                                    aria-hidden="true"></i>1</div>
                                            <div>Question<span
                                                    class="mandatory-star"
                                                    >*</span>
                                            </div>
                                            <div class="d-flex justify-content-start align-items-center">
                                                
                                                
                                                <div >
                                                    <mat-radio-group class="d-flex"
                                                        formControlName="userResponseOption">
                                                        <mat-radio-button value="Yes" checked>Yes</mat-radio-button>
                                                        <mat-radio-button value="No">No</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                
                                            </div>

                                            <div
                                                >
                                                <div
                                                    class="d-flex w-100 justify-content-between align-items-center pt-4 mt-2">
                                                    <div class="custom-file-upload mt-2 position-relative">

                                                        <div class="custom-file-upload">
                                                            <button class="file-upload-button">
                                                                <input class="custom-file-input"
                                                                    formControlName="attachmentPath" id="customFileLang"
                                                                    type="file" #manFileInput
                                                                    accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                                                                   >
                                                                <i class="fa fa-cloud-upload"
                                                                    aria-hidden="true"></i><span
                                                                    class="ps-2">Upload</span>
                                                                <span class="mandatory-star"
                                                                   >*</span>
                                                            </button>

                                                        </div>
                                                    </div>

                                                    <div class="attach-section col mt-2"
                                                        style="width: 50px; margin-left: 20px;"
                                                        >
                                                        <mat-icon matBadge="1" id="sidebarToggle"
                                                            >
                                                            <span class="material-icons-outlined">ballot</span>
                                                        </mat-icon>

                                                        <div class="sidebar navbar-nav" style="display: none;"
                                                            >
                                                            <div class="close-icon">
                                                                <div class="subHeading">Uploaded Files</div>
                                                                <mat-icon class="icon-close"
                                                                   >
                                                                    <span class="material-icons-outlined">close</span>
                                                                </mat-icon>
                                                            </div>

                                                            <div>
                                                                <div class="upload-file-row">
                                                                    <div class="d-flex flex-row align-items-top">
                                                                        <div style="width: fit-content;"
                                                                            class="subHeading2 pe-1">1. </div>
                                                                        <div class="subHeading2 col">
                                                                            <div
                                                                                style="display: flex; align-items: center; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">

                                                                                <span
                                                                                    class="helper-underline pointer me-1"
                                                                                    style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;"
                                                                                    matTooltip="pdf">
                                                                                   PDF
                                                                                </span>
                                                                                <small>(86.5 KB)</small>

                                                                            </div>
                                                                        </div>
                                                                        <div class="col-auto">
                                                                            <button
                                                                                class="btn btn-sm smBtn btn-download"
                                                                                matTooltip="Download File"
                                                                                >
                                                                                <span
                                                                                    class="material-icons-outlined">file_download</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="text-danger ft-size11">
                                                    Supported Formates: jpg, jpeg, gif, png, pdf</div>
                                            </div>
                                        </div>
                                    </ng-container>

                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
    </div>
</form>