<div class="widget-box border-0">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Application Preview
        <div class="d-flex">
            <button class="header-level-btn-blue me-5" matTooltip="Search Tax Payer" (click)="taxPayer()"><i
                    class="fa fa-search pe-2"></i>Search Tax Payer</button>
            <a mat-button [ngClass]="!isOpen? 'show':'hide'" matTooltip="Expand All"
                style="height: 30px; width: 30px; text-align: center;" (click)="openAccordionAll()"><i
                    class="fa fa-expand" style="font-size: 20px;" aria-hidden="true"></i></a>
            <a mat-button [ngClass]="isOpen? 'show':'hide'" matTooltip="Collapse All"
                style="height: 30px ;width: 30px; text-align: center;" (click)="closeAccordionAll()"><i
                    class="fa fa-compress" aria-hidden="true" style="font-size: 20px;"></i></a>
        </div>
    </h5>
    <div class="widget-content">
        <mat-accordion multi class="custom-accordion ">
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep1.set(true)"
                (closed)="panelOpenStep1.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>1. Supplier Information </mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        @if (panelOpenStep1()) {
                        } @else {
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                        }
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="widget-box">
                    <h5 class="widget-title">
                        Company Details
                    </h5>
                    <div class="widget-content">
                        <div class="grid-2cols">
                            <div class="display-box">
                                <p class="display-label">Company Name</p>
                                <p class="display-data">ATC ENERGIES</p>
                                <p class="display-label">Company Name in Native</p>
                                <p class="display-data">N/A</p>
                                <p class="display-label">Parent Company Name</p>
                                <p class="display-data">N/A</p>
                            </div>
                            <div class="display-box">
                                <p class="display-label">Supplier Classification</p>
                                <p class="display-data">Local Company</p>
                                <p class="display-label">Supplier Type</p>
                                <p class="display-data">Contractor</p>
                                <p class="display-label">Organization Website</p>
                                <p class="display-data">N/A</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <h5 class="widget-title">
                        Licence # Details
                    </h5>
                    <div class="widget-content">
                        <div class="grid-2cols">
                            <div class="display-box">
                                <p class="display-label">Licence #</p>
                                <p class="display-data">VTS870</p>
                                <p class="display-label">Establishment Date</p>
                                <p class="display-data">
                                    01-Apr-2025
                                </p>
                                <p class="display-label">Issued Date</p>
                                <p class="display-data"> 04-Apr-2025</p>
                                <p class="display-label">Expiry Date</p>
                                <p class="display-data">30-Apr-2025</p>
                            </div>
                            <div class="display-box">
                                <p class="display-label">Issued By</p>
                                <p class="display-data">Rajesh</p>
                                <p class="display-label">Type Of Ownership</p>
                                <p class="display-data">Autonomous Body</p>
                                <p class="display-label">Location</p>
                                <p class="display-data">Chennai</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <h5 class="widget-title">
                        Manager in Commercial Licenses
                    </h5>
                    <div class="widget-content">
                        <div class="grid-2cols">
                            <div class="display-box">
                                <p class="display-label">First Name</p>
                                <p class="display-data">Manoj</p>
                                <p class="display-label">Middle Name</p>
                                <p class="display-data">N/A</p>
                                <p class="display-label">Last Name</p>
                                <p class="display-data">B</p>
                            </div>
                            <div class="display-box">
                                <p class="display-label">Role</p>
                                <p class="display-data">Business Development</p>
                                <p class="display-label">Job Title</p>
                                <p class="display-data">QAT</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep2.set(true)"
                (closed)="panelOpenStep2.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>2. Address Details</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="addressDetailsData.length === 0" class="noRecordsMessage">
                    <div class="ft-size11 text-danger">No data available.</div>
                </div>
                <div class="widget-box" *ngFor="let address of addressDetailsData; let i = index">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-start">
                        Address 1
                        <span class="badge text-bg-secondary ms-3">Main Office</span>
                    </h5>
                    <div class="widget-content">
                        <div class="grid-30-70">
                            <div class="display-address-box">
                                <p class="display-label" style="margin-bottom: 0px;">Address Type</p>
                                <p class="display-data no-colon">Pay Site</p>
                            </div>
                            <div class="display-address-box">
                                <p class="display-label" style="margin-bottom: 0px;">Address</p>
                                <p class="display-data no-colon">
                                    <span matTooltip="Address Line 1">
                                        Line 1, Line 2, Line 3, Visakhapatnam, Andaman and Nicobar Islands, India,
                                        Chennai. </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <h5 class="widget-title mt-2">
                        Tax Details
                    </h5>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th>Count</th>
                                        <th>Tax Type</th>
                                        <th>Tax and Duties Registration</th>
                                        <th>Tax Exemption</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tax of address.taxInfo; let ind = index">
                                        <td>1</td>
                                        <td>Value Added Tax (VAT) Registration</td>
                                        <td>TR-343-34</td>
                                        <td>Yes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep3.set(true)"
                (closed)="panelOpenStep3.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>3. Contact Details</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="widget-box" *ngFor="let contact of supplierContacts; let i = index">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-start">
                        Contact 1
                        <span *ngIf="contact.isPrimaryContact" class="badge text-bg-secondary ms-3">Primary
                            Contact</span>
                    </h5>
                    <div class="widget-content">
                        <div class="grid-2cols">
                            <div class="display-box">
                                <p class="display-label">Salutation</p>
                                <p class="display-data">Mr</p>
                                <p class="display-label">First Name</p>
                                <p class="display-data">Manoj</p>
                                <p class="display-label">Middle Name</p>
                                <p class="display-data">N/A</p>
                                <p class="display-label">Last Name</p>
                                <p class="display-data">B</p>
                                <p class="display-label">Job Title</p>
                                <p class="display-data">QAT</p>
                                <p class="display-label">Role</p>
                                <p class="display-data">Account Manager</p>
                            </div>
                            <div class="display-box">
                                <p class="display-label">Phone Code</p>
                                <p class="display-data">N/A</p>
                                <p class="display-label">Phone Number</p>
                                <p class="display-data">75476476</p>
                                <p class="display-label">Country Code</p>
                                <p class="display-data">91</p>
                                <p class="display-label">Mobile Number</p>
                                <p class="display-data">9941702339</p>
                                <p class="display-label">Email</p>
                                <p class="display-data">mboopathydssiindia.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep4.set(true)"
                (closed)="panelOpenStep4.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>4. Financial & Business</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="grid-2cols">
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Business Capability
                        </h5>
                        <div class="widget-content" *ngIf="financialBusinessDetails?.businessCreditInfos">
                            <div class="display-grid-70-30">
                                <p class="display-label">Experience History</p>
                                <p class="display-data">1-3 Years</p>
                                <p class="display-label">Currency</p>
                                <p class="display-data">AFN - Ø</p>
                                <p class="display-label">Aggregate Value of Projects at Hand</p>
                                <p class="display-data">234.00</p>
                                <p class="display-label">Max Value of Projects that you can Undertake</p>
                                <p class="display-data">456.00
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Financial Health
                        </h5>
                        <div class="widget-content">
                            <div class="display-grid-70-30">
                                <p class="display-label">Did you make Net Profit in the last 3 years?</p>
                                <p class="display-data">Yes</p>
                                <p class="display-label">Financial Audited statements for last 3 years?</p>
                                <p class="display-data">No</p>
                                <p class="display-label">
                                    Document
                                </p>
                                <p class="display-data">&nbsp;</p>
                            </div>
                            <div class="d-flex">
                                <span class="display-data no-colon">
                                    <div class="d-flex flex-row align-items-center"
                                        *ngFor="let file of financialBusinessDetails.financialHealthInfo.financialHealthDocsInfo; let idx = index">
                                        <div class="col subHeading2">
                                            <a class="helper-underline pointer me-1"
                                                (click)="downloadFile(file.folderPath)">
                                                1.
                                                Capture3.JPG<!-- {{file.fileType}} -->
                                            </a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-1-2">
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Credit Limit
                        </h5>
                        <div class="widget-content">
                            <div class="display-grid-60-40" *ngIf="financialBusinessDetails?.businessCreditInfos">
                                <p class="display-label">Credit Limit</p>
                                <p class="display-data">N/A</p>
                                <p class="display-label">Credit Exposure Limit</p>
                                <p class="display-data">N/A
                                </p>
                                <p class="display-label">Project Limit</p>
                                <p class="display-data">N/A</p>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Project Details
                        </h5>
                        <div class="widget-content">
                            <div *ngIf="financialBusinessDetails.projectDetailsInfos.length === 0"
                                class="noRecordsMessage">
                                <div class="smText noData">No data available.</div>
                            </div>
                            <div class="grid-2cols">
                                <div class="display-box"
                                    *ngFor="let project of financialBusinessDetails.projectDetailsInfos">
                                    <p class="display-label">Project Name</p>
                                    <p class="display-data">Ongoing Project</p>
                                    <p class="display-label">Project Description&nbsp;</p>
                                    <p class="url display-data ">
                                        https://dev.procurezen.ai/ProcureZen
                                    </p>
                                    <p class="display-label">Customer Name</p>
                                    <p class="display-data">VTS</p>
                                    <p class="display-label">Start Date</p>
                                    <p class="display-data">03-Apr-2025</p>
                                    <p class="display-label">End Date</p>
                                    <p class="display-data">30-Apr-2025</p>
                                    <p class="display-label">Country</p>
                                    <p class="display-data">India</p>
                                    <p class="display-label">Currency</p>
                                    <p class="display-data">Rupees</p>
                                    <p class="display-label">Value</p>
                                    <p class="display-data">1,00,00,000.00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-box">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                        Assets and Liabilities
                    </h5>
                    <div class="widget-content">
                        <div *ngFor="let assetLiab of financialBusinessDetails.assetLiabilitieInfos">
                            <div class="grid-3cols">
                                <div class="widget-box">
                                    <h5
                                        class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                                        Assets - Year 1
                                    </h5>
                                    <div class="widget-content">
                                        <div class="display-grid-3">
                                            <div class="assets-display">
                                                <p class="display-label">From Date</p>
                                                <p class="display-data">
                                                    Assets - Year 1
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">To Date</p>
                                                <p class="display-data">
                                                    31-Jul-2025
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">Value</p>
                                                <p class="display-data">
                                                    9,99,99,99,999.00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-box">
                                    <h5
                                        class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                                        Assets - Year 2
                                    </h5>
                                    <div class="widget-content">
                                        <div class="display-grid-3">
                                            <div class="assets-display">
                                                <p class="display-label">From Date</p>
                                                <p class="display-data">
                                                    01-Jan-2025
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">To Date</p>
                                                <p class="display-data">
                                                    30-Apr-2025
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">Value</p>
                                                <p class="display-data">
                                                    2,22,222.00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-box">
                                    <h5
                                        class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                                        Assets - Year 3
                                    </h5>
                                    <div class="widget-content">
                                        <div class="display-grid-3">
                                            <div class="assets-display">
                                                <p class="display-label">From Date</p>
                                                <p class="display-data">
                                                    01-Jan-2025
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">To Date</p>
                                                <p class="display-data">
                                                    31-Jul-2025
                                                </p>
                                            </div>
                                            <div class="assets-display">
                                                <p class="display-label">Value</p>
                                                <p class="display-data">
                                                    11,11,111.00
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep5.set(true)"
                (closed)="panelOpenStep5.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5. Bank Details
                    </mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="savaAllCategoryAndScopeVm.length === 0" class="noRecordsMessage">
                    <div class="smText noData">No data available.</div>
                </div>
                <div *ngFor="let bank of supplierBanks; let i = index">
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-start">
                            Bank 1
                            <span *ngIf="bank.defaultBank" class="badge text-bg-secondary">Default Bank</span>
                        </h5>
                        <div class="widget-content">
                            <div class="grid-3cols">
                                <div class="display-grid-40-60">
                                    <p class="display-label">Bank Name</p>
                                    <p class="display-data">SBI</p>
                                    <p class="display-label">Branch</p>
                                    <p class="display-data">MMN</p>
                                    <p class="display-label">Currency</p>
                                    <p class="display-data">Dollar</p>
                                    <p class="display-label">IBAN</p>
                                    <p class="display-data">34534534534</p>
                                    <p class="display-label">BSB</p>
                                    <p class="display-data">345345</p>
                                </div>
                                <div class="display-grid-40-60">
                                    <p class="display-label">Routing</p>
                                    <p class="display-data">345345345</p>
                                    <p class="display-label">IFSC Code</p>
                                    <p class="display-data">345345345435</p>
                                    <p class="display-label">Account</p>
                                    <p class="display-data">34453453454534</p>
                                    <p class="display-label">Swift Code / BIC</p>
                                    <p class="display-data">345435345</p>
                                </div>
                                <div class="display-grid-40-60">
                                    <p class="display-label">Correspondent Bank</p>
                                    <p class="display-data">No</p>
                                    <p class="display-label">Default Bank</p>
                                    <p class="display-data">Yes</p>
                                    <p class="display-label">Country</p>
                                    <p class="display-data">India</p>
                                    <p class="display-label">State</p>
                                    <p class="display-data">Tamilnadu</p>
                                    <p class="display-label">City</p>
                                    <p class="display-data">Chennai</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep6.set(true)"
                (closed)="panelOpenStep6.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>6. Category and Scope Management</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="savaAllCategoryAndScopeVm.length === 0" class="noRecordsMessage">
                    <div class="smText noData">No data available.</div>
                </div>
                <div class="widget-box">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                        Category Information 1
                    </h5>
                    <div class="widget-content">
                        <div class="grid-3cols" style="grid-template-columns: 0.5fr 1fr 1fr;">
                            <div class="assets-display">
                                <p class="display-label">Parent Category</p>
                                <p class="display-data">Finance</p>
                            </div>
                            <div class="assets-display">
                                <p class="display-label">Sub Category</p>
                                <p class="display-data">Services</p>
                            </div>
                            <div class="assets-display">
                                <p class="display-label">Child Category</p>
                                <p class="display-data">Consulting & Design Development</p>
                            </div>
                        </div>
                        <div class="grid-3cols" style="grid-template-columns: 0.5fr 1fr 1fr;">
                            <div class="assets-display">
                                <p class="display-label">Type</p>
                                <p class="display-data">N/A</p>
                            </div>
                            <div class="assets-display">
                                <p class="display-label">Description</p>
                                <p class="display-data">N/A</p>
                            </div>
                            <div class="assets-display mt-2">
                                <p class="display-label">Attachments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep7.set(true)"
                (closed)="panelOpenStep7.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>7. PQ Questionnaire</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="pqQuestionnaries?.sections.length === 0" class="noRecordsMessage">
                    <div class="smText noData">No data available.</div>
                </div>
                <div class="grid-2cols">
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            PQ Questionnaire
                        </h5>
                        <div class="widget-content">
                            <div *ngFor="let section of pqQuestionnaries?.sections">
                                <div *ngFor="let question of section?.questions">
                                    <span class="display-label">How many days does it take to get registered? </span>
                                    <span class="display-data" *ngIf="question?.userResponseOption">
                                        true
                                    </span>
                                    <span class="display-data"
                                        *ngIf="question?.userResponse && question?.responseType === 'date'">
                                        Fee management
                                    </span>
                                    <span class="display-data"
                                        *ngIf="question?.userResponse && question?.responseType === 'text'">
                                        No
                                    </span>
                                    <div *ngFor="let childQuestion of question?.childQuestion">
                                        <span class="display-label">Fee management
                                        </span>
                                        <span class="display-data"
                                            *ngIf="childQuestion?.userResponseOption && childQuestion?.userResponseOption">
                                            No
                                        </span>
                                        <span class="display-data"
                                            *ngIf="childQuestion?.userResponse && childQuestion?.responseType === 'date'">
                                            Fee management
                                        </span>
                                        <span class="display-data"
                                            *ngIf="childQuestion?.userResponse && childQuestion?.responseType === 'text'">
                                            No
                                        </span>
                                        <span class="display-data" *ngIf="childQuestion?.attachmentPath">
                                            Fee management
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            Attachments
                        </h5>
                        <div class="widget-content">
                            <div *ngFor="let section of pqQuestionnaries?.sections">
                                <div *ngFor="let question of section?.questions">
                                    <span class="display-data ms-2 pointer attachment-link" style="text-align: center;"
                                        *ngIf="question?.attachmentNamePath"
                                        (click)="openImagePopup(question.attachmentBase64)">
                                        Leave Breakup 2.pdf
                                    </span>
                                    <div *ngFor="let childQuestion of question?.childQuestion">
                                        <span class="display-data ms-2 pointer attachment-link"
                                            *ngIf="childQuestion?.attachmentNamePath"
                                            (click)="openImagePopup(childQuestion.attachmentBase64)">
                                            Leave Breakup 2.pdf
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep8.set(true)"
                (closed)="panelOpenStep8.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>8. Compliance</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngIf="licensedActivitiesAndSubActivities">
                    <div class="widget-box">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            1. Licensed Activities and Sub-Activities
                        </h5>
                        <div class="widget-content">
                            <div class="smText noData ps-1">No data available.</div>
                            <div class="table-responsive">
                                <table class="content-table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Activity #</th>
                                            <th scope="col">Activity</th>
                                            <th scope="col">Sub Activity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Robotics</td>
                                            <td>AI</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="widget-box" *ngIf="businessLicensesAndCertificates">
                        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                            2. Business Licenses and Certificates
                        </h5>
                        <div class="widget-content">
                            <div class="smText noData ps-1">No data available.</div>
                            <div class="grid-2cols">
                                <div class="display-grid-40-60">
                                    <p class="display-label">Business License</p>
                                    <p class="display-data">1</p>
                                    <p class="display-label">Category:</p>
                                    <p class="display-data">License</p>
                                    <p class="display-label">License Type:</p>
                                    <p class="display-data">Import License</p>
                                    <p class="display-label">License / Certificate Name</p>
                                    <p class="display-data">
                                        3424324322
                                    </p>
                                    <p class="display-label">License / Certificate #
                                    </p>
                                    <p class="display-data">
                                        3424324322
                                    </p>
                                    <p class="display-label">Issue Date:</p>
                                    <p class="display-data">11-Apr-2025</p>
                                    <p class="display-label">Expiry Date:</p>
                                    <p class="display-data">30-Apr-2025</p>
                                    <p class="display-label">Issuing Authority:</p>
                                    <p class="display-data">234243</p>
                                </div>
                                <div class="display-grid-30-70">
                                    <p class="display-label">Issuing Country:</p>
                                    <p class="display-data">USA</p>
                                    <p class="display-label">Issuing State:</p>
                                    <p class="display-data">NewYork</p>
                                    <p class="display-label">Status:</p>
                                    <p class="display-data">Active</p>
                                    <p class="display-label">Related Activity:</p>
                                    <p class="display-data">N/A</p>
                                    <p class="display-label">Remarks:</p>
                                    <p class="display-data">N/A</p>
                                    <p class="display-label">Attachment: </p>
                                    <div class="display-data d-flex flex-row flex-wrap align-items-center">
                                        <div class="d-flex flex-row align-items-center me-3">
                                            <div class="col-auto subHeading2 pe-1">1
                                            </div>
                                            <div class="col subHeading2">
                                                <a class="helper-underline pointer me-1">
                                                    00030.pdf
                                                </a>
                                                <small>(3 Bytes)</small>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="display-label">Remarks:</p>
                                    <p class="display-data">N/A</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="relatedPartyInformation">
                        <div class="widget-box">
                            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                                3. Related Party Disclosures
                            </h5>
                            <div class="widget-content">
                                <div class="grid-5cols">
                                    <div class="assets-display">
                                        <p class="display-label">Related Party Disclosures</p>
                                        <p class="display-data">1</p>
                                    </div>
                                    <div class="assets-display">
                                        <p class="display-label">Related Party Details</p>
                                        <p class="display-data">RED</p>
                                    </div>
                                    <div class="assets-display">
                                        <p class="display-label">% Of Ownership</p>
                                        <p class="display-data">100</p>
                                    </div>
                                    <div class="assets-display">
                                        <p class="display-label">Type of Relationship</p>
                                        <p class="display-data">23</p>
                                    </div>
                                    <div class="assets-display">
                                        <p class="display-label">Start Date</p>
                                        <p class="display-data">17-Apr-2025</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="isOpen" (opened)="panelOpenStep9.set(true)"
                (closed)="panelOpenStep9.set(false)">
                <mat-expansion-panel-header>
                    <mat-panel-title>9. Attachment</mat-panel-title>
                    <mat-panel-description class=" justify-content-end">
                        <div class="status-label">
                            Status: <span class="status-state text-success">Completed</span>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="widget-box">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                        Mandatory Attachment
                    </h5>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Serial #</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Uploaded By</th>
                                        <th>Uploaded Date</th>
                                        <th>Description</th>
                                        <th>Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Owner-Visa</td>
                                        <td>DSSI9999</td>
                                        <td>11-Apr-2025</td>
                                        <td>https://dev.procurezen.ai/ProcureZen</td>
                                        <td>
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="col-auto subHeading2 pe-1">1</div>
                                                <div class="col subHeading2">
                                                    <a class="helper-underline pointer me-1">
                                                        PDF
                                                    </a>
                                                    <small>(0 Bytes)</small>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @if(optionalAttachFlag){
                <div class="widget-box">
                    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                        Optional Attachment
                    </h5>
                    <div class="widget-content">
                        <div class="table-responsive">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th scope="col">Serial #</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Uploaded By</th>
                                        <th>Uploaded Date</th>
                                        <th>Description</th>
                                        <th>Attachment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Owner-Visa</td>
                                        <td>DSSI9999</td>
                                        <td>11-Apr-2025</td>
                                        <td>https://dev.procurezen.ai/ProcureZen</td>
                                        <td>
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="col-auto subHeading2 pe-1">1</div>
                                                <div class="col subHeading2">
                                                    <a class="helper-underline pointer me-1">
                                                        PDF
                                                    </a>
                                                    <small>(0 Bytes)</small>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                }
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
<!-- Popup Modal -->
<!-- <div  class="popup-overlay" (click)="closePopup()"> -->
<div class="popup-container" *ngIf="showPopup" (click)="$event.stopPropagation()">
    <button class="close-btn" (click)="closePopup()">×</button>
    <iframe [src]="popupImage" frameborder="0" width="300%" height="500px"></iframe>
</div>
<!-- </div> -->