<div class="content-container">
  <div class="bread-crumbs">
    <h2 class="page-title">
      <i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing
      Management >> Purchase Requisition
    </h2>
  </div>
  
    <div class="content-box p-2">

      <form *ngIf="PR_form" [formGroup]="PR_form" novalidate>
        <ng-container  formGroupName="purchaseRequisitionInfo">
          <div  class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
              Select Entity Level
              <span class="status-label">Status: <span class="status-state">{{PR_form.get('purchaseRequisitionInfo.prStatus')?.value}}</span></span>
            </h5>
            <div class="widget-content">
              <div class="grid-5cols">
                <mat-form-field>
                  <mat-label>Entity Name</mat-label>
                  <mat-select #entiySelect (selectionChange)="getHierarchy(entiySelect.value,entiySelect)"
                    formControlName="entityNameID">
                    @for(entity of entityLevelsLov.entity;track entity;let entityI = $index;){

                      <mat-option [id]="entityI + ''"  [value]="entity.entityId">{{
                        entity.companyName }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hasvalidators(1)">
                  <mat-label>Level 1</mat-label>
                  <mat-select (selectionChange)="onHierarchyChange(2)" (click)="onClick('purchaseRequisitionInfo.entityNameID', 'Entity Name')" formControlName="level1ID"
                    #level1 >
                    @for(level1 of getHierarchyLevels('level1EntityData',null);track level1;){
                      <mat-option
                      [value]="level1.levelValueCode">{{ level1.levelValueName }}{{level1.levelValueCode}}</mat-option>
                    }
                      
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hasvalidators(2)">
                  <mat-label>Level 2</mat-label>
                  <mat-select (click)="onClick('purchaseRequisitionInfo.level1ID', 'Level 1')" #level2
                  (selectionChange)="onHierarchyChange(3)" formControlName="level2ID">
                    @for(level2 of getHierarchyLevels('level2EntityData','level1ID');track level2;){
                      <mat-option
                      [value]="level2.levelValueCode">{{ level2.levelValueName }}-{{level2.levelValueCode}}</mat-option>
                    }
                    <!-- <mat-option *ngFor="
                        let level2 of entityLevelsLov.hierarchy
                          | entityHierarchyLevels : 2 : entityLevelsLov.level1
                      " [value]="level2.levelValueCode">{{ level2.levelValueName }}</mat-option>
                 -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hasvalidators(3)">
                  <mat-label>Level 3</mat-label>
                  <mat-select (click)="onClick('purchaseRequisitionInfo.level2ID', 'Level 2')" #level3
                  (selectionChange)="onHierarchyChange(4)" formControlName="level3ID">
                    @for(level3 of getHierarchyLevels('level3EntityData','level2ID');track level3;){
                      <mat-option
                      [value]="level3.levelValueCode">{{ level3.levelValueName }}-{{ level3.levelValueCode }}</mat-option>
                    }
                    <!-- <mat-option *ngFor="
                        let level3 of entityLevelsLov.hierarchy
                          | entityHierarchyLevels : 3 : entityLevelsLov.level2
                      " [value]="level3.levelValueCode">{{ level3.levelValueName }}</mat-option>
                  -->
                </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="hasvalidators(4)">
                  <mat-label>Level 4</mat-label>
                  <mat-select formControlName="level4ID" (click)="onClick('purchaseRequisitionInfo.level3ID', 'Level 3')">
                    @for(level4 of getHierarchyLevels('level4EntityData','level3ID');track level4;){
                      <mat-option
                      [value]="level4.levelValueCode">{{ level4.levelValueName }}-{{ level4.levelValueName }}</mat-option>
                    }
                    <!-- <mat-option *ngFor="
                        let level4 of entityLevelsLov.hierarchy
                          | entityHierarchyLevels : 4 : entityLevelsLov.level3
                      " [value]="level4.levelValueCode">{{ level4.levelValueName }}</mat-option>
                   -->
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
              Purchase Requisition
              <!-- <span class="status-label">Status: <span class="status-state">Draft</span></span> -->
            </h5>
            <div class="widget-content">
              <div class="grid-5cols">
                <mat-form-field>
                  <mat-label>Source</mat-label>
                  <mat-select formControlName="sourceID">
                    <mat-option disabled selected>--Please Select--</mat-option>
                    <mat-option *ngFor="let source of sourceList" [value]="source.sourceID">{{ source.sourceName
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Ref #</mat-label>
                  <input formControlName="refNo" matInput placeholder="" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Created Date</mat-label>
                  <input formControlName="createdDate" matInput [matDatepicker]="dp2" />
                  <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                  <mat-datepicker #dp2></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Indentor</mat-label>
                  <input formControlName="indentor" matInput placeholder="" />
                </mat-form-field>
                <mat-form-field *ngIf="prFieldControl.assignedBuyer">
                  <mat-label>Assigned Buyer </mat-label>
                  <mat-select formControlName="assignedBuyerID">
                    <!-- <mat-option value="ERP System">User Master</mat-option> -->
                    <mat-option *ngFor="let ab of assignedBuyer" [value]="ab.userId">
                      {{ ab.userName }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="prFieldControl.purchaseCategory">
                  <mat-label>Purchase Category </mat-label>
                  <mat-select formControlName="purchaseCategory">
                    <!-- <mat-option value="ERP System">User Master</mat-option> -->
                    <mat-option *ngFor="let ab of purchaseCategory" >
                     </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Short Name</mat-label>
                  <input matInput placeholder="" formControlName="shortName" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Description</mat-label>
                  <textarea formControlName="description" matInput rows="1" placeholder=""></textarea>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>From Department</mat-label>
                  <input formControlName="fromDepartment" matInput placeholder="" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Need by Date </mat-label>
                  <input formControlName="needByDate" matInput [matDatepicker]="dp3" appMatDatePickerFormat />
                  <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                  <mat-datepicker #dp3></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field>
                  <mat-label>Budget Check </mat-label>
                  <mat-select formControlName="budgetCheckID">
                    <mat-option *ngFor="let res of budgetCheckRes" [value]="res.id">{{ res.response }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Funcitonal Currency</mat-label>
                  <mat-select formControlName="currencyID">
                    <mat-option *ngFor="let currency of currencyList" [value]="currency.currencyId">{{ currency.currencyName
                      }}</mat-option>
                    <!-- <mat-option value="Direct">Fail</mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Tolerance Value in %</mat-label>
                  <input formControlName="toleranceValue" matInput placeholder="" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Purchase Classification</mat-label>
                  <mat-select formControlName="purchaseClassificationID">
                    <mat-option disabled>--Please Select--</mat-option>
                    <mat-option *ngFor="let prclassification of purchaseClassificationList"
                      [value]="prclassification.purchaseClassificationID">{{ prclassification.purchaseClassificationName
                      }}</mat-option>
                    <!-- <mat-option value="Direct">Fail</mat-option> -->
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Spend Type</mat-label>
                  <mat-select formControlName="spendTypeID">
                    <mat-option *ngFor="let ST of spendTypeList" [value]="ST.spendTypeID">{{ ST.spendTypeName
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-checkbox formControlName="allowPartialResponse" class="mt-3">Allow Partial Response</mat-checkbox>
                <mat-checkbox formControlName="substituteItems">Allow Substitute Items</mat-checkbox>
                <p class="mt-2">
                  PR Approved Value:<span class="ft-bold ps-2">{{ 0 }}</span>
                </p>
              </div>
            </div>
          </div>

        </ng-container>
      <div class="widget-box" >
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Items Section
          <div class="d-flex">
            <button class="header-level-btn-blue">
              <i class="fa fa-money pe-2"></i>Last Purchase Price
            </button>
            <!-- <button class="small-btn-action" (click)="getItems(true)" matTooltip="Add Items">
              <i class="fa fa-plus"></i>
            </button> -->

            <button class="header-level-btn-blue"  matTooltip="Add Items" (click)="additemDialog()">
              <i class="fa fa-plus pe-2"></i> Add Items
            </button>
          </div>
        </h5>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="content-table vw-100">
              <thead>
                <tr>
                  <th scope="col" style="min-width: 100px">Serial #</th>
                  <th scope="col">Code</th>
                  <th scope="col">Description</th>
                  <th scope="col">Type</th>
                  <th scope="col">UOM</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Rate</th>
                  <th scope="col">Value</th>
                  <th scope="col" style="min-width: 180px">Spend Category-1</th>
                  <th scope="col" style="min-width: 180px">Spend Category-2</th>
                  <th scope="col" style="min-width: 180px">Spend Category-3</th>
                  <th scope="col" style="min-width: 180px">Action</th>
                </tr>
              </thead>
              <tbody>
                <ng-container formArrayName="prItemsSection">
                  <tr *ngFor="
                      let item of getItems().controls;
                      let pritemIndex = index
                    " [formGroupName]="pritemIndex" class="cust-field-height">
                    <td>{{ pritemIndex + 1 }}</td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="codeID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select #sectionMat (selectionChange)="onItemGrpChange(item, sectionMat)"
                          formControlName="codeID" matTooltip="Select the CODE">
                          <mat-option value="">-- Please Select --</mat-option>
                          <mat-option [id]="itemI + ''" *ngFor="
                              let inventryItem of itemInventryList;
                              let itemI = index
                            " [value]="inventryItem['code']">{{ inventryItem["code"] }}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="descriptionID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select
                          #sectionMatDesc
                          (selectionChange)="onItemGrpChange(item, sectionMatDesc)"
                          formControlName="descriptionID"
                          matTooltip="Select the Description"
                        >
                          <mat-option value="">-- Please Select --</mat-option>
                          <mat-option
                            [id]="itemI + ''"
                            *ngFor="
                              let inventryItem of itemInventryList;
                              let itemI = index;
                            "
                            [value]="inventryItem['description']"
                            >{{ inventryItem["description"] }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="typeID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select
                          #sectionMat
                          (selectionChange)="onItemGrpChange(item, sectionMat)"
                          formControlName="typeID"
                          matTooltip="Select the TYPE"
                        >
                          <mat-option value="">-- Please Select --</mat-option>
                          
                          <mat-option
                            [id]="itemI + ''"
                            *ngFor="
                              let inventryItem of itemInventryList;
                              let itemI = index
                            "
                            [value]="inventryItem['typeId']"
                            >{{ inventryItem["typeId"] }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                 
                    <td>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select #sectionMat (selectionChange)="onItemGrpChange(item, sectionMat)"
                          formControlName="uomId" matTooltip="Select the UOM">
                          <mat-option value="">-- Please Select --</mat-option>
                          <mat-option [id]="itemI + ''" *ngFor="
                              let inventryItem of itemInventryList;
                              let itemI = index
                            " [value]="inventryItem['uomId']">{{ inventryItem["uomId"] }}</mat-option>
                        </mat-select>
                      </mat-form-field> -->
                      <mat-form-field class="mxW-120">
                        <input formControlName="uomId" matInput class="text-right" />
                      </mat-form-field>
                    </td>
                    <td>
                      <!-- <mat-form-field  class="mxW-120">
                                        <mat-select formControlName="quantity" matTooltip="Select the Quantity">
                                            <mat-option value="">-- Please Select --</mat-option>
                                            <mat-option value="">Dozen</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                      <mat-form-field class="mxW-120">
                        <input (input)="updateItemValue(pritemIndex)" [systemParameter]="systemParameter" formatCurrency
                          matInput placeholder="" class="text-right" formControlName="quantity" allowNumberOnly />
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input (input)="updateItemValue(pritemIndex)" [systemParameter]="systemParameter" formatCurrency
                          matInput placeholder="" class="text-right" formControlName="rate" allowNumberOnly />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                                        <input formcontrolName="rate" matInput placeholder="" class="text-right" value="">
                                    </mat-form-field> -->
                    </td>
                    <td>
                      <mat-form-field class="mxW-120 numeric-right-align">
                        <input formControlName="value" [directValue]="item.get('value')?.value"
                          [systemParameter]="systemParameter" formatCurrency matInput placeholder="" class="text-right"
                          allowNumberOnly />
                      </mat-form-field>
                    </td>

                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="spendCategory1ID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select
                          (selectionChange)="onCategoryChange(1, item)"
                          formControlName="spendCategory1ID"
                          matTooltip="Select the UOM"
                          required
                        >
                          <mat-option disabled value=""
                            >-- Please Select --</mat-option
                          >
                          
                          <mat-option
                            *ngFor="let parent of spendCategory.parent"
                            [value]="parent.parentCategoryId"
                            >{{ parent.parentCategory }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="spendCategory2ID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select
                          (selectionChange)="onCategoryChange(2, item)"
                          formControlName="spendCategory2ID"
                          matTooltip="Select the UOM"
                          required
                        >
                          <mat-option disabled value=""
                            >-- Please Select --</mat-option
                          >
                        <mat-option
                            *ngFor="let sub of spendCategory.sub"
                            [value]="sub['subCategoryId']"
                            >{{ sub["subCategory"] }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                    <td>
                      <mat-form-field class="mxW-120">
                        <input formControlName="spendCategory3ID" matInput class="text-right" />
                      </mat-form-field>
                      <!-- <mat-form-field class="mxW-120">
                        <mat-select
                          formControlName="spendCategory3ID"
                          matTooltip="Select the UOM"
                        >
                          <mat-option disabled value=""
                            >-- Please Select --</mat-option
                          >
                                <mat-option
                            *ngFor="let child of spendCategory.child"
                            [value]="child['childCategoryId']"
                            >{{ child["childCategory"] }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field> -->
                    </td>
                    <td>
                      <i class="fa fa-trash" (click)="removeItem(pritemIndex)"></i>
                    </td>
                  </tr>
                </ng-container>

                <tr class="">
                  <td colspan="7" class="text-right ft-bold">Total Amount</td>
                  <td class="text-right ft-bold">
                    <input [formControl]="totalAmount()" [directValue]="
                        PR_form.get('purchaseRequisitionInfo.itemsSectionTotalAmount')?.value
                      " [systemParameter]="systemParameter" formatCurrency matInput placeholder=""
                      class="text-right ft-bold" style="
                        outline: none;
                        visibility: hidden;
                        height: 1px;
                        width: 1px;
                      " allowNumberOnly />
                    {{ PR_form.get("purchaseRequisitionInfo.itemsSectionTotalAmount")?.value || 0 }}
                  </td>
                  <td colspan="3"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div formArrayName="prAssignSupplier" class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Assign Suppliers
          <button class="small-btn-action" (click)="addSupplierPopup()" matTooltip="Search & Add Suppliers">
            <i class="fa fa-plus"></i>
          </button>
        </h5>
        <div class="widget-content">
          <div class="table-responsive mt-2">
            <table class="content-table">
              <thead>
                <tr>
                  <th scope="col" style="width: 80px">Serial #</th>
                  <th scope="col">Supplier Code</th>
                  <th scope="col">Supplier Name</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Status</th>
                  <th scope="col" style="width: 80px">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let asupplier of getAssignSupplierFormArray().controls;
                    let supplierInd = index
                  "
                  [formGroupName]="supplierInd"
                  class="cust-field-height"
                >
                  <td>{{supplierInd+1}}</td>
                  <td>
                    <mat-form-field class="w-100">
                      <input formControlName="supplierCode" matInput class="text-right"
                        [value]="'SUP-' + supplierInd" />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="w-100">
                      <input formControlName="supplierName" matInput class="text-right" />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="w-100">
                      <mat-select formControlName="grade" matTooltip="Select the Grade" required>
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option value="A">A</mat-option>
                        <mat-option value="B">B</mat-option>
                        <mat-option value="C">C</mat-option>
                        <mat-option value="D">D</mat-option>
                        <mat-option value="E">E</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>

                  <td>
                    <!-- <mat-form-field class="w-100">
                      <mat-select
                        formControlName="status"
                        matTooltip="Select the UOM"
                        required
                      >
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option value="">Active</mat-option>
                      </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="w-100">
                      <input formControlName="status" matInput class="text-right" />
                    </mat-form-field>
                  </td>
                  <td style="width: 80px" class="text-center">
                    <i class="fa fa-trash" (click)="removeSupplier(supplierInd, true, true)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <ng-container formGroupName="prRemarks">
        <div class="widget-box">
          <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
            Remarks to Buyer
          </h5>
          <div class="widget-content">
            <textarea formControlName="buyerRemarks" matInput class="w-100" placeholder=""></textarea>
          </div>
        </div>
        <div class="widget-box">
          <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
            Remarks to Supplier
          </h5>
          <div class="widget-content">
            <textarea formControlName="supplierRemarks" matInput class="w-100" placeholder=""></textarea>
          </div>
        </div>
      </ng-container>
      <div formArrayName="prDocumentSection" class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Document Section
        </h5>
        <div class="widget-content">
          <div *ngIf="false" class="grid-25-55-18 align-items-center">
            <mat-form-field>
              <mat-label>Document Type</mat-label>
              <mat-select required>
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value=""></mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Description</mat-label>
              <textarea matInput class="w-100" rows="1"></textarea>
            </mat-form-field>
            <div class="custom-file-upload mt-3">
              <button class="file-upload-button">
                <input class="custom-file-input" id="customFileLang" type="file" #fileInput
                  accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf" multiple />
                <i class="fa fa-cloud-upload" aria-hidden="true"></i><span class="ps-2">Upload</span>
              </button>
            </div>
          </div>
          <div class="table-responsive mt-2">
            <table class="content-table">
              <thead>
                <tr>
                  <th scope="col" style="min-width: 100px">Serial #</th>
                  <th scope="col">Document Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">File Type</th>
                  <th scope="col">File Name</th>
                  <th scope="col">Uploaded By</th>
                  <th scope="col">Uploaded Date</th>
                  <th scope="col">
                    Upload
                    <input type="file" multiple #fileUploadInput id="PRfileUpload"
                      style="height: 1px; width: 1px; pointer-events: none" hidden />
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let doc of getDocumentsArray().controls;
                    let ind = index
                  " [formGroupName]="ind" class="cust-field-height">
                  <td>{{ ind + 1 }}</td>
                  <td>
                    {{ doc.get("documentName")?.value }}
                  </td>
                  <td>
                    <textarea matInput class="w-100" formControlName="description" rows="1">
                    </textarea>
                  </td>
                  <td>
                    {{ doc.get("fileType")?.value }}
                  </td>

                  <td>
                    {{ doc.get("fileName")?.value }}
                  </td>
                  <td>
                    {{ doc.get("uploadedByName")?.value  }}
                  </td>
                  <td>
                    {{ doc.get("uploadedDate")?.value }}
                  </td>
                  <td>
                    <!-- Upload Start Jawahar-->

                    <div class="custom-file-upload" style="float: left; margin-top: 5px;">
                      <button class="file-upload-button">
                        <!-- <input class="custom-file-input" type="file"> -->
                        <i [id]="'prDoc_'+ind" (click)="onUploadClick($event, ind, doc)"
                          class="fa fa-cloud-upload custom-badge" aria-hidden="true" style="color: #5f7184;"></i>
                        <sup *ngIf="doc.errors" style="color:red;">*</sup>
                      </button>
                    </div>
                    <div class="attach-section col position-relative"
                      style=" width: 50px; margin-left: 20px; float: left;">
                      <mat-icon matBadge=2 id="sidebarToggle" appDocIcon
                        (filesChange)="uploadedFilesOnChange($event, doc)" [files]="doc.get('upload')?.value || []"
                        [matBadge]="(doc.get('upload')?.value || []).length" matBadgeOverlap="false">
                        <span class="material-icons-outlined">ballot</span>
                      </mat-icon>
                    </div>

                    <!-- Upload End -->


                    <!-- <div
                      style="
                        width: 100px;
                        display: flex;
                        justify-content: space-around;
                      "
                    >
                      <mat-icon
                      
                        >cloud_upload</mat-icon
                      >

                      <mat-icon
                        appDocIcon
                        (filesChange)="uploadedFilesOnChange($event, doc)"
                        [files]="doc.get('upload')?.value || []"
                        [matBadge]="(doc.get('upload')?.value || []).length"
                        matBadgeOverlap="false"
                        class="file-icon"
                        >description</mat-icon
                      >
                    </div> -->

                    <!-- <button matBadge="4" matBadgeOverlap="false" mat-raised-button color="primary" >

                                        </button> -->
                  </td>
                  <!-- <td>
                                    <button mat-button color="warn">
                                        <mat-icon>delete</mat-icon>
                                      </button>
                                </td>                                 -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
    <mat-accordion multi class="custom-accordion">

      <div class="widget-box" #commentSection >
          <div class="widget-content">
              <div *ngFor="let wfHistory of checkIfWFLevelAvialbale;">
                  @if(userDetails.userId === wfHistory?.assignedToUserId
                  && wfHistory?.actionTaken === WorkFlowStatusForLevelWise.LEVELPENDING
                  && wfHistory?.keyValue == PR_form.get('purchaseRequisitionInfo.refNo')?.value
                  ){
                  <mat-expansion-panel [expanded]="isOpen" class="pq-fee-details" (opened)="wfDetailsPanel.set(false)"
                      (closed)="wfDetailsPanel.set(true)">
                      <mat-expansion-panel-header>
                          <mat-panel-title class="Xcustom-panel-header">WorkFlow Details</mat-panel-title>
  
                      </mat-expansion-panel-header>
                      <mat-label class="ft-size13">Comments</mat-label>
                      <mat-form-field class="w-100">
                          <textarea matInput [(ngModel)]="wfDetailsComments"
                              [ngModelOptions]="{standalone: true}"></textarea>
                      </mat-form-field>
                      @if(!showReqInfoTabs){
                      <div class="footer-action-btn">
                          @if(wfHistory?.onlyReject){
                          <button matTooltip="Reject" class="btn-gray" (click)="rejectVerifyPopup(wfHistory)"><i
                                  class="fa fa-thumbs-down pe-2"></i>Reject</button>
                          }
                          <div class="middle-spacer"></div>
                          @if(wfHistory?.onlyApprove){
                          <button class="btn-blue" matTooltip="Approve"
                              (click)="updateWFStatus(WorkFlowStatusForLevelWise.LEVELAPPROVED,wfHistory)"><i
                                  class="fa fa-thumbs-up pe-2" aria-hidden="true"></i>Approve</button>
                          }
                          @if(wfHistory?.onlyReqInfo){
                          <button class="btn-blue" matTooltip="Request Info" (click)="showReqInfoTabs = true"><i
                                  class="fa fa-info-circle pe-2" aria-hidden="true"></i>Request Info</button>
                          }
  
                      </div>
                      }
                      <!-- Show req for Info data -->
                      @if(showReqInfoTabs){
                      <div class="footer-action-btn">
                          <div class="d-flex flex-row justify-content-start mt-2" style="margin-left: -10px;">
                              <mat-checkbox class="ml-0" style="font-size: 13px !important;" checked="true"
                                  disabled="true">
                                  Req Info to initiator
                              </mat-checkbox>
                              <mat-checkbox style="font-size: 13px !important;" class="ml-0 ft" disabled="true">
                                  Req Info to specific user
                              </mat-checkbox>
                              <mat-checkbox style="font-size: 13px !important;" class="ml-0 ft" disabled="true">
                                  Req Info to any user
                              </mat-checkbox>
                          </div>
  
                          <div class="middle-spacer"></div>
                          <button color="warn" matTooltip="Cancel" class="btn-gray" (click)="showReqInfoTabs = false"><i
                                  class="fa fa-arrow-left-o pe-2" aria-hidden="true"></i>Cancel</button>
                          <button class="btn-blue" matTooltip="Ok"
                              (click)="updateWFStatus(WorkFlowStatusForLevelWise.LEVELREQFORINFO ,wfHistory)"><i
                                  class="fa fa-thumbs-up pe-2" aria-hidden="true"></i>Ok</button>
                      </div>
                      }
                  </mat-expansion-panel>
                  }
              </div>
          </div>
      </div>
  
      <div class="widget-box">
         <div class="widget-content">
          <mat-expansion-panel [expanded]="isOpen" class="pq-fee-details" (opened)="wfStatusPanel.set(false)"
          (closed)="wfStatusPanel.set(true)" *ngIf="workFlowRowData?.length !== 0">
          <mat-expansion-panel-header>
              <div class="my-panel" (click)="$event.stopPropagation();">
                  <mat-panel-title>WorkFlow Status</mat-panel-title>
                  <mat-panel-description>
                      <button class="header-level-btn-blue" (click)="wfHistory()"><i
                              class="fa fa-info-circle pe-2"></i>
                          History
                      </button>
                  </mat-panel-description>
              </div>
          </mat-expansion-panel-header>
          <div class="widget-content p-0">
            <ag-grid-angular [theme]="theme" [rowData]="workFlowRowData" [columnDefs]="workFlowStatuscolDefs"
                [defaultColDef]="defaultColDef" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                [paginationPageSizeSelector]="paginationPageSizeSelector" />
        </div>
      </mat-expansion-panel>
         </div>
      </div>

  </mat-accordion>
  </div>
 

  <div class="footer-action-btn">
    <button (click)="back()" class="btn-gray">
      <i class="fa fa-arrow-circle-o-left pe-2" aria-hidden="true"></i>Cancel
    </button>
    <button class="btn-blue" disabled>
      <i class="fa fa-money pe-2" aria-hidden="true"></i>Budget Check
    </button>

    

    <div class="middle-spacer"></div>
    <button class="btn-blue"  [disabled]="PR_buttonsControl.save.disabled" (click)="savePR()">
      <i class="fa fa-floppy-o pe-2" aria-hidden="true"></i>Save As Draft
    </button>
   
    <button class="btn-blue" [disabled]="PR_buttonsControl.prWf.disabled" (click)="processApproval()">
      <i class="fa fa-recycle pe-2" aria-hidden="true"></i>Process Workflow
    </button>
    <button class="btn-blue" [disabled]="PR_buttonsControl.submit.disabled"  >
      <i class="fa fa-pointer pe-2" aria-hidden="true"></i>Submit
    </button>
  </div>
</div>


<ng-template #addSupplier>
  <div class="dialog-container">
    <div mat-dialog-title>
      <h3>Search and Add Suppliers</h3>
      <button (click)="dialogClose()" mat-icon-button mat-dialog-close>
        <i class="material-icons" matTooltip="close">close</i>
      </button>
    </div>
    <mat-dialog-content>
      <div class="widget-box">
        <div class="widget-content">
          <div class="grid-4cols align-items-center">
            <mat-form-field>
              <mat-label>Spend Parent Category</mat-label>
              <input matInput value="Information Technology" disabled />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spend Sub Category</mat-label>
              <input matInput value="Hardware Supplies" disabled />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Spend Child Category</mat-label>
              <input matInput value="IBM Hardware" disabled />
            </mat-form-field>
            <button style="width: 120px" class="header-level-btn-gray mt-3 mxw-120" matTooltip="Reset">
              <i class="fa fa-refresh pe-2"></i>Reset
            </button>
          </div>
          <div class="grid-4cols align-items-center">
            <mat-form-field class="w-100">
              <mat-label>Supplier Code</mat-label>
              <input #spInp (input)="searchSuppliers(spInp.value,'supplierCode')" matInput value="" />
            </mat-form-field>
            <mat-form-field class="w-100">
              <mat-label>Supplier Name</mat-label>
              <input #spInp (input)="searchSuppliers(spInp.value,'supplierName')" matInput value="" />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Grade</mat-label>
              <mat-select #spInp (selectionChange)="searchSuppliers(spInp.value,'grade')">
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="A">A</mat-option>
              </mat-select>
            </mat-form-field>
            <button style="width: 120px" class="header-level-btn-blue mt-3 mxw-120" matTooltip="Create Template">
              <i class="fa fa-search pe-2"></i>Search
            </button>
          </div>
        </div>
      </div>
      <div class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Supplier Details
        </h5>
        <div class="widget-content">
          <ag-grid-angular
            #suppliersListGrid
            style="width: 100%; height: 500px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [modules]="modules"
            [columnDefs]="columnDefs"
            [pagination]="pagination"
            [paginationPageSize]="paginationPageSize"
            [paginationPageSizeSelector]="paginationPageSizeSelector"
            rowSelection="multiple"
            (selectionChanged)="onSelectionChanged($event)"
          >
          </ag-grid-angular>
       
        </div>
      </div>
      <div class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Selected Suppliers
        </h5>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="content-table">
              <thead>
                <tr>
                  <th scope="col">Serial #</th>
                  <th scope="col">Code</th>
                  <th scope="col">Name</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let supplier of selectedSuppliers; let sIndex = index">
                  <td>{{ sIndex + 1 }}</td>
                  <td>{{ supplier.supplierRefNo }}</td>
                  <td>{{ supplier.supplierName }}</td>
                  <td>{{ supplier.supplierGrade||'' }}</td>
                  <td>{{ supplier.status }}</td>
                  <td class="text-center">
                    <i (click)="removeSupplier(sIndex, false)" class="fa fa-trash text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="footer-cta-btn">
        <div class="cta-leftside-btn">
          <button (click)="dialogClose()" class="btn-gray" mat-dialog-close cdkFocusInitial>
            <i class="fa fa-ban pe-2"></i>Cancel
          </button>
        </div>

        <div class="cta-rightside-btn">
          <button class="btn-blue" (click)="addSuppliersToForm()">
            <i class="fa fa-plus pe-2"></i>Add
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>
</ng-template>


<ng-template #popupTemplate >

  <div class="dialog-container">
    <div mat-dialog-title>
        <h3>Search and Add Items</h3>
        <button mat-icon-button  mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div>
    <mat-dialog-content>
      <div class="widget-box">
          <div class="widget-content">
            <div class="grid-4cols align-items-center">
              <mat-form-field>
                <mat-label>Spend Category 1</mat-label> 
                  <mat-select required>
                      <mat-option value="Pls select">-- Please Select --</mat-option> 
                  </mat-select> 
              </mat-form-field>
              <mat-form-field>
                <mat-label>Spend Category 2</mat-label> 
                  <mat-select required>
                      <mat-option value="Pls select">-- Please Select --</mat-option> 
                  </mat-select> 
              </mat-form-field>
              <mat-form-field>
                <mat-label>Spend Category 3</mat-label> 
                  <mat-select required>
                      <mat-option value="Pls select">-- Please Select --</mat-option> 
                  </mat-select> 
              </mat-form-field>
              <button style="width: 120px" class="header-level-btn-gray mt-3 mxw-120" matTooltip="Reset">
                <i class="fa fa-refresh pe-2"></i>Reset
              </button>
            </div>
            <div class="grid-4cols align-items-center">
              <mat-form-field class="w-100">
                <mat-label>Iem Code</mat-label>
                <input matInput value="" />
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Item Description</mat-label>
                <input matInput value="" />
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Item Type</mat-label>
                <input matInput value="" />
              </mat-form-field> 
              <button style="width: 120px" class="header-level-btn-blue mt-3 mxw-120" matTooltip="Create Template">
                <i class="fa fa-search pe-2"></i>Search
              </button>
            </div>
          </div>
      </div>
      <div class="widget-box mb-2">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Item Details
        </h5>
        <div class="widget-content">
          <ag-grid-angular #suppliersListGrid style="width: 100%; height: 500px" class="ag-theme-alpine"
            [rowData]="itemInventryList" [modules]="modules" [columnDefs]="itemsColumnDefs" [pagination]="pagination"
            [paginationPageSize]="paginationPageSize" [paginationPageSizeSelector]="paginationPageSizeSelector"
            rowSelection="multiple" (selectionChanged)="onItemSelectionChanged($event)">
          </ag-grid-angular>
        </div>
      </div>

      <div class="widget-box">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
          Selected Items
        </h5>
        <div class="widget-content">
          <div class="table-responsive">
            <table class="content-table">
              <thead>
                <tr>
                  <th scope="col">Serial #</th>
                  <th scope="col">Item Code</th>
                  <th scope="col">Item Description</th>
                  <th scope="col">Item Type</th>
                  <th scope="col">UOM</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                @for(item of selectedItems;track item;let itemI = $index;){
                  <tr>
                    <td>{{itemI+1}}</td>
                    <td>{{item?.code||''}}</td>
                    <td>{{item?.description||''}} </td>
                    <td>{{item?.typeId||''}}</td>
                    <td>{{item?.uomId||''}}</td>
                    <td class="text-center">
                      <i (click)="removeSelectedItem(itemI)" class="fa fa-trash text-danger"></i>
                    </td>
                  </tr>
                }
           
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="footer-cta-btn">
        <div class="cta-leftside-btn">
          <button class="btn-gray" mat-dialog-close cdkFocusInitial>
            <i class="fa fa-ban pe-2"></i>Cancel
          </button>
        </div>

        <div class="cta-rightside-btn">
          <button class="btn-blue" (click)="addSelectedItems()">
            <i class="fa fa-plus pe-2"></i>Add 
          </button>
        </div>
      </div>
    </mat-dialog-actions>
  </div>

</ng-template>
