<div class="table-responsive pt-2">
    <table class="content-table">
        <thead>
            <tr>
                <th scope="col">WF Level #</th>
                <th scope="col">Assigned User</th>
                <th scope="col">Action Date</th>
                <th scope="col">Comments</th>
                <th scope="col">Estimated Date of Completion</th>
                <th scope="col">Action Taken</th>
            </tr>
        </thead>
        <tbody class="list">
            <tr>
                <td class="text-center">1</td>
                <td>James</td>
                <td>25-Nov-24</td>
                <td>Update the Credit Limits</td>
                <td>26-Nov-24</td>
                <td>Request Information</td>
            </tr>
        </tbody>
    </table>
</div>