<div class="container-fluid">
    <div class="pageContainer">
        <div class="pageHeader">
            <h1 class="heading">Clause Library</h1>
            <button   matTooltip="Create Template"
            (click)="addNewClause()"><mat-icon>add</mat-icon>New</button>
        </div>
        <div class="pageContent">
            <div class="commonWidget cust-field-height">
                <div class="widgetContent">
                    <div class="d-block cust-mat-table">

                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="templateId">
                                <th mat-header-cell *matHeaderCellDef>Ref #</th>
                                <td mat-cell *matCellDef="let element"> {{element.templateId}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-templateId">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field class="f-width100">
                                        <input type="text" matInput placeholder="Search by Ref #">
                                    </mat-form-field>
                                </th>
                            </ng-container>                            

                            <ng-container matColumnDef="clauseName">
                                <th mat-header-cell *matHeaderCellDef> Clause Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.clauseName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-clauseName">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field class="f-width100">
                                        <input type="text" matInput placeholder="Search by Name">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef> Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-description">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search by Description">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="categoryName">
                                <th mat-header-cell *matHeaderCellDef> Category </th>
                                <td mat-cell *matCellDef="let element"> {{element.categoryName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-categoryName">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search by Category">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="typeName">
                                <th mat-header-cell *matHeaderCellDef> Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.typeName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-typeName">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search by Type">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="contractClassification">
                                <th mat-header-cell *matHeaderCellDef> Contract Classification </th>
                                <td mat-cell *matCellDef="let element"> {{element.contractClassification}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-contractClassification">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field>
                                        <input type="text" matInput placeholder="Search by Classification">
                                    </mat-form-field>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="createdDate">
                                <th mat-header-cell *matHeaderCellDef> Created On </th>
                                <td mat-cell *matCellDef="let element"> {{element.createdDate}} </td>
                            </ng-container>
                            <ng-container matColumnDef="f-createdDate">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-form-field class="f-width100">
                                        <input type="text" matInput placeholder="Search by Date">
                                    </mat-form-field>
                                </th>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef>Status </th>
                                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Action </th>
                                <td mat-cell *matCellDef="let element"><a class="d-flex align-items-center"
                                        [matMenuTriggerFor]="menu"><span>Action</span> <mat-icon aria-hidden="true"
                                            aria-label="arrow_drop_down" fontIcon="arrow_drop_down"></mat-icon>
                                    </a>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item class="menu-hight">View / Edit</button>
                                        <button mat-menu-item class="menu-hight">Add Tags</button>
                                        <button mat-menu-item class="menu-hight">Delete</button>
                                    </mat-menu>
                            </ng-container>
                            <ng-container matColumnDef="f-action">
                                <th mat-header-cell *matHeaderCellDef>
                                </th>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-header-row *matHeaderRowDef="displayedColumnsFilter"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div class="d-flex w-100 align-items-center">
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>