<div class="content-container">

    @if(!hideHeader){
    <mat-toolbar class="mat-header">
        <img src="assets/procureZEN-borderless.png" alt="ProcureZEN" style="height: 35px;">
        <div class="d-flex flex-row user-profile" matTooltip="User Profile">
            <div class="avatar-sm" [matMenuTriggerFor]="menu">
                <img src="assets/images/avatar.png" alt="User Profile" class="user-img">
            </div>
            <a [matMenuTriggerFor]="menu" class="toolbarLink pointer ft-size13 user-name">
                {{userName | translate}}
            </a>
            <mat-menu #menu="matMenu" class="XuserMenu comm-menu comm-menu-userprofile">
                <button mat-menu-item *ngIf="SupDetails?.status === 'Request For Information'">
                    <!-- <span class="material-icons-outlined">person</span> -->
                    <img src="../../assets/images/icons/userprofile.png" alt="User Profile">
                    Manage Profile
                </button>                
                <button mat-menu-item>
                    <a class="text-dark" href="javascript:void(0)" (click)="onchangePswdSubmit()">
                        <!-- <span class="material-icons-outlined">person</span>  -->
                        <img src="../../assets/images/icons/change-password.png" alt="Change Profile Password" width="28">
                        Change Password 
                    </a>
                </button>
                <button mat-menu-item (click)="logOut()">
                    <!-- <span class="material-icons-outlined">person_off</span> change-password  -->
                    <img src="../../assets/images/icons/logout.png" alt="Logout Profile">
                    Logout
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    }


    <!-- <div class="bread-crumbs">
            <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier Management</h2>
        </div> -->
    @if(loggedDetails?.userType === 2 && status || loggedDetails?.userType === 2 && profile){
    <div class="content-box pt-0">

        <mat-tab-group class="verticalTabs sreg-tab" #tabGroup style="background-color: #fff;"
            (selectedTabChange)="tabClick($event)">
            <mat-tab *ngIf="loggedDetails?.userType === 2">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 0" class="number-notation"><span>1</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 0" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Supplier Information</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div>
                    @if (tabGroup.selectedIndex === 0) {
                    <app-supplier-information [readonly]="false" [supplierId]="supplierId"
                        
                        (nextTabEmit)="gotoNextTab($event)" ></app-supplier-information>
                    }
                </div>
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn"></div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="onSupplyInfoSubmit()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="onSupplyInfoSubmit(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="loggedDetails?.userType === 2" [disabled]="tabCheckValues[0]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 1" class="number-notation"><span>2</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 1" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Address Details</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent">
                    @if (tabGroup.selectedIndex === 1) {
                    <app-address-details #addressDetails [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"
                        
                        (dialogResult)="handleDialogResult($event)" ></app-address-details>
                    }
                </div>
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'addressDetails', true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveAddressDetails()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveAddressDetails(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="loggedDetails?.userType === 2" [disabled]="tabCheckValues[1]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 2" class="number-notation"><span>3</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 2" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Contact Details</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>


                <div class="tabContent">
                    <div class="previewBox">
                        @if (tabGroup.selectedIndex === 2) {
                        <app-contact-details #Contact [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"
                            (tabValidCheckEmit)="getScreenCompleteDetails()" (SaveDraftFlag)="getSaveDraftFlag($event)" (NextFlag)="getNextFlag($event)"
                            (dialogResult)="handleDialogResult($event)" ></app-contact-details>
                        }
                    </div>
                </div>

                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button  [disabled]="disableStatusBased == false" 
                            class="btn-gray" (click)="goto(false, 'contactDetails', true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveContactDetails()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveContactDetails(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="loggedDetails?.userType === 2" [disabled]="tabCheckValues[2]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 3" class="number-notation"><span>4</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 3" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Financial & Business</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent">
                    @if (tabGroup.selectedIndex === 3){
                    <app-financial-health-details #financialHealth [supplierId]="supplierId"
                        (nextTabEmit)="gotoNextTab($event)" (tabValidCheckEmit)="getScreenCompleteDetails()"
                        (SaveDraftFlag)="getSaveDraftFlag($event)" (NextFlag)="getNextFlag($event)"
                        (dialogResult)="handleDialogResult($event)" ></app-financial-health-details>
                    }
                </div>

                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button  [disabled]="disableStatusBased == false" 
                            class="btn-gray" (click)="goto(false, 'financialHealth',true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveFinancialandBusiness()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i>
                            Save as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveFinancialandBusiness(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="loggedDetails?.userType  || loggedDetails?.userType !== 1"
                [disabled]="tabCheckValues[3]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 4" class="number-notation"><span>5</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 4" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Bank Details</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent previewBox">
                    @if (tabGroup.selectedIndex === 4){
                    <app-bank-details #Bank [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"
                        (tabValidCheckEmit)="getScreenCompleteDetails()" (SaveDraftFlag)="getSaveDraftFlag($event)" (NextFlag)="getNextFlag($event)"
                        (dialogResult)="handleDialogResult($event)" ></app-bank-details>
                    }
                </div>
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'bankDetails',true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveBankDetails()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save as
                            Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveBankDetails(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab [disabled]="tabCheckValues[4]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>

                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 5" class="number-notation"><span>6</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 5" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Category & Scope Management</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent">
                    <div class="previewBox">
                        @if (tabGroup.selectedIndex === 5) {
                        <app-category-scope-management #childCategoryScope (nextTabEmit)="gotoNextTab($event)"
                            (dialogResult)="handleDialogResult($event)" [supplierId]="supplierId"
                            (tabValidCheckEmit)="getScreenCompleteDetails()" [userId]="userId"
                            (SaveDraftFlag)="getSaveDraftFlag($event)" (NextFlag)="getNextFlag($event)"
                            (disableSaveCategoryEmit)="disableOrEnableCategorySave($event)" >
                        </app-category-scope-management>
                        }
                    </div>
                </div>

                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'categoryAndScope',true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag === false || disableStatusBased == false"
                            (click)="saveCategoryAndScope()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveCategoryAndScope(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            <mat-tab *ngIf="loggedDetails?.userType === 2" [disabled]="tabCheckValues[5]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>

                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 6" class="number-notation"><span>7</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 6" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">PQ Questionnaire</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent">
                    @if (tabGroup.selectedIndex === 6) {
                    <app-pq-questionnaries #pqquestionaries [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"
                        (tabValidCheckEmit)="getScreenCompleteDetails()"
                        (SaveDraftFlag)="getSaveDraftFlag($event)" (NextFlag)="getNextFlag($event)"
                        (dialogResult)="handleDialogResult($event)" ></app-pq-questionnaries>
                    }
                </div>

                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'pqquestionaries',true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue" [disabled]="SaveDraftFlag === false || disableStatusBased == false"
                            (click)="savePQquestionnaries()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="savePQquestionnaries(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            @if(!disableComplianceTab){
            <mat-tab [disabled]="disableComplianceTab || tabCheckValues[6]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>

                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 7" class="number-notation"><span>8</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 7" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->

                        </span>
                        <div class="col">Compliance</div>
                        <span class="material-icons-outlined">arrow_right</span>

                    </div>
                </ng-template>
                <div class="tabContent previewBox">
                    @if (tabGroup.selectedIndex === 7) {
                    <app-reg-activities-certificate #compliance (tabValidCheckEmit)="getScreenCompleteDetails()"
                        (dialogResult)="handleDialogResult($event)" (nextTabEmit)="gotoNextTab($event)"
                        (SaveDraftFlag)="getSaveDraftFlag($event)" [userId]="userId" (NextFlag)="getNextFlag($event)"
                        [supplierId]="supplierId" ></app-reg-activities-certificate>
                    }
                </div>
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goToPreviousRegActivitities(true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveRegActivitities()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save
                            as Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveRegActivitities(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>

                    </div>
                </div>
            </mat-tab>
            }

            <mat-tab *ngIf="loggedDetails?.userType === 2" [disabled]="tabCheckValues[7]?.checkValidation">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 8" class="number-notation"><span>{{!disableComplianceTab
                                ? 9 : 8}}</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 8" class="circle-notation"> <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->
                        </span>
                        <div class="col">Attachment</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent previewBox">
                    @if (tabGroup.selectedIndex === 8) {
                    <app-supplier-attachment #attachment (dialogResult)="handleDialogResult($event)"
                        [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"
                        (SaveDraftFlag)="getSaveDraftFlag($event)" (tabValidCheckEmit)="getScreenCompleteDetails()"
                        [userId]="userId" (NextFlag)="getNextFlag($event)"
                        (disableSaveAttachEmit)="disableOrEnableAttachSave($event)"></app-supplier-attachment>
                    }
                </div>

                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'attachment', true)" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button  class="btn-blue"
                            [disabled]="SaveDraftFlag == false || disableStatusBased == false"
                            (click)="saveAttachments()"><i class="fa fa-floppy-o pe-2" aria-hidden="true"></i> Save as
                            Draft</button>
                        <button   [disabled]="NextFlag == false || disableStatusBased == false"
                            class="btn-gray" (click)="saveAttachments(true)" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>
                    </div>
                </div>
            </mat-tab>
            <mat-tab [disabled]="!enableDeclaration">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 9" class="number-notation"><span>{{!disableComplianceTab
                                ? 10 : 9}}</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 9" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->
                        </span>
                        <div class="col">Preview</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div>
                    @if (tabGroup.selectedIndex === 9) {
                    <app-supplier-form-preview [supplierId]="supplierId"></app-supplier-form-preview>
                    }
                </div>
                <!-- <div>
                    @if (loggedDetails?.userType === 4) {
                    @if (tabGroup.selectedIndex === 0) {
                    <app-supplier-form-preview [supplierId]="supplierId"></app-supplier-form-preview>
                    }
                    } @else {
                    @if (tabGroup.selectedIndex === 9) {
                    <app-supplier-form-preview [supplierId]="supplierId"></app-supplier-form-preview>
                    }
                    }
                </div> -->
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="tabGroup.selectedIndex=8" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="tabGroup.selectedIndex=10" matTooltip="Go Next">Next<i
                                class="fa fa-chevron-circle-right ps-2"></i></button>
                    </div>
                </div>
            </mat-tab>

            <mat-tab *ngIf="loggedDetails.userType === 2" [disabled]="!enableDeclaration">
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>

                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 10"
                            class="number-notation"><span>{{!disableComplianceTab
                                ? 11 : 10}}</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 10" class="circle-notation">
                            <i class="fa fa-pencil"></i>
                            <!-- <img src="../../assets/images/icons/supplier-form-fill1.png" alt="" width="18">  -->
                        </span>
                        <div class="col">Declaration</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent">
                    @if (tabGroup.selectedIndex === 10){
                    <app-final-submission #final [supplierId]="supplierId"
                        (dialogResult)="handleDialogResult($event)" [supplierManagementDet]="supplierManagementResponce"></app-final-submission>
                    }
                </div>
                <div class="footer-cta-btn">
                    <div class="cta-leftside-btn">
                        <button   [disabled]="disableStatusBased == false"
                            class="btn-gray" (click)="goto(false, 'final')" matTooltip="Go Next"><i
                                class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
                    </div>
                    <div class="cta-rightside-btn">
                        <button *ngIf="profileStatus || loggedDetails?.supplierCompletedFlag === false"
                            [disabled]="disableStatusBased == false" class="btn-blue" (click)="saveFinalSubmission()"
                            matTooltip="Go Next">Submit<i class="fa fa-chevron-circle-right ps-2"></i></button>
                        <button   *ngIf="loggedDetails?.supplierCompletedFlag === true"
                            [disabled]="disableStatusBased == false" class="btn-gray" (click)="saveFinalSubmission()"
                            matTooltip="Go Next">Next<i class="fa fa-chevron-circle-right ps-2"></i></button>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>

    }

    <!-- @if(loggedDetails.userType === 4 || loggedDetails?.userType === 5){
            
            <mat-tab>
                <div class="bread-crumbs">
                    <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier
                        Registration </h2>
                </div>
                <ng-template mat-tab-label>
                    <div class="d-flex justify-content-start align-items-center col">
                        <span *ngIf="tabGroup.selectedIndex !== 10" class="number-notation"><span>{{disableComplianceTab ? 10 : 11}}</span></span>
                        <span *ngIf="tabGroup.selectedIndex === 10" class="circle-notation"><i
                                class="fa fa-pencil"></i></span>
                        <div class="col">Pre-Qualification Assessment</div>
                        <span class="material-icons-outlined">arrow_right</span>
                    </div>
                </ng-template>
                <div class="tabContent previewBox">
                    @if (tabGroup.selectedIndex === 10) {
                    <app-pq-assesment-list #pqattachment (dialogResult)="handleDialogResult($event)"
                        [supplierId]="supplierId" (nextTabEmit)="gotoNextTab()"></app-pq-assesment-list>
                    }
                </div>
                
            </mat-tab>
        } -->


    <!-- This is Buyer User login TAB details-->
    @if(loggedDetails?.userType === 1 || id){
    <div class="bread-crumbs">
        <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Supplier Pre-Qualification
            Details</h2>
    </div>
    <div class="content-box pt-0 ps-0 pe-2">

        <div class="widget-box">
            <div class="widget-content">
                <mat-tab-group class="horizontalTab" [(selectedIndex)]="getTabIndex" #tabGroup
                    style="background-color: #fff;" (selectedTabChange)="tabClick($event)">
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="d-flex justify-content-start align-items-center col">
                                <div class="col">Application Preview</div>
                                <span class="material-icons-outlined">arrow_right</span>
                            </div>
                        </ng-template>
                        <div>
                            <app-supplier-form-preview [supplierId]="supplierId"></app-supplier-form-preview>
                        </div>
                        <div class="footer-action-btn">
                            <div class="middle-spacer"></div>
                            <button   class="btn-gray"
                                (click)="tabGroup.selectedIndex=1">Next<i
                                    class="fa fa-chevron-circle-right ps-2"></i></button>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="d-flex justify-content-start align-items-center col">
                                <div class="col">Pre-Qualification Assessment</div>
                                <!-- <span class="material-icons-outlined">arrow_right</span> -->
                            </div>
                        </ng-template>
                        <div class="tabContent previewBox" style="padding: 5px 10px; ">
                            @if (tabGroup.selectedIndex === 1) {
                            <app-pq-assesment-list #pqattachment (dialogResult)="handleDialogResult($event)"
                                [supplierId]="supplierId" (nextTabEmit)="gotoNextTab($event)"></app-pq-assesment-list>
                            }
                        </div>

                        <!-- ------------------------------------    user type 5 ----------------------------------------------- -->

                        <div class="footer-action-btn" *ngIf="handleButtons() === 'PQRep'">                           
                                <button   class="btn-gray"
                                    *ngIf="handleButtons() === 'PQRep'" (click)="previousAlert()"><i
                                        class="fa fa-arrow-circle-left pe-2" aria-hidden="true"></i>Previous</button>

                                        <div class="middle-spacer"></div>
                                <button   class="btn-blue"
                                    *ngIf="handleButtons() === 'PQRep'" (click)="approval('3')"><i
                                        class="fa fa-check pe-2" aria-hidden="true"></i>Approve</button>
                                <button   class="btn-blue"
                                    *ngIf="handleButtons() === 'PQRep'" (click)="reject('4')"><i class="fa fa-ban pe-2"
                                        aria-hidden="true"></i>Reject</button>
                                <button   class="btn-blue"
                                    *ngIf="handleButtons() === 'PQRep'" (click)="request('2')"><i
                                        class="fa fa-check pe-2" aria-hidden="true"></i>Request
                                    for
                                    Information</button>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    }
    <!-- </div> -->

</div>