// .description{
//   grid-row: 2/3;
//   grid-column: 2/4;
// }
.select-check {
  grid-row: 4;
  grid-column: 4/6;
  align-self: center;
}
// .version {
//  width: 70px !important;
// }

@media(max-width: 768px) {
  .pageContainer 
  .pageContent 
  .commonWidget 
  .widgetContent 
  .grid-5cols {
    grid-template-columns: 100%;
    // .description{
    //   grid-row: 2/3;
    //   grid-column: 2/4;
    // }
}
}
.last-row {
  display: grid;
  grid-template-columns: 20%  20%  20% 40%;
  align-items: center;
  padding-left: 10px;
}