<form class="me-2">
    <div class="widget-box">
        <h5 class="widget-title">Company Details </h5>
        <div class="widget-content">
            <div class="grid-4cols">
                <mat-form-field class="col">
                    <mat-label>
                        Company Name
                    </mat-label>
                    <input matInput matTooltip="Enter the company name" formControlName="companyName">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Company Name in Native</mat-label>
                    <input matInput matTooltip="Enter the company name in native" formControlName="companyNameNative">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Parent Company Name</mat-label>
                    <input matInput matTooltip="Enter the parent company name" formControlName="parentCompanyName">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Supplier Classification
                    </mat-label>
                    <input type="text" placeholder="Search supplier classification" readonly="true"
                        formControlName="supplierClassification" matTooltip="Search supplier classification"
                        aria-label="Number" matInput [formControl]="myControl">
                    <!-- <mat-error *ngIf="supplierForm.get('supplierClassification')?.hasError('required')">
                Supplier Classification is required.
            </mat-error> -->
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Supplier Type
                    </mat-label>
                    <mat-select formControlName="supplierTypeId"
                        matTooltip="Select Supplier Type">
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option 
                           >Contractor</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Organization Website</mat-label>
                    <input matInput matTooltip="Enter the organization website" formControlName="organizationWebsite">
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="widget-box">
        <h5 class="widget-title">Licence # Details </h5>
        <div class="widget-content">
            <div class="grid-4cols">
                <mat-form-field class="col">
                    <mat-label>
                        Licence #
                    </mat-label>
                    <input matInput [matTooltip]="tooltipValueForLicense" readonly="true"
                        formControlName="commercialLicenseNo" required>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Establishment Date
                    </mat-label>
                    <input matInput [matDatepicker]="establishmentDt" formControlName="establishmentDate"
                        [required]="checkEstablishDateAdmin" matTooltip="Enter the Establishment Date" [max]="maxDate">
                 
                    <mat-datepicker-toggle matIconSuffix [for]="establishmentDt"></mat-datepicker-toggle>
                    <mat-datepicker #establishmentDt></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Issued Date
                    </mat-label>
                    <input matInput [matDatepicker]="issuedDate" [min]="supplierForm.get('establishmentDate')?.value"
                        formControlName="issuedDate" [required]="checkIssueDateAdmin" matTooltip="Enter the Issued Date"
                        [max]="maxDate">
                    <mat-datepicker-toggle matIconSuffix [for]="issuedDate"></mat-datepicker-toggle>
                    <mat-datepicker #issuedDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Issued By
                    </mat-label>
                    <input matInput matTooltip="Enter the Issued By" formControlName="issuedBy" required>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Type Of Ownership
                    </mat-label>
                    <mat-select formControlName="typeOfOwnershipId"
                        matTooltip="Select Type Of Ownership">
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option >
                            Individual
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Location
                    </mat-label>
                    <input matInput matTooltip="Enter the location" formControlName="location"
                        [required]="checkIssueLocationAdmin">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Expiry Date
                    </mat-label>
                    <input matInput [matDatepicker]="expiryDate" [min]="minDate" formControlName="expiryDate"
                        [required]="checkExpiryDateAdmin" matTooltip="Enter the Expiry Date">
                    <mat-datepicker-toggle matIconSuffix [for]="expiryDate"></mat-datepicker-toggle>
                    <mat-datepicker #expiryDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="widget-box">
        <h5 class="widget-title">Manager in Commercial License</h5>
        <div class="widget-content">
            <div class="grid-4cols">
                <mat-form-field class="col">
                    <mat-label>
                        First Name
                    </mat-label>
                    <input matInput appOnlyAllowedSymbol matTooltip="Enter the first name"
                        formControlName="managerFirstName" required>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Middle Name</mat-label>
                    <input matInput appOnlyAllowedSymbol matTooltip="Enter the middle name"
                        formControlName="managerMiddleName">
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Last Name
                    </mat-label>
                    <input matInput appOnlyAllowedSymbol matTooltip="Enter the lst name"
                        formControlName="managerLastName" required>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Role
                    </mat-label>
                    <mat-select formControlName="managerRole" required
                        matTooltip="Select Role">
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option
                            >Business Development</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>
                        Job Title
                    </mat-label>
                    <input matInput matTooltip="Enter the job title" formControlName="managerJobTitle" required>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>