<div class="dialog-container">
    <div mat-dialog-title>         
            <h3>Assigned Entities</h3>        
            <button mat-icon-button  mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
       
    </div> 
    <mat-dialog-content>
        <div class="widget-box">
            <div class="widget-content">
                <ag-grid-angular [theme]="theme" [rowData]="rowData" [columnDefs]="colDefs"
                [defaultColDef]="defaultColDef" [pagination]="pagination" [paginationPageSize]="paginationPageSize"
                [paginationPageSizeSelector]="paginationPageSizeSelector" />
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-actions> 

        <div class="footer-action-btn">
            <button class="btn-gray"  mat-dialog-close cdkFocusInitial><i class="fa fa-ban pe-2"></i>Close</button>
            <div class="middle-spacer"></div>
        </div>


    </mat-dialog-actions>

</div>