<div class="dialog-container">


    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Clause Details" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
    <mat-dialog-content>
        <div class="widget-box">
              <h5 class="widget-title">Clause Details</h5>
              <div class="widget-content">
                <form #clauseLibraryForm="ngForm" id="relatedPartyFormId">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-4">
                            <mat-form-field class="col">
                                <mat-label>Ref #</mat-label>
                                <input matInput matTooltip="Enter the Related Party Details"
                                    [(ngModel)]="saveClauseVm.refId" #relatedPartyControl="ngModel"
                                    [required]="true" name="refNo" [disabled]="true">
                                @if (relatedPartyControl.errors?.required) {
                                <mat-error matTooltip="Enter the Related Party Details">
                                    Related Party Details is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="col">
                                <mat-label>Clause Name</mat-label>
                                <input matInput matTooltip="Enter the Clause Name"
                                    [(ngModel)]="saveClauseVm.clauseName" #clauseNameControl="ngModel"
                                    [required]="true" name="clauseName">
                                @if (clauseNameControl.errors?.required) {
                                <mat-error matTooltip="Enter the Clause Name">
                                    Clause Name is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-8">
                            <mat-form-field class="col">
                                <mat-label>Description</mat-label>
                                <textarea matInput matTooltip="Enter the description"
                                    [(ngModel)]="saveClauseVm.description" #optDesc="ngModel" #noteHint
                                    name="clauseDesc" cdkTextareaAutosize cdkTextareaAutosize
                                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="1"
                                    [required]="true"></textarea>
                                <mat-hint align="end">{{noteHint.value.length > 0 ? noteHint.value.length : 0}} of
                                    1500</mat-hint>
                                @if (optDesc.errors?.required) {
                                <mat-error matTooltip="Enter the Description">
                                    Description is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-4">
                            <mat-form-field class="col">
                                <mat-label>Category</mat-label>
                                <mat-select [(ngModel)]="saveClauseVm.categoryId" name="catval"
                                    #categoryControl="ngModel" [required]="true" matTooltip="Select Category">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    @for (doc of categoryData; track doc) {
                                    <mat-option [value]="doc.categoryId">{{doc.categoryName}}</mat-option>
                                    }
                                </mat-select>
                                @if (categoryControl.errors?.required) {
                                <mat-error matTooltip="Select a Type">
                                    Category is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="col">
                                <mat-label>Type</mat-label>
                                <mat-select [(ngModel)]="saveClauseVm.typeId" name="typeval"
                                    #clauseTypeControl="ngModel" [required]="true" matTooltip="Select Type">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    @for (doc of clauseTypeData; track doc) {
                                    <mat-option [value]="doc.typeId">{{doc.typeName}}</mat-option>
                                    }
                                </mat-select>
                                @if (clauseTypeControl.errors?.required) {
                                <mat-error matTooltip="Select a Type">
                                    Type is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-8">
                            <mat-form-field class="col">
                                <mat-label>Contract Classification</mat-label>
                                <mat-select #select multiple [(ngModel)]="this.saveClauseVm.contractClassification"
                                    name="classifyVal" #clauseClassifyControl="ngModel" [required]="true"
                                    matTooltip="Select Contract Classifications">
                                    <div class="select-all">
                                        <mat-checkbox [(ngModel)]="allSelected"
                                            [ngModelOptions]="{standalone: true}"
                                            (change)="toggleAllSelection()">Select All</mat-checkbox>
                                    </div>
                                    <mat-option (click)="optionClick()" *ngFor="let cl of clauseClassifyData"
                                        [value]="cl.classificationId">
                                        {{cl.classificationName}}
                                    </mat-option>
                                </mat-select>
                                @if (clauseClassifyControl.errors?.required) {
                                <mat-error matTooltip="Select Contract Classifications">
                                    Contract Classification is required</mat-error>
                                }
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-12">
                            <div class="borderBox">
                                <div class="boxHeader">
                                    <div class="subHeading">Clause Text <strong class="asterick">*</strong></div>
                                </div>
                                <div class="boxBody">
                                    <angular-editor [(ngModel)]="saveClauseVm.htmlContent" [config]="config"
                                        #clauseTextControl="ngModel" [required]="true"
                                        name="htmlText"></angular-editor>
                                    @if (clauseTextControl.errors?.required) {
                                    <mat-error matTooltip="Select a Type">
                                        Clause Text is required</mat-error>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="col-md-12">
                            <div class="borderBox">
                                <div class="boxHeader">
                                    <div class="subHeading">Tags (Add Tags with comma seperated)</div>
                                </div>
                                <div class="boxBody">
                                    <mat-form-field class="col">
                                        <mat-label>Tags</mat-label>
                                        <textarea matInput matTooltip="Enter the description"
                                            [(ngModel)]="saveClauseVm.tagValue" #tagValues="ngModel" #noteTags
                                            name="clauseTags" cdkTextareaAutosize cdkTextareaAutosize
                                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                                            cdkAutosizeMaxRows="5"></textarea>
                                        <mat-hint align="end">{{noteTags.value.length > 0 ? noteTags.value.length :
                                            0}}
                                            of
                                            5000</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
              </div>
          </div>
      </mat-dialog-content> 
      <mat-dialog-actions>
		<div class="footer-action-btn">
				<button    class="btn-gray" mat-dialog-close cdkFocusInitial>
					<i class="fa fa-ban pe-2"></i>Close</button> 
			<div class="middle-spacer"></div>
			<button   class="btn-blue" (click)="saveClauseLibrary()">
				<i class="fa fa-paper-plane pe-2"></i>Submit
			</button>
		</div>
	</mat-dialog-actions> 
</div>