.last-row {
    display: grid;
    grid-template-columns: 20%  20%  20% 40%;
    align-items: center;
    padding-left: 10px;
}

.parties {
    display: grid;
    grid-template-columns: 50% 50%;
    
    .sub-division{
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 5px;
        overflow: hidden;
        p {
            margin-bottom: 0 !important;
            font-size: 13px !important;
        }
        .title {
            background: #efefef;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 10px;
            color: #005cbb;
        }
        .party-info {
            display: grid;
            grid-template-columns: 30% 70%;
            padding:5px 10px;
        }
        
    }
  
}
.read-agree {
    display: grid;
    grid-template-columns: 15% 15% 70%;
    padding:5px 10px 0 0;
    align-items: baseline;
}

.commericials {
    
table tr th:first-child,
table tr td:first-child {
    max-width: 70px !important;
}

.mxW-150 {
    max-width: 150px !important;
}
.mxW-120 {
    max-width: 120px !important;
}
.mxW-100{
    width: 100px !important;
}

.w-70 {
    width: 70px !important;
}
}

.compliance {
    display: grid;
    grid-template-columns: 40% 60%;
    
    .sub-division{
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 5px;
        overflow: hidden;
        .title {
            background: #efefef;
            font-size: 14px;
            font-weight: 400;
            padding: 5px 10px;
            color: #005cbb;
        }
        .threshold {
            display: grid;
            grid-template-columns: 50% 50%;
            padding:5px 10px;
        }
        .issuance {
            display: grid;
            grid-template-columns: 25% 25% 30% 20%;
            padding:5px 10px;
        }
    }
 
}

.performance {
   display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    .title {
        background: #efefef;
        font-size: 14px;
        font-weight: 400;
        padding: 5px 10px;
        color: #005cbb;
    }
    .per-bond {
        display: grid;
        grid-template-columns: 20%  20%  20%  20%  20% ;
        padding:5px 10px;
    }
    .per-bond-2ndrow {
        display: grid;
        grid-template-columns: 20%  80% ;
    }
}