<div >
    <a class="d-flex align-items-center justify-content-center" [matMenuTriggerFor]="menu" title="More Menu" >
        <!-- <span>Action</span> -->
        <!-- <mat-icon class="material-icons">arrow_drop_down</mat-icon> -->
         <img src="../../../assets/images/icons/icon-moremenu.png" alt="" width="22">
    </a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-hight" >Track and Trace</button>
        <button mat-menu-item class="menu-hight" >View/Edit</button>
        <button mat-menu-item class="menu-hight" >View Workflow</button>
        <button mat-menu-item class="menu-hight" >Ammendment</button>
        <button mat-menu-item class="menu-hight" >Pre-Closure</button>
        <button mat-menu-item class="menu-hight" >Cancellation</button>
        <button mat-menu-item class="menu-hight" >Release Order</button>
    </mat-menu>
</div>