.warning {
    background-color: #de692a44;
}

.rag-red-outer {
    background-color: #f6085b44;
}

.lightYellow {
    background-color: lightyellow;
}

.sick-days-breach {
    background-color: #ed171744;
}

.sick-days-warning {
    background-color: #cc693344;
}

// ag-grid,
// ag-grid-angular {
//     display: contents;
//     height: auto;
// }

// ag-grid-angular {
//     display: contents;
//     height: auto;
// }

// .agGrid {
//     display: contents;
//     height: auto;
// }
