<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i> Easy View</h2>
    </div>

    <div class="content-box p-2">
        <!-- <mat-tab-group #tab class="horizontalTab" mat-align-tabs="start">
                <mat-tab label="My Profile">      
                    <div>
                      <app-registration></app-registration>                        
                    </div>      
                </mat-tab>
                <mat-tab label="Analytics">      
                    <div>
                      To be determined            
                    </div>      
                </mat-tab>
                <mat-tab label="Sourcing Events">
                    <div>
                        <app-sourcing-events></app-sourcing-events>           
                    </div>
                </mat-tab>
                <mat-tab label="Contract">
                    <div>
                      <app-contract></app-contract>
                    </div>
                </mat-tab>
      
                <mat-tab label="Order">
                    <div>
                      <app-purchase-order></app-purchase-order>
                    </div>
                </mat-tab>
      
                <mat-tab label="Inventory">
                    <div>
                      To be determined 
                    </div>
                </mat-tab>
      
                <mat-tab label="Invoice Status">
                    <div>
                     <app-invoice-status></app-invoice-status>
                    </div>
                </mat-tab>
      
                <mat-tab label="Collaboration">
                    <div>
                      <app-collaboration-list></app-collaboration-list>
                    </div>
                </mat-tab> 
    </mat-tab-group> -->
         
</div>