<div>
    <a class="d-flex align-items-center" [matMenuTriggerFor]="menu"><span>Action</span>
        <mat-icon class="material-icons">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-hight" (click)="onButtonClick('viewEdit')">View /Edit</button>
        <button mat-menu-item class="menu-hight" (click)="onButtonClick('Track')">Track & Trace</button>
        <button mat-menu-item class="menu-hight" (click)="onCreate()" >Create</button>
    </mat-menu>
</div>