<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        <span>Create Template</span>
    </h5>
    <form #contractTemplateForm="ngForm" id="contractTemplateFormId">
        <div class="widget-content">
            <div class="grid-5cols">
                <mat-form-field class="col">
                    <mat-label>Template ID</mat-label>
                    <input matInput matTooltip="Enter Template ID" placeholder="" [required]="true" name="refNo">
                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Short Name</mat-label>
                    <input matInput matTooltip="Enter the Short Name" placeholder="" [required]="true" name="shortName"
                        [disabled]="isViewModeOnly">
                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Description</mat-label>
                    <textarea matInput matTooltip="Enter the description" #noteHint name="clauseDesc"
                        cdkTextareaAutosize cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                        cdkAutosizeMaxRows="1" [required]="true" [disabled]="isViewModeOnly"></textarea>
                </mat-form-field>

                <mat-form-field class="col ">
                    <mat-label>Create Date</mat-label>
                    <input matInput matTooltip="Enter the Create Date" [matDatepicker]="createDateTab"
                        [(ngModel)]="saveTemplateVm.createDate" #createDateControl="ngModel" name="createDate"
                        [disabled]="isViewModeOnly">
                    <!-- <mat-hint>{{commonService.hindDateFormat}}</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="createDateTab"></mat-datepicker-toggle>
                    <mat-datepicker #createDateTab></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Version</mat-label>
                    <input matInput matTooltip="Enter the Version" placeholder="" [required]="true" name="versionVal">
                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Contract Type</mat-label>
                    <mat-select name="contractTypeVal" matTooltip="Select contract type" [required]="true"
                        [disabled]="isViewModeOnly">
                        <mat-option value="">-- Please Select --</mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Contract Classification</mat-label>
                    <mat-select name="contractClassificationVal" matTooltip="Select Contract Classification"
                        [required]="true" [disabled]="isViewModeOnly">
                        <mat-option value="">-- Please Select --</mat-option>

                    </mat-select>

                </mat-form-field>

                <mat-form-field class="col">
                    <mat-label>Amend Date</mat-label>
                    <input matInput matTooltip="Enter the Amend Date" [matDatepicker]="amendDateTab" name="amendDate"
                        [disabled]="isViewModeOnly">

                    <mat-datepicker-toggle matIconSuffix [for]="amendDateTab"></mat-datepicker-toggle>
                    <mat-datepicker #amendDateTab></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>

</div>
<mat-accordion class="custom-accordion">
    <mat-expansion-panel class="cust-panel" [expanded]="true">
        <mat-expansion-panel-header class="accordion-cust-header">
            <mat-panel-title class="custom-panel-header">Standard Term and Conditions
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="p-2">
            <angular-editor [(ngModel)]="saveTemplateVm.htmlContent" [config]="config" #htmlContentControl="ngModel"
                name="htmlText"></angular-editor>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<div class="footer-action-btn">

    <button class="btn-gray" (click)="goToBack()"><i class="fa fa-arrow-circle-o-left pe-2"
            aria-hidden="true"></i>Cancel</button>

    <button class="btn-blue" [disabled]=""><i class="fa fa-times pe-2" aria-hidden="true"></i>Deactivate
        Template</button>

    <button class="btn-blue" [disabled]=""><i class="fa fa-check pe-2" aria-hidden="true"></i>
        Intiate Workflow </button>

    <div class="middle-spacer"> </div>
    <button class="btn-blue" [disabled]="this.saveTemplateVm.contractTemplateId === 0"><i class="fa fa-check pe-2"
            aria-hidden="true"></i>Assign Category</button>

    <button class="btn-blue" [disabled]="this.saveTemplateVm.contractTemplateId === 0"><i class="fa fa-check pe-2"
            aria-hidden="true"></i>Assign Entity</button>
    <button class="btn-blue" [disabled]="disableSave"><i class="fa fa-floppy-o pe-2"></i>Save as
        Draft</button>

</div>