<div class="content-container">
    <div class="bread-crumbs">
       <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Dashboard Quick Menu</h2>
    </div>
    <div class="content-box p-3">
       <div class=" dashboard-grid">
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <mat-icon>group</mat-icon>
                </div>
                My Profile
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu" (click)="dasboardmenus()">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>My Profile</span>
                   </a>
                </div>
                <div class="">
                   <a class="navi-menu" (click)="rfqList()">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Request for Quotation</span>
                   </a>
                </div>
             </div>
             <!-- <button mat-menu-item *ngIf="!isSublistVisible" [routerLink]="['/krya/rfq-list']">Request for Quotation</button> -->
          </div>
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <mat-icon>group</mat-icon>
                </div>
                Supplier Management
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu" (click)="dasboardmenus()">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Supplier</span>
                      <span>Pre-Qualification</span>
                   </a>
                </div>
                <div class="">
                   <a class="navi-menu" (click)="pqAssesmentList()">
                   <i class="fa fa-user"></i>
                   <span>Supplier</span>
                   <span>Directory</span>
                   </a>
                </div>
             </div>
          </div>
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <i class="fa fa-handshake-o" aria-hidden="true"></i>
                </div>
                Contact Management
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Template</span>
                      <span>Management</span>
                   </a>
                </div>
                <div class="">
                   <a class="navi-menu">
                   <i class="fa fa-user"></i>
                   <span>Contracts</span>
                   <span>Transactions</span>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <div class="col-md-12">
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <i class="fa fa-sitemap" aria-hidden="true"></i>
                </div>
                Sourcing Management
             </div>
             <div class="menu-content p-2">
                <div class="d-flex">
                   <a class="navi-menu" (click)="materialrequisition()">
                      <i class="fa fa-user"></i>
                      <!-- <img src="assets/images/icons/shipping.png"> -->
                      <span>Material Requisition</span>
                   </a>
                   <a class="navi-menu" (click)="purchaserequisition()">
                   <i class="fa fa-user"></i>
                   <span>Purchase Requisition</span>
                   </a>
                   <a class="navi-menu" (click)="rfqList()">
                   <i class="fa fa-user"></i>
                   <span>Request for Quotation</span>
                   </a>
                   <a class="navi-menu">
                   <i class="fa fa-user"></i>
                   <span>Request for Proposal</span>
                   </a>
                   <a class="navi-menu">
                   <i class="fa fa-user"></i>
                   <span>Request for Tender</span>
                   </a>
                   <a class="navi-menu">
                   <i class="fa fa-user"></i>
                   <span>Auction & Reverse Auctions</span>
                   </a>
                   <!-- <a class="navi-menu">
                      <i class="fa fa-user"></i>
                      <span>Auction & Reverse Auctions</span>
                      </a> -->
                   <a class="navi-menu">
                   <i class="fa fa-user"></i>
                   <span>E-Commerce</span>
                   </a>
                </div>
             </div>
          </div>
       </div>
       <div class=" dashboard-grid">
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <mat-icon>gavel</mat-icon>
                </div>
                Order Management
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Purchase Orders</span>
                   </a>
                </div>
                <div class="">
                   <a class="navi-menu" (click)="rfqList()">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Milestone Completion</span>
                   </a>
                </div>
             </div>
             <!-- <button mat-menu-item *ngIf="!isSublistVisible" [routerLink]="['/krya/rfq-list']">Request for Quotation</button> -->
          </div>
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <i class="fa fa-line-chart" aria-hidden="true"></i>
                </div>
                Milestone Completion
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Requests</span>
                   </a>
                </div>
             </div>
          </div>
          <div class="menu-widget mb-3">
             <div class="menu-main-title">
                <div class="icon-circle">
                   <i class="fa fa-wpforms" aria-hidden="true"></i>
                </div>
                Invoice & Payments
             </div>
             <div class="menu-content p-2">
                <div class="">
                   <a class="navi-menu">
                      <i class="fa fa-user"></i>
                      <!-- <span>Supplier</span> -->
                      <span>Invoice</span>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>