
<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>Change Password</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button  mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
    <mat-dialog-content style="background: #fff !important; padding-bottom: 100px;">
        <!-- <div>Please enter the User Name or Mail Id</div> -->
        <form [formGroup]="resetPswdForm">
            <div class="grid-1cols">

                <mat-form-field class="col-12 mt-2 txt-pr-eyeicon">
                    <mat-label>Current Password </mat-label>
                    <input class="input-pr" matInput formControlName="temporaryPassword" matTooltip="Current Password" type="password" required /> 
                    <mat-icon matSuffix class="eye-icon ieye"> 
                        <span class="material-icons-outlined i eye">
                            visibility
                            </span>
                    </mat-icon> 
                    <mat-error *ngIf="resetPswdForm.get('temporaryPassword')?.hasError('required')">
                        Enter the Temporary Password
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="col-12 mt-2">
                    <mat-label>Temporary / Old Password</mat-label> 
                    <input class="input-pr" matInput formControlName="temporaryPassword" placeholder="Enter the Temporary Password" required>
                    <mat-error *ngIf="resetPswdForm.get('temporaryPassword')?.hasError('required')">
                        Enter the Temporary Password
                    </mat-error>
                </mat-form-field> -->

                <mat-form-field class="col-12 mt-2 txt-pr-eyeicon">
                    <mat-label>New Password</mat-label>
                    <input class="input-pr" matInput type="password" formControlName="newPassword" required /> 
                    <mat-icon matSuffix class="eye-icon ieye"> 
                        <span class="material-icons-outlined i eye">
                            visibility
                            </span>
                    </mat-icon> 
                    <mat-error *ngIf="resetPswdForm.get('newPassword')?.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="resetPswdForm.get('newPassword')?.hasError('minlength')">
                        Password must be at least 8 characters.
                    </mat-error>
                    <mat-error> {{ 'Password must contain at least 8 characters, includes special character (like @, # etc.), N, n, 1' | translate }}
                    </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="col-12 mt-2">
                    <mat-label>New Password</mat-label>
                    <input class="input-pr" matInput type="password" formControlName="newPassword" placeholder="Enter the New Password"
                        required />
                    <mat-error *ngIf="resetPswdForm.get('newPassword')?.hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="resetPswdForm.get('newPassword')?.hasError('minlength')">
                        Password must be at least 8 characters.
                    </mat-error>
                    <mat-error> {{ 'Password must contain at least 8 characters, includes special
                        character
                        (like @, #
                        etc.), N, n, 1' | translate }}
                    </mat-error>
                </mat-form-field> -->


                <mat-form-field class="col-12 mt-2 txt-pr-eyeicon">
                    <mat-label>Confirm / Retype New Password</mat-label>
                    <input class="input-pr" matInput  type="password" formControlName="confirmPassword" required /> 
                    <mat-icon matSuffix class="eye-icon ieye"> 
                        <span class="material-icons-outlined i eye">
                            visibility
                            </span>
                    </mat-icon> 
                    <mat-error *ngIf="resetPswdForm.get('confirmPassword')?.hasError('required')">
                        {{ 'Confirm Password is required' | translate }}
                    </mat-error>
                    <mat-error *ngIf="resetPswdForm?.get('confirmPassword')?.hasError('passwordMismatch')">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field>
                <div class="col-12 mt-5" style="height: 55px;"></div>
<!--                 
                <mat-form-field class="col-12 mt-2">
                    <mat-label>Confirm Password</mat-label>
                    <input class="input-pr" matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"
                        required>
                    <mat-error *ngIf="resetPswdForm.get('confirmPassword')?.hasError('required')">
                        {{ 'Confirm Password is required' | translate }}
                    </mat-error>
                    <mat-error *ngIf="resetPswdForm?.get('confirmPassword')?.hasError('passwordMismatch')">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field> -->

                
                 


            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
		<div class="footer-action-btn">
				<button    class="btn-gray" mat-dialog-close cdkFocusInitial (click)="onCancel()">
					<i class="fa fa-times pe-2"></i>Close</button> 
			<div class="middle-spacer"></div>
			<button   class="btn-blue" (click)="onSubmit($event)">
                <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i> Submit				
			</button>
		</div>
	</mat-dialog-actions>
</div>     