<!-- <div mat-dialog-title class="d-flex flex-row justify-content-start align-items-center">
    <div class="col">Forgot Password</div>
    <div class="helper-text-align-right">
        <button mat-icon-button  mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div>
</div>
<mat-dialog-content>
    <div>Please enter the User Name or Mail Id</div>
    <form (ngSubmit)="onSubmit($event)" #mfaForm="ngForm">
        <div class="form-group">
            <mat-form-field class="col-md-8 mt-2">
                <mat-label>Username or Email ID</mat-label>
                <input 
                  name="userNameormailId" 
                  [(ngModel)]="userNameormailId" 
                  #userNameormailIdInput="ngModel" 
                  matInput
                  required
                  matTooltip="Enter the username or mail id">
                <mat-error *ngIf="userNameormailIdInput.invalid">Enter the Username or Email ID</mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button   (click)="onSubmit($event)">Submit</button>
    <button mat-stroked-button color="warn" mat-dialog-close cdkFocusInitial (click)="onCancel()">Close</button>
</mat-dialog-actions>
 -->

<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>Forgot Password</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button  mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div>
    <mat-dialog-content>
        <div class="gird-2cols">
                <mat-checkbox  class="mt-3" checked>Email</mat-checkbox> 
                <mat-checkbox  class="mt-3" >User Name</mat-checkbox>
                
           
            <!-- <mat-radio-group aria-label="Select an option"  (click)='showOrHide()'>
                <mat-radio-button value="1" >User Name</mat-radio-button>
                <mat-radio-button value="2">Email </mat-radio-button>
            </mat-radio-group> -->
        </div> 
        <div class="grid-1cols p-2" >
            <form (ngSubmit)="onSubmit($event)" #mfaForm="ngForm">
                <mat-form-field class="col-md-12 mt-2">
                    <mat-label>Email ID</mat-label>
                    <input 
                      name="userNameormailId" 
                      [(ngModel)]="userNameormailId" 
                      #userNameormailIdInput="ngModel" 
                      matInput
                      required
                      matTooltip="Enter the Email id">
                    <mat-error *ngIf="userNameormailIdInput.invalid">Enter the Username or Email ID</mat-error>
                </mat-form-field>
            </form>    
        </div>
     
        <div class="grid-1cols p-2">

            <mat-form-field class="col-md-12 mt-2">
                <mat-label>Username</mat-label>
                <input matInput required matTooltip="Enter the username">
                <mat-error>Enter the Username</mat-error>
            </mat-form-field>
         
        </div>

    </mat-dialog-content>
    <mat-dialog-actions>
    <div class="footer-cta-btn">
      <div class="cta-leftside-btn">
        <button   class="btn-gray"  mat-dialog-close cdkFocusInitial (click)="onCancel()">
          <i class="fa fa-times pe-2"></i>Cancel
        </button>
           
      </div>

      <div class="cta-rightside-btn">
        <button  class="btn-blue" (click)="onSubmit($event)">
            <i class="fa fa-paper-plane pe-2" aria-hidden="true"></i> Submit
        </button>
      </div>
    </div>
  </mat-dialog-actions>
</div>  




