<div class="d-flex cust-field-height pt-2 pb-1">
    <label style="font-size: 13px;">Number of Parties:</label>
    <mat-select matTooltip="Select the Contract Type"
        style="width: 120px; text-align: right;" required>
        <mat-option value="">-- Please Select --</mat-option>
        <mat-option value="">2</mat-option>
    </mat-select>
</div>
<div class="partyContainer">

    <div class="party-title">
        Party 1
    </div>
    <div class="party-body">
        <mat-form-field>
            <mat-label>Entity Name</mat-label>
            <input matInput matTooltip="Enter theEntity Name" placeholder="Information Technology">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 1</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder="Tower b 16Floor">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 2</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder="B106 Business Bay">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 3</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder=" ">
        </mat-form-field>
        <mat-form-field>
            <mat-label>PO Box</mat-label>
            <input matInput matTooltip="Enter the PO Box" placeholder="20107">
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput matTooltip="Enter the City Name" placeholder="Dubai">
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput matTooltip="Enter the State" placeholder="Dubai">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zipcode</mat-label>
            <input matInput matTooltip="Enter the Zipcode" placeholder="00000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select matTooltip="Select the Country">
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">UAE</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="party-authority">
       <div class="authority-title">Authorized Signatory</div>
       <div class="authority-body">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select matTooltip="Select the Country" required>
               <mat-option value="">-- Please Select --</mat-option>
               <mat-option value="">Mr</mat-option>
           </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
        </mat-form-field>
        <mat-form-field>
           <mat-label>Middle Name</mat-label>
           <input matInput matTooltip="Enter the First Name" placeholder="" >
       </mat-form-field>
       <mat-form-field>
           <mat-label>Last Name</mat-label>
           <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
       </mat-form-field>
       </div>
    </div>
    <div class="party-witness">
        <div class="witness-title">Witness 1</div>
        <div class="witness-body">
         <mat-form-field>
             <mat-label>Title</mat-label>
             <mat-select matTooltip="Select the Country" required>
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">Mr</mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field>
             <mat-label>First Name</mat-label>
             <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
        </mat-form-field>
        </div>
     </div>
     <div class="party-witness">
        <div class="witness-title">Witness 2</div>
        <div class="witness-body">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <mat-select matTooltip="Select the Country" required>
                   <mat-option value="">-- Please Select --</mat-option>
                   <mat-option value="">Mr</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Middle Name</mat-label>
               <input matInput matTooltip="Enter the First Name" placeholder="" >
           </mat-form-field>
           <mat-form-field>
               <mat-label>Last Name</mat-label>
               <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
           </mat-form-field>
        </div>
     </div>
</div>
<div class="partyContainer mt-2">
    <div class="party-title">
        Party 2
    </div>
    <div class="party-body">
        <mat-form-field>
            <mat-label>Entity Name</mat-label>
            <input matInput matTooltip="Enter theEntity Name" placeholder="Information Technology">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 1</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder="Tower b 16Floor">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 2</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder="B106 Business Bay">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address 3</mat-label>
            <input matInput matTooltip="Enter the Address" placeholder=" ">
        </mat-form-field>
        <mat-form-field>
            <mat-label>PO Box</mat-label>
            <input matInput matTooltip="Enter the PO Box" placeholder="20107">
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput matTooltip="Enter the City Name" placeholder="Dubai">
        </mat-form-field>
        <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput matTooltip="Enter the State" placeholder="Dubai">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zipcode</mat-label>
            <input matInput matTooltip="Enter the Zipcode" placeholder="00000">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Country</mat-label>
            <mat-select matTooltip="Select the Country">
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">UAE</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="party-authority">
       <div class="authority-title">Authorized Signatory</div>
       <div class="authority-body">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <mat-select matTooltip="Select the Country" required>
               <mat-option value="">-- Please Select --</mat-option>
               <mat-option value="">Mr</mat-option>
           </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
        </mat-form-field>
        <mat-form-field>
           <mat-label>Middle Name</mat-label>
           <input matInput matTooltip="Enter the First Name" placeholder="" >
       </mat-form-field>
       <mat-form-field>
           <mat-label>Last Name</mat-label>
           <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
       </mat-form-field>
       </div>
    </div>
    <div class="party-witness">
        <div class="witness-title">Witness 1</div>
        <div class="witness-body">
         <mat-form-field>
             <mat-label>Title</mat-label>
             <mat-select matTooltip="Select the Country" required>
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">Mr</mat-option>
            </mat-select>
         </mat-form-field>
         <mat-form-field>
             <mat-label>First Name</mat-label>
             <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Middle Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="" >
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
        </mat-form-field>
        </div>
     </div>
     <div class="party-witness">
        <div class="witness-title">Witness 2</div>
        <div class="witness-body">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <mat-select matTooltip="Select the Country" required>
                   <mat-option value="">-- Please Select --</mat-option>
                   <mat-option value="">Mr</mat-option>
               </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput matTooltip="Enter the First Name" placeholder="Sam" required>
            </mat-form-field>
            <mat-form-field>
               <mat-label>Middle Name</mat-label>
               <input matInput matTooltip="Enter the First Name" placeholder="" >
           </mat-form-field>
           <mat-form-field>
               <mat-label>Last Name</mat-label>
               <input matInput matTooltip="Enter the First Name" placeholder="Williams" >
           </mat-form-field>
        </div>
     </div>
</div>