.partyContainer {
    display: grid;
    grid-template-columns: 10% 90%;
    border: 1px solid #5e72e4;
    overflow: hidden;
    border-radius: 5px;

    .party-title {
        background: #ecebeb;
        align-content: center;
        text-align: center;
        font-weight: 700;
        grid-row: 1/6;
        height: 100%;
        width: 100%;
    }

    .party-body {
        padding: 10px;
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
    }

    .party-authority {
        display: grid;
        grid-template-columns: 15% 85%;
        border-top: 1px solid #ccc;

        .authority-title {
            font-size: 13px;
            align-content: center;
            background: #f9f0fa;
            height: 100%;
            width: 100%;
            text-align: center;
        }

        .authority-body {
            display: grid;
            grid-template-columns: 10% 30% 30% 30%;
            padding: 5px 10px;
        }
    }

    .party-witness {
        display: grid;
        grid-template-columns: 15% 85%;
        border-top: 1px solid #ccc;

        .witness-title {
            font-size: 13px;
            align-content: center;
            background: #ecfff9;
            height: 100%;
            width: 100%;
            text-align: center;
        }

        .witness-body {
            display: grid;
            grid-template-columns: 10% 30% 30% 30%;
            padding: 5px 10px;
        }
    }
}

@media(max-width: 768px) { 
    .partyContainer {
        grid-template-columns: minmax(200px, 1fr);
        .party-body,.party-witness,  .party-authority,.authority-body, .witness-body {
            grid-template-columns: minmax(200px, 1fr) !important;
            padding: 5px;
         }
     }
    
}