<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
       Add Related Party Disclosures <span *ngIf="NextButtonValidation()"></span>
       <div class="d-flex">
          <button [disabled]="disableStatusBased == false" *ngIf="clearValues()" class="header-level-btn-gray me-2"
          (click)="clearRelatedParty()" matTooltip="Clear Activity"><i
             class="fa fa-refresh pe-2"></i>Clear</button>
       </div>
    </h5>
    <form id="relatedPartyFormId">
       <div class="widget-content">
          <div class="grid-4cols">
             <mat-form-field class="col">
                <mat-label>
                   Add Related Party Disclosures
                </mat-label>
                <input matInput matTooltip="Enter the Related Party Details"
                [(ngModel)]="saveRelatedPartyVm.relatedPartyDetails" #relatedPartyControl="ngModel"
                [required]="true" name="relatedParty">
             </mat-form-field>
             <mat-form-field class="col">
                <mat-label>
                   Type of Relationship
                </mat-label>
                <input matInput matTooltip="Enter the Type of Relationship"
                [(ngModel)]="saveRelatedPartyVm.typeofRelationship" #typeOfRelationControl="ngModel"
                [required]="true" name="relationShip">
             </mat-form-field>
             <mat-form-field class="col">
                <mat-label>
                   % Of Ownership
                </mat-label>
                <input matInput matTooltip="Enter the % Of Ownership"
                [(ngModel)]="saveRelatedPartyVm.percentOfOwnership" #percentControl="ngModel"
                name="percentOfOwner" maxlength="3" allowNumberOnly (input)="validateOwnership($event)" required
                pattern="^(100|[1-9]?[0-9])$">
             </mat-form-field>
             <mat-form-field class="col">
                <mat-label>
                   Start Date
                </mat-label>
                <input matInput matTooltip="Enter the start Date" [matDatepicker]="startDateTab"
                [(ngModel)]="saveRelatedPartyVm.startDate" #startControl="ngModel" [required]="true"
                name="startDate">
                <mat-hint>{{commonService.hindDateFormat}}</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="startDateTab"></mat-datepicker-toggle>
                <mat-datepicker #startDateTab></mat-datepicker>
             </mat-form-field>
          </div>
       </div>
    </form>
 </div>
 <div class="table-responsive table-col-control">
    <table class="content-table">
       <thead>
          <tr>
             <th scope="col">Serial #</th>
             <th scope="col">Related Party Details</th>
             <th scope="col">% Of Ownership</th>
             <th scope="col">Type of Relationship</th>
             <th scope="col">Start Date</th>
             <th scope="col">Action</th>
          </tr>
       </thead>
       <tbody class="list">
          <tr class="border-bottom">
             <td>1</td>
             <td>RED</td>
             <td>100</td>
             <td>23</td>
             <td>17-Apr-2025</td>
             <td>
                <button Xclass="btn btn-primary btn-sm smBtn" *ngIf="disableStatusBased === false" mat-button
                   class="btn-small" matTooltip="Edit"><i class="fa fa-eye"></i>
                </button>
                <button Xclass="btn btn-primary btn-sm smBtn" *ngIf="disableStatusBased === true" mat-button
                   class="btn-small" matTooltip="Edit"><i class="fa fa-edit"></i>
                </button>
                <button Xclass="btn btn-danger btn-sm smBtn" [disabled]="disableStatusBased == false"
                   class="btn-small" mat-button matTooltip="Delete">
                <i class="fa fa-trash text-danger"></i>
                </button>
             </td>
          </tr>
       </tbody>
    </table>
 </div>