<div class="dialog-container">
    <div mat-dialog-title>
        <h3> RFQ Cancellation</h3>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>
    </div>
    <mat-dialog-content>
        <div class="widget-box">

            <div class="widget-content">
                <div class="grid-1cols">
                    <mat-form-field class="w-100">
                        <mat-label>Reason Code </mat-label>
                        <mat-select required >
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                    
    <mat-form-field >
        <mat-label>Remarks</mat-label>
        <textarea matInput placeholder="Supporting for Engineering projects for 1 year" required></textarea>
      </mat-form-field>
                </div>
            </div>
        </div>
    

    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="footer-action-btn">
            <button class="btn-gray" mat-dialog-close cdkFocusInitial>
                <i class="fa fa-ban pe-2"></i>Cancel RFQ</button>
                <div class="middle-spacer"></div>
        </div>
    </mat-dialog-actions>
</div>