<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        RFQ Details
        <span class="status-label">Status: <span class="status-state">Draft</span></span>
    </h5>
    <div class="widget-content">
        <div class="grid-5cols">
            <div class="display-box">
                <p class="display-label">Entity Name</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.entityid || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Level 1</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.level1 || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Level 2</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.level2 || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Level 3</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.level3 || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Level 4</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.level4 || "N/A"}}</p>
            </div>
        </div>
    </div>
</div>
<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Header
        <!-- <span class="status-label">Status: <span class="status-state">Draft</span></span> -->
    </h5>
    <div class="widget-content">

        <div class="grid-4cols">
            <div class="display-box">
                <p class="display-label">Ref #</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.ref || "N/A"}}</p>
                <p class="display-label">Creation Date</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.createdDate | date: (commonService.showFormat) || "N/A"}}</p>
                <p class="display-label">Buyer</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.buyer || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Buyer Email</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.buyerEmail || "N/A"}}</p>
                <p class="display-label">Participation Type</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.participantType || "N/A"}}</p>
                <!-- <p class="display-label">Buyer</p>
                <p class="display-data">Direct</p> -->
            </div>
            <div class="display-box">
                <p class="display-label">Short Name</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.shortName || "N/A"}}</p>
                <p class="display-label">Description</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.description || "N/A"}}</p>
                <p class="display-label">Purchase Classification</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.purchaseClarification || "N/A"}}</p>
            </div>
            <div class="display-box">
                <p class="display-label">Spend Type</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.spendTypeName || "N/A"}}</p>
                <p class="display-label">Rate Type</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.rateType || "N/A"}}</p>
                <p class="display-label">Sourcing Type</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.sourcingTypeName || "N/A"}}</p>
                <p class="display-label">Purchase Type</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.purchaseTypeName || "N/A"}}</p>
            </div>
        </div> 
         
    </div>
</div>

<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Address 
    </h5>
    <div class="widget-content">
        <h5 class="widget-title" style="background: transparent !important; padding-left: 0;">
            Bill to Address <sup>*</sup> 
        </h5>
        <div class="grid-2cols mt-2">
            <div class="display-box">
                <p class="display-label">Address Line 1</p>
                <p class="display-data">{{billAddressDetails?.addressLine1 || 'N/A'}} </p> 
                <p class="display-label">Address Line 2</p>
                <p class="display-data">{{billAddressDetails?.addressLine2 || 'N/A'}}</p>
                <p class="display-label">Country</p>
                <p class="display-data">{{billAddressDetails?.countryName || 'N/A'}}</p> 
            </div>
            <div class="display-box">                
                <p class="display-label">State/Province</p>
                <p class="display-data">{{billAddressDetails?.stateName || 'N/A'}}</p> 
                <p class="display-label">City</p>
                <p class="display-data">{{billAddressDetails?.cityName || 'N/A'}}</p> 
                <p class="display-label">Postal Code</p>
                <p class="display-data">{{billAddressDetails?.postalCode || 'N/A'}}</p> 
            </div> 
        </div>  
        <h5 class="widget-title d-flex border-top mt-3" style="background: transparent !important; padding-left: 0;">
            Ship to Addres <sup>*</sup> <mat-checkbox checked class="ms-2" disabled>Same as Bill to Address</mat-checkbox>
            <!-- <span class="status-label">Status: <span class="status-state">Draft</span></span> -->
        </h5>
        <div class="grid-2cols mt-2">
            <div class="display-box">
                <p class="display-label">Address Line 1</p>
                <p class="display-data">{{shipAddressDetails?.addressLine1 || 'N/A'}}</p> 
                <p class="display-label">Address Line 2</p>
                <p class="display-data">{{shipAddressDetails?.addressLine2 || 'N/A'}}</p>
                <p class="display-label">Country</p>
                <p class="display-data">{{shipAddressDetails?.countryName || 'N/A'}}</p> 
            </div>
            <div class="display-box">                
                <p class="display-label">State/Province</p>
                <p class="display-data">{{shipAddressDetails?.stateName || 'N/A'}}</p> 
                <p class="display-label">City</p>
                <p class="display-data">{{shipAddressDetails?.cityName || 'N/A'}}</p> 
                <p class="display-label">Postal Code</p>
                <p class="display-data">{{shipAddressDetails?.postalCode || 'N/A'}}</p> 
            </div> 
        </div>   
    </div>
</div>
<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Timelines
    </h5>
    <div class="widget-content">
        <div class="grid-2cols">
            <div class="display-box">
                <p class="display-label">Publish Date</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.publishDate | date: (commonService.showFormat) || "N/A"}}</p> 
                <p class="display-label">Submission Due Date</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.submissionDueDate | date: (commonService.showFormat) || "N/A"}}</p> 
                <p class="display-label">Response Open Date</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.responseOpenDate | date: (commonService.showFormat) || "N/A"}}</p> 
            </div>
            <div class="display-box">
                <p class="display-label">Need By Date</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.needByDate | date: (commonService.showFormat) || "N/A"}}</p> 
                <p class="display-label">Expected Validity of Response</p>
                <p class="display-data"><span>{{getDataFromRow?.sourcingRFQ?.expectedValidity || "N/A"}}</span> Hours</p>  
            </div>
        </div> 
    </div>
</div>
<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Bill of Quantity (BOQ)
    </h5>
    <div class="widget-content">

        <div class="grid-2cols">
            <div class="display-box">
                <p class="display-label">Functional Currency</p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.functionalCurrencyId || "N/A"}}</p> 
            </div>
            <div class="display-box">
                <p class="display-label">Transactional Currency </p>
                <p class="display-data">{{getDataFromRow?.sourcingRFQ?.transactionalCurrencyId || "N/A"}}</p>  
            </div>
        </div>
        
        <div class="table-responsive mt-2">
            <table class="content-table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 80px;">Serial #</th>
                        <th scope="col" style="width: 80px;">Code</th>
                        <th scope="col">Description</th>
                        <th scope="col" style="width: 130px;">Type</th>
                        <th scope="col">UOM</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Ship to Site</th>
                        <th scope="col">Need By Date</th>
                        
                    </tr>
                </thead>
                <tbody>
                    @for(boq of getDataFromRow?.rfqBillOfQuantityTrans; let i = $index; track boq){

                        <tr>
                            <td>{{i+1}}</td>
                            <td>
                                {{boq?.code}}
                            </td>
                            <td>
                                {{boq?.description}}
                            </td>
                            <td>
                                {{boq?.code}}
                            </td>
                            <td style="width: 100px;">
                                {{boq?.uomId}}
                            </td>
                            <td style="width: 100px;">
                                {{boq?.quantity}}
                            </td>
                            <td style="width: 100px;">
                                {{boq?.shiptoSite}}
                            </td>
                            <td style="width: 100px;">
                                {{boq?.needByDate | date: (commonService.showFormat) || "N/A"}}
                            </td> 
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-start">
        Shipping Information <sup>*</sup>
        <mat-checkbox class="ms-3" disabled [checked]="getDataFromRow?.rfqShippingInfoTrans?.negotiable">Negotiable</mat-checkbox>
    </h5>
    <div class="widget-content">
        <div class="grid-3cols">
            <div class="display-box">
                <p class="display-label">Shipping Method</p>
                <p class="display-data">{{getDataFromRow?.rfqShippingInfoTrans?.shippingMethodId || 'N/A'}}</p>   
            </div>
            <div class="display-box">
                <p class="display-label">Shipping Term</p>
                <p class="display-data">{{getDataFromRow?.rfqShippingInfoTrans?.shippingTermId || 'N/A'}}</p>  
            </div>
            <div class="display-box">
                <p class="display-label">Shipping Remarks</p>
                <p class="display-data">{{getDataFromRow?.rfqShippingInfoTrans?.description || 'N/A'}}</p>  
            </div>
        </div> 
    </div>
</div>
<div class="widget-box">
    <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Document Section
    </h5>
    <div class="widget-content">
    
        <div class="">
            <table class="content-table">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 10px;">Serial #</th>
                        <th scope="col" width="20%">Document Type</th>
                        <th scope="col" width="30%">Description</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Uploaded By</th>
                        <th scope="col">Uploaded Date</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    @for(doc of getDataFromRow?.rfqDocumentSectionTrans; let i = $index; track doc){

                        <tr>
                            <td>{{i+1}}</td>
                            <td>
                                {{doc?.docType || "N/A"}}
                            </td>
                            <td>
                                {{doc?.docDescription || "N/A"}}
                            </td>
                            <td>
                                {{doc?.fileName || "N/A"}}
                            </td>
                            <td>
                                {{doc?.uploadedBy || "N/A"}}
                            </td>
                            <td>
                                {{doc?.uploadedDate | date: (commonService.showFormat) || "N/A"}}
                            </td>
                            <td class="text-center">
                                <button mat-button class="btn-small" matTooltip="Download">
                                <i class="fa fa-download"></i>
                              </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div> 