<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title"><i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing Management >> Material
            Requests</h2>
    </div>
    <div class="content-box p-2" [formGroup]="materialForm">
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Select Entity Level
                <span class="status-label">Status: <span class="status-state">Draft</span></span>
            </h5>
            <div class="widget-content">
                <div class="grid-5cols">
                    <mat-form-field>
                        <mat-label>Entity Name</mat-label>
                        <mat-select required formControlName="entityId" #entityRef (selectionChange)="entityMethod(entityRef)">
                            @for(data of dropdownData?.entityData; track data){
                                <mat-option id="{{data | json}}" [value]="data?.entityId">{{data?.companyName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    @if(showLevel1.length > 0){
                        <mat-form-field>
                            <mat-label>Level 1 ({{setLevel?.level1LabelName}})</mat-label>
                            <mat-select required formControlName="entityLevel1" #level1 (selectionChange)="level2Check(level1)">
                                @for(data of showLevel1; track data){
                                    <mat-option [value]="data?.levelValueName" id="{{data.levelValueCode}}">{{data?.levelName}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                    @if(showLevel2.length > 0){
                        <mat-form-field>
                            <mat-label>Level 2 ({{setLevel?.level2LabelName}})</mat-label>
                            <mat-select required formControlName="entityLevel2" #level2 (selectionChange)="level3Check(level2)">
                                @for(data of showLevel2; track data){
                                    <mat-option [value]="data?.levelValueName" id="{{data.levelValueCode}}">{{data?.levelName}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                    @if(showLevel3.length > 0){
                        <mat-form-field>
                            <mat-label>Level 3 ({{setLevel?.level3LabelName}})</mat-label>
                            <mat-select required formControlName="entityLevel3" #level3 (selectionChange)="level4Check(level3)">
                                @for(data of showLevel3; track data){
                                    <mat-option [value]="data?.levelValueName" id="{{data.levelValueCode}}">{{data?.levelName}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                    @if(showLevel4.length > 0){
                        <mat-form-field>
                            <mat-label>Level 4 ({{setLevel?.level4LabelName}})</mat-label>
                            <mat-select required formControlName="entityLevel4">
                                @for(data of showLevel4; track data){
                                    <mat-option [value]="data?.levelValueName">{{data?.levelName}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    }
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Material Requisition
            </h5>
            <div class="widget-content">
                <div class="grid-5cols">
                    <mat-form-field>
                        <mat-label>Source</mat-label>
                        <mat-select required formControlName="sourceId" #soreceRef (selectionChange)="sourceMethod(soreceRef)">
                            @for(data of dropdownData?.sourceData; track data){
                                <mat-option id="{{data?.sourceName}}" [value]="data?.sourceId">{{data?.sourceName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ref #</mat-label>
                        <input matInput placeholder="" formControlName="refNo">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Created Date</mat-label>
                        <input matInput [matDatepicker]="dp1" formControlName="createdDate">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Indentor</mat-label>
                        <input matInput placeholder="" formControlName="indenter">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Short Name</mat-label>
                        <input matInput placeholder="" required formControlName="shortName">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <textarea matInput rows="1" placeholder="" required formControlName="description"></textarea>
                    </mat-form-field>
                    <!-- <mat-form-field>
                        <mat-label>Create Date</mat-label>
                        <input matInput [matDatepicker]="dp2">
                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                        <mat-datepicker #dp2></mat-datepicker>
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>From Department</mat-label>
                        <input matInput placeholder="" formControlName="fromDepartment">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Need by Date </mat-label>
                        <input matInput [matDatepicker]="dp3" required formControlName="needByDate" appMatDatePickerFormat>
                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                        <mat-datepicker #dp3></mat-datepicker>
                    </mat-form-field>
                  
                    <!-- <mat-form-field>
                        <mat-label>Assigned Buyer </mat-label>
                        <mat-select required >
                            <mat-option value="ERP System">User Master</mat-option>
                            <mat-option value="Direct"> from Source</mat-option>
                        </mat-select>
                    </mat-form-field> -->
                    <mat-form-field>
                        <mat-label>Budget Check </mat-label>
                        <mat-select required formControlName="budgetCheck">
                            <mat-option value="Pass">Pass</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Items Section

                <div class="d-flex">
                <button class="header-level-btn-blue"><i class="fa fa-money pe-2"></i>Last Purchase Price</button>
                <button  class="small-btn-action ms-2"  matTooltip="Search & Add Suppliers" (click)="addInventoryItem()"
                ><i class="fa fa-plus"></i></button>
            </div>
            </h5>
            <div class="widget-content">
                <div class="table-responsive">
                    <table class="content-table vw-100">
                        <thead>
                            <tr>
                                <th scope="col" style="min-width: 100px;">Serial #</th>
                                <th scope="col">Part Code</th>
                                <th scope="col">Description</th>
                                <th scope="col">Type</th>
                                <th scope="col">UOM</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Rate</th>
                                <th scope="col">Value</th>
                                <th scope="col" style="min-width: 180px;">Spend Category-1</th>
                                <th scope="col" style="min-width: 180px;">Spend Category-2</th>
                                <th scope="col" style="min-width: 180px;">Spend Category-3</th>
                                <!-- <th scope="col">Action</th> -->
                            </tr>
                        </thead>
                        <tbody formGroupName="matRequisitionItems">
                            @for(data of matRequisitionItems.controls; let i = $index; track data){
                                <tr class="cust-field-height" [formGroupName]="i">
                                    <td>{{i+1}}</td>
                                    <td>
                                        <mat-form-field class="mxW-120">
                                            <mat-select matTooltip="Select the Code" required formControlName="partCode" #itemSelect (selectionChange)="selectedInventory(itemSelect, 'partCode', i)">
                                                @for(list of dropdownData?.inventoryItem; track list;let i = $index){
                                                    <mat-option id="{{i}}" [value]="list?.partCode">{{list?.partCode}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120">
                                            <mat-select matTooltip="Select the description" required formControlName="description" #itemSelect (selectionChange)="selectedInventory(itemSelect, 'description', i)">
                                                @for(list of dropdownData?.inventoryItem; track list;let i = $index){
                                                    <mat-option id="{{i}}" [value]="list?.description">{{list?.description}}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120">
                                            <input matInput placeholder="" formControlName="itemType">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120">
                                            <input matInput placeholder="" formControlName="unitOfMeasure">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120">
                                            <input matInput placeholder="" formControlName="quantity" class="text-right"
                                            (input)="updateItemValue(i)" allowNumberOnly>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120 numeric-right-align">
                                            <input matInput placeholder="" formControlName="rate" class="text-right"
                                            [systemParameter]="systemParameter"
                                            (input)="updateItemValue(i)" allowNumberOnly formatCurrency>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mxW-120 numeric-right-align">
                                            <input matInput placeholder="" formControlName="value" 
                                            [systemParameter]="systemParameter" [directValue]="materialForm.get('value')?.value"
                                             formatCurrency allowNumberOnly class="text-right">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        {{data?.get('spendCategory1')?.value}}
                                    </td>
                                    <td>
                                        {{data?.get('spendCategory2')?.value}}
                                    </td>
                                    <td>
                                        {{data?.get('spendCategory3')?.value}}
                                    </td>
                                    <!-- <td class="mxW-150 text-center mt-2">
                                        <i class="fa fa-trash text-danger mt-2" (click)="removeMatRequisitionItems(i)"></i>
                                    </td> -->
                                </tr>
                            }
                            <tr class="">
                                <td colspan="7" class="text-right ft-bold"> Total Value</td>
                                <td class="text-right ft-bold">
                                    <input formControlName="itemsTotalValue" [directValue]="materialForm.get('itemsTotalValue')?.value"
                                     [systemParameter]="systemParameter" formatCurrency matInput
                                        class="text-right ft-bold" style="outline: none;visibility: hidden;height: 1px;width: 1px;" allowNumberOnly />
                                    {{materialForm.get('itemsTotalValue')?.value}}
                                </td>
                                <td colspan="4"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Remarks to Store Keeper
            </h5>
            <div class="widget-content">
                <textarea matInput class="w-100" placeholder="" formControlName="remarksToStoreKeeper" maxlength="2000"></textarea>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Remarks to Supplier
            </h5>
            <div class="widget-content">
                <textarea matInput class="w-100" placeholder="" formControlName="remarksToSupplier" maxlength="2000"></textarea>
            </div>
        </div>
        <div class="widget-box">
            <!-- <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                        Document Section
                    </h5>
                    <div class="widget-content">
                        <div class="grid-25-55-18 align-items-center">
                            <mat-form-field>
                                <mat-label>Document Type</mat-label>
                                <mat-select required >
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
        
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput class="w-100" rows="1"></textarea>
                            </mat-form-field>
                            <div class="custom-file-upload mt-2">
                                <button class="file-upload-button">
                                    <input class="custom-file-input"
                                        id="customFileLang" type="file" #fileInput
                                        accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                                         multiple>
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i><span
                                        class="ps-2">Upload</span>
                                </button>
        
                            </div>
                        </div>
                        <div class="table-responsive mt-2">
                            <table class="content-table">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 100px;">Serial #</th>
                                        <th scope="col">Document Type</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">File Name</th>
                                        <th scope="col">Uploaded By</th>
                                        <th scope="col">Uploaded Date</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cust-field-height">
                                        <td>1</td>
                                        <td>
                                           image file
                                        </td>
                                        <td>
                                           Invoice Copy
                                        </td>
                                        <td>
                                            invoice.pdf
                                         </td>
                                        <td>
                                            Karthick
                                        </td>
                                        <td>
                                            10-Jan-2025
                                        </td>                                
                                    </tr>                          
                                </tbody>
                            </table>
                        </div>
                    </div> -->
            <div formArrayName="matRequisitionDocs" class="widget-box">
                <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                    Document Section
                </h5>
                <div class="widget-content">
                    @if(false){
                        <div class="grid-25-55-18 align-items-center">
                            <mat-form-field>
                                <mat-label>Document Type</mat-label>
                                <mat-select required>
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
            
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput class="w-100" rows="1"></textarea>
                            </mat-form-field>
                            <div class="custom-file-upload mt-3">
                                <button class="file-upload-button">
                                    <input class="custom-file-input" id="customFileLang" type="file" #fileInput
                                        accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf" multiple />
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i><span class="ps-2">Upload</span>
                                </button>
                            </div>
                        </div>
                    }
                    <div class="table-responsive mt-2">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 100px">Serial #</th>
                                    <th scope="col">Document Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">File Type</th>
                                    <th scope="col">File Name</th>
                                    <th scope="col">Uploaded By</th>
                                    <th scope="col">Uploaded Date</th>
                                    <th scope="col">
                                        Upload
                                        <input type="file" multiple #fileUploadInput id="PRfileUpload"
                                            style="height: 1px; width: 1px; pointer-events: none" hidden />
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(doc of getDocumentsArray().controls; let ind = $index;track doc){

                                    <tr [formGroupName]="ind" class="cust-field-height">
                                        <td>{{ ind + 1 }}</td>
                                        <td>
                                            {{ doc.get("documentName")?.value }}
                                        </td>
                                        <td>
                                            <textarea matInput class="w-100" formControlName="description" rows="1">
                                        </textarea>
                                        </td>
                                        <td>
                                            {{ doc.get("docType")?.value }}
                                        </td>
            
                                        <td>
                                            {{ doc.get("fileName")?.value }}
                                        </td>
                                        <td>
                                            {{ doc.get("uploadedBy")?.value }}
                                        </td>
                                        <td>
                                            {{ doc.get("uploadedDate")?.value }}
                                        </td>
                                        <td>
                                            <!-- Upload Start Jawahar-->
                                            <div class="custom-file-upload" style="float: left; margin-top: 5px;">
                                                <button class="file-upload-button">
                                                    <!-- <input class="custom-file-input" type="file"> -->
                                                    <i [id]="'prDoc_'+ind" (click)="onUploadClick($event, ind, doc)"
                                                        class="fa fa-cloud-upload custom-badge" aria-hidden="true"
                                                        style="color: #5f7184;"></i>
                                                        @if(doc.errors){
                                                            <sup style="color:red;">*</sup>
                                                        }
                                                </button>
                                            </div>
                                            <div class="attach-section col position-relative"
                                                style=" width: 50px; margin-left: 20px; float: left;">
                                                <mat-icon matBadge=2 id="sidebarToggle" appDocIcon
                                                    (filesChange)="uploadedFilesOnChange($event, doc)"
                                                    [files]="doc.get('fileInfo')?.value || []"
                                                    [matBadge]="(doc.get('fileInfo')?.value || []).length" matBadgeOverlap="false">
                                                    <span class="material-icons-outlined">ballot</span>
                                                </mat-icon>
                                            </div>
            
                                            <!-- Upload End -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-action-btn">
    
        <button class="btn-gray" (click)="cancelBtn()"><i class="fa fa-arrow-circle-o-left pe-2" aria-hidden="true"></i>Cancel</button>
        <button class="btn-blue" disabled>
            <i class="fa fa-money pe-2" aria-hidden="true"></i>Budget Check</button>
        <div class="middle-spacer"> </div>
        <button class="btn-blue" (click)="saveBtn()">
            <i class="fa fa-floppy-o pe-2" aria-hidden="true"></i>Save As Draft </button>
        <!-- <button   class="btn-blue" >
                    <i class="fa fa-floppy-o pe-2" aria-hidden="true"></i>Save</button> -->
        <!-- <button class="btn-blue">
            <i class="fa fa-hand-pointer-o pe-2" aria-hidden="true"></i>Submit</button> -->
        <button class="btn-blue">
            <i class="fa fa-recycle pe-2" aria-hidden="true"></i>Process Workflow</button>
    
    </div>
</div>
