<div class="content-box p-0">
    <div class="content-body-box  height-auto">
        <div class="widget-box mt-2">
            <h5 class="widget-title Xpt-4 Xpb-4 Xd-flex Xjustify-content-between">
                Registration Details
                <!-- <button class="header-level-btn-blue" matTooltip="Create New Committee"> 
                    <i class="fa fa-plus pe-2" aria-hidden="true"></i> Registration
                </button> -->
            </h5>
            <div class="widget-content">
                <div class="grid-3cols">
                    <div class="display-box">
                        <p class="display-label">Supplier Code</p>
                        <p class="display-data">{{SupDetails?.supplierRefNo || 'N/A'}}</p> 
                        <p class="display-label">Supplier Name</p>
                        <p class="display-data">{{SupDetails?.supplierName || 'N/A'}}</p> 
                        <p class="display-label">Site Code</p>
                        <p class="display-data">{{SupDetails?.siteId || 'N/A'}}</p> 
                        <p class="display-label">Site Name</p>
                        <p class="display-data">{{SupDetails?.siteName || 'N/A'}}</p> 
                    </div>
                    <div class="display-box">                        
                        <p class="display-label">Tax Registration #</p>
                        <p class="display-data">{{SupDetails?.taxRegistertion || 'N/A'}}</p> 
                        <p class="display-label">Commercial / Trade License #</p>
                        <p class="display-data">{{supplier?.commercialLicenseNo || 'N/A'}}</p>      

                        <p class="display-label">License Issue Date</p>
                        <p class="display-data">{{supplier?.issuedDate | date:'dd-MMM-yyyy' || 'N/A'}}</p> 
                        <p class="display-label">License Expiry Date</p>
                        <p class="display-data">{{supplier?.expiryDate | date:'dd-MMM-yyyy' || 'N/A'}}</p> 
                    </div>
                    <div class="display-box">                        
                        <p class="display-label">Registered On</p>
                        <p class="display-data">1-Jun-2024</p> 
                        <p class="display-label">Pre-Qualified On</p>
                        <p class="display-data">10-Jun-2024</p> 
                        <p class="display-label">Registration Expiry Date</p>
                        <p class="display-data">9-Jun-2025</p> 
                        <p class="display-label">User Name</p>
                        <p class="display-data">{{storedData?.userName || 'N/A'}}</p> 
                    </div>
                </div>  
            </div> 
        </div> 
        <div class="widget-box">
            <h5 class="widget-title Xpt-4 Xpb-4 Xd-flex Xjustify-content-between">
                Spend Category Details
            </h5>
            <div class="widget-content"> 
                    <div class="table-responsive table-col-control mt-3">
                        <table class="content-table">
                            <thead>
                                <tr>
                                    <th width="1%" style="width: 20px !important">Serial#</th>
                                    <th width="35%">Parent Category</th>
                                    <th width="35%">Sub-Category</th>
                                    <th width="29%">Child Category</th>                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of savaAllCategoryAndScopeVm; let i = index">
                                    <td>
                                        {{ i+1 }}
                                    </td>
                                    <td>
                                        {{category?.parentCategory}}
                                    </td>
                                    <td>
                                        {{category?.subCategory}}
                                    </td>
                                    <td>{{category?.childCategory}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>     
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title Xpt-4 Xpb-4 Xd-flex Xjustify-content-between">
                Contact Details
            </h5>
            <div class="widget-content">
                <div class="table-responsive table-col-control mt-3">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th width="%">Primary&nbsp;Contact</th>
                                <th width="15%">First Name</th>
                                <th width="10%">Middle Name</th>
                                <th width="13%">Last Name</th>
                                <th width="16%">Job Title</th>
                                <th width="13%">Role</th>
                                <th width="10%">Phone#</th>     
                                <th width="10%">Email ID</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of SecondarycontactDetails">
                                <td><mat-checkbox *ngIf="contact.isPrimaryContact" [checked]="contact.isPrimaryContact" [disabled]="contact.isPrimaryContact">
                                </mat-checkbox></td>
                                <td>{{contact?.firstName}} </td>                                
                                <td>{{contact?.middleName || 'N/A'}}</td>
                                <td>{{contact?.lastName}} </td>
                                <td>{{contact?.jobTitle}}</td>
                                <td>{{contact?.roleName}}</td>
                                <td>{{contact?.mobileNumber}}</td>
                                <td>{{contact?.email}}</td>
                            </tr>
                            <!-- <tr>
                                <td><mat-checkbox  class="mt-3" ></mat-checkbox></td>
                                <td>Robin </td>
                                <td>Carlos </td>
                                <td>Phillips</td>
                                <td>Project Manager</td> 
                                <td>Legal Representative</td>
                                <td>+1 609-433-3374</td>
                                <td>NaomiRFlinn&commat;test.com</td>
                            </tr>
                            <tr>
                                <td><mat-checkbox  class="mt-3" ></mat-checkbox></td>
                                <td>Ramraj </td>                                
                                <td>Sankar</td>
                                <td>S </td>
                                <td>Tech Leader</td> 
                                <td>Legal Representative</td>
                                <td>+1 609-433-3374</td>
                                <td>NaomiRFlinn&commat;test.com</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>  
    </div>
    <div class="footer-cta-btn">
        <div class="cta-leftside-btn">
            <!-- <button   class="btn-gray" matTooltip="Go Next">
                <i class="fa fa-chevron-circle-left pe-2"></i>Previous</button> -->
        </div>
        <div class="cta-rightside-btn">           
            <button   class="btn-gray" matTooltip="Go Next">Next
                <i class="fa fa-chevron-circle-right ps-2"></i></button> 
        </div>
    </div>
</div>  
 
