<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title">
            <i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing
            Management >> Request for Quotation >> Authorize Opening
        </h2>
    </div>

    <div class="content-box p-2">
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-warning pe-2 ms-2"></i> Financial Opening can be done only on Financial Opening date
            / Tender Opening can be done only on Tender Opening date
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                Authorize Opening
            </h5>
            <div class="widget-content">
                <div class="grid-2cols">
                    <div class="display-box">
                        <p class="display-label">RFT #</p>
                        <p class="display-data">RFT-142</p>
                        <p class="display-label">RFT Shot Name</p>
                        <p class="display-data">P360 Testing 210125</p>
                        <p class="display-label">RFT Description</p>
                        <p class="display-data">P360 Testing 210125</p>
                        <p class="display-label">RFT Status</p>
                        <p class="display-data">Draft In progress</p>
                        <p class="display-label">RFT Type</p>
                        <p class="display-data">Public</p>
                    </div>
                    <div class="display-box">
                        <p class="display-label">Committee Name</p>
                        <p class="display-data">P360 Testing 210125</p>
                        <p class="display-label">Tender Open type</p>
                        <p class="display-data cust-field-height">
                            <mat-form-field style="width: 200px;">
                                <mat-select required>
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="Financial">Financial</mat-option>
                                    <mat-option value="Financial">Tender</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p class="display-label">Quorum</p>
                        <p class="display-data">NA</p>
                        <p class="display-label">Original Duration (in Days)</p>
                        <p class="display-data">4</p>
                        <p class="display-label">Revised Duration (in Days)</p>
                        <p class="display-data">NA</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                RFx Timelines
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Publish Date</th>
                                <th scope="col">RFx Buy Date</th>
                                <th scope="col">RFx Submission Date</th>
                                <th scope="col">RFx Open Date</th>
                                <th scope="col">RFx Financial Open Date</th>
                                <th scope="col">RFx Award Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="bg-lite-yellow">
                                <td class="ft-bold">Original</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                            <tr class="bg-lite-blue ">
                                <td class="ft-bold">Revised</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                            <tr class="bg-lite-green">
                                <td class="ft-bold">Completed On</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                RFT Participation Analysis
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Invited</th>
                                <th scope="col">Subscribed</th>
                                <th scope="col">Regret</th>
                                <th scope="col">Response Submitted</th>
                                <th scope="col">No Response</th>
                                <th scope="col">Technical Shortlist</th>
                                <th scope="col">Awarded</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td class="ft-bold">Counts</td>
                                <td class="text-right">4</td>
                                <td class="text-right">1</td>
                                <td class="text-right">0</td>
                                <td class="text-right">0</td>
                                <td class="text-right">3</td>
                                <td class="text-right">NA</td>
                                <td class="text-right">NA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                Assigned Members
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">First Name</th>
                                <th scope="col">Middle Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Designation</th>
                                <th scope="col">Authorization Status</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr>
                                <td>Rajesh</td>
                                <td>Kumar</td>
                                <td>Kumar</td>
                                <td>PURCHASE & CONTRACTS MANAGER</td>
                                <td>Approved</td>
                                <td class="text-center"><i class="fa fa-trash"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-action-btn">
        <button    class="btn-gray" (click)="goBack()" >
            <i class="fa fa-times pe-2"></i>Cancel</button> 
    <div class="middle-spacer"></div>
    <button   class="btn-blue">
        <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i> Open				
    </button>
</div>
</div>