<div #target class="me-2">
    <form id="categoryAndScope">
       <div class="widget-box">
          <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
             Category Information
          </h5>
          <div class="widget-content">
             <div class="grid-3cols">
                <mat-form-field class="col">
                   <mat-label>
                      Category Information
                   </mat-label>
                   <input matInput placeholder="" [matAutocomplete]="parentCategoryAuto" id="parentCategory"
                   #parentCategoryControl="ngModel" required matTooltip="Select a Parent Category"
                   [(ngModel)]="saveCategoryAndScopeVm.parentCategoryId" [required]="true"
                   name="parentCategory" [dataList]="parentCategory" [autoCompleteDirective]="'parentCatgeory'"
                   (sendVal)="filterParentCategoryOptions =$event"
                   (dataValue)="saveCategoryAndScopeVm.parentCategoryId = $event?.parentCategoryId"
                   
                   class="input-pr">
                   <mat-icon matSuffix class="icon-search">
                      <span class="material-icons-outlined">manage_search</span>
                   </mat-icon>
                   <mat-autocomplete #parentCategoryAuto="matAutocomplete"
                   
                  >
                   <mat-option>
                      Select
                   </mat-option>
                   </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="col">
                   <mat-label>
                      Sub Category
                   </mat-label>
                   <input matInput placeholder="" [matAutocomplete]="subCategoryAuto" id="subCategory"
                   #subCategoryControl="ngModel" required matTooltip="Select a Sub Category"
                   [(ngModel)]="saveCategoryAndScopeVm.subCategoryId" [required]="true" name="subCategory"
                   [dataList]="subCategory" [autoCompleteDirective]="'subCatgeory'"
                   (sendVal)="filterSubCategoryOptions =$event"
                   (dataValue)="saveCategoryAndScopeVm.subCategoryId = $event?.subCategoryId"
                   
                   class="input-pr">
                   <mat-icon matSuffix class="icon-search">
                      <span class="material-icons-outlined">manage_search</span>
                   </mat-icon>
                   <mat-autocomplete #subCategoryAuto="matAutocomplete"
                   >
                   <mat-option>
                      Select
                   </mat-option>
                   </mat-autocomplete>
                </mat-form-field>
                <mat-form-field class="col">
                   <mat-label>
                      Child Category
                   </mat-label>
                   <input matInput placeholder="" [matAutocomplete]="childCategoryAuto" id="childCatId"
                   #childCategoryControl="ngModel" required matTooltip="Select a Child Category"
                   [(ngModel)]="saveCategoryAndScopeVm.childCategoryId" [required]="true" name="childCategory"
                   [dataList]="childCategory" [autoCompleteDirective]="'childCatgeory'"
                   (sendVal)="filterChildCategoryOptions =$event"
                   (dataValue)="saveCategoryAndScopeVm.childCategoryId = $event?.childCategoryId"
                   class="input-pr">
                   <mat-icon matSuffix class="icon-search">
                      <span class="material-icons-outlined">manage_search</span>
                   </mat-icon>
                   <mat-autocomplete #childCategoryAuto="matAutocomplete"
                   >
                   <mat-option>
                      Select
                   </mat-option>
                   </mat-autocomplete>
                </mat-form-field>
             </div>
          </div>
          <div class="widget-box mt-2 border-1-0-0-0">
             <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">Supporting
                Documents
             </h5>
             <div class="widget-content">
                <div class="grid-1-2-1">
                   <mat-form-field class="col">
                      <mat-label>
                         Type
                      </mat-label>
                      <mat-select [(ngModel)]="saveCategoryAndScopeVm.typeId" name="typeval"
                      #typeControl="ngModel" matTooltip="Select Type" >
                      <mat-option value="">-- Please Select --</mat-option>
                      <mat-option>PDF</mat-option>
                      </mat-select>
                   </mat-form-field>
                   <mat-form-field class="col">
                      <mat-label>
                         Description
                      </mat-label>
                      <textarea matInput matTooltip="Enter the description" 
                      [(ngModel)]="saveCategoryAndScopeVm.description" #optDesc="ngModel" #noteHint
                      name="optTextArea" rows="1"></textarea>
                      <mat-hint align="end">Lorem Ipsum</mat-hint>
                   </mat-form-field>
                   <div>
                      <div class=" d-flex w-100 justify-content-between align-items-center pt-4">
                         <div class="custom-file-upload">
                            <button class="file-upload-button">
                            <input class="custom-file-input"
                            
                            id="customFileLang" type="file" #fileInput
                            accept="image/jpg,image/jpeg,image/gif,image/png,application/pdf"
                           multiple>
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i><span
                               class="ps-2">Upload</span>
                            </button>
                         </div>
                         <div class="attach-section col" style="width: 50px; margin-left: 20px;">
                            <mat-icon id="sidebarToggle">
                               <span class="material-icons-outlined">ballot</span>
                            </mat-icon>
                            <div class="sidebar navbar-nav" style="display: none;"
                              >
                               <div class="close-icon">
                                  <div class="subHeading">Category Documents</div>
                                  <mat-icon class="icon-close">
                                     <span class="material-icons-outlined">close</span>
                                  </mat-icon>
                               </div>
                               <div class="smText noData">Files not available.</div>
                               <div>
                                  <div class="upload-file-row">
                                     <div class="d-flex flex-row align-items-top">
                                        <div style="width: fit-content;" class="subHeading2 pe-1">1</div>
                                        <div class="subHeading2 col">
                                           <div
                                              style="display: flex; align-items: center; max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                              <span class="helper-underline pointer me-1"
                                                 style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;"
                                                 matTooltip="PDF">
                                              PDF
                                              </span>
                                              <small>20KB</small>
                                              <!-- <span class="material-icons-outlined ms-2" style="cursor: pointer;" matTooltip="Download File" (click)="downloadFile(file.fileInfo.filePath)">download</span> ✅ Download Icon -->
                                              <span
                                                 style="flex-shrink: 1; overflow: hidden; text-overflow: ellipsis;">
                                              PDF
                                              </span>
                                              <small>20KB</small>
                                              <!-- <span class="material-icons-outlined ms-2" style="cursor: pointer;" matTooltip="Download File" (click)="downloadFile(file.fileInfo.filePath)">download</span> ✅ Download Icon -->
                                           </div>
                                        </div>
                                        <div class="col-auto">
                                           <button class="btn btn-sm smBtn btn-download"
                                              matTooltip="Download File">
                                           <span class="material-icons-outlined">file_download</span>
                                           </button>
                                           <button class="btn btn-danger btn-sm smBtn"
                                              type="button"
                                              matTooltip="Delete">
                                           <span class="material-icons-outlined">delete</span>
                                           </button>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="text-danger ft-size11">Supported Formates: jpg, jpeg, gif, png, pdf</div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </form>
    <div class="widget-box">
       <div class="table-responsive table-col-control">
          <table class="content-table">
             <thead>
                <tr>
                   <th scope="col">Serial #</th>
                   <th scope="col">Parent Category</th>
                   <th scope="col">Sub Category</th>
                   <th scope="col">Child Category</th>
                   <th scope="col">Type</th>
                   <th scope="col" class="ms-4">Action</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td>Category 1</td>
                   <td>Finance</td>
                   <td>Services</td>
                   <td>Consulting & Design Development</td>
                   <td>----</td>
                   <td>
                      <div>
                         <button Xclass="btn btn-primary btn-sm smBtn" mat-button class="btn-small"
                            matTooltip="Edit" >
                         <i class="fa fa-edit"></i>
                         </button>
                         <button Xclass="btn btn-danger btn-sm smBtn"
                            
                            class="btn-small" mat-button matTooltip="Delete">
                         <i class="fa fa-trash text-danger"></i>
                         </button>
                      </div>
                   </td>
                </tr>
             </tbody>
          </table>
       </div>
    </div>
 </div>