<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Supplier Manual Mapping" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
 
<mat-dialog-content>
    <div class="widget-box">
        <h5 class="widget-title">Procurezen - Supplier Record</h5>
        <div class="widget-content">
            <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                <div class="d-flex flex-row w-100">
                    <div class="col col-separator">                        
                        <mat-label class="preLabel">Ref #</mat-label>
                        <p class="preData">{{SupDetails?.supplierRefNo}}</p>
                    </div>
                    <div class="col col-separator"> 
                        <mat-label class="preLabel">Supplier Name</mat-label>
                        <p class="preData">{{SupDetails?.supplierName | titlecase}}</p>
                    </div>
                    <div class="col col-separator"> 
                        <mat-label class="preLabel">{{ (SupplierManagement?.complianceRenewalBank?.captureBusinessLicenses && SupplierManagement?.licenseCertificate?.length > 0) ? SupplierManagement?.licenseCertificate[0]?.displayLabel : "Commercial License #" }}</mat-label>
                        <p class="preData">{{SupDetails?.comLicName}}</p>
                    </div>
                    @if(SupDetails?.siteId){
                        <div class="col col-separator"> 
                            <mat-label class="preLabel">Site ID #</mat-label>
                            <p class="preData">{{SupDetails?.siteId}}</p>
                        </div>
                    }
                    @if(SupDetails?.siteName){
                        <div class="col col-separator"> 
                            <mat-label class="preLabel">Site Name</mat-label>
                            <p class="preData">{{SupDetails?.siteName}}</p>
                        </div>
                    }
                    <div class="col col-separator"> 
                        <mat-label class="preLabel">Tax Registration #</mat-label>
                        <p class="preData">{{SupDetails?.taxRegistertion}}</p>
                    </div>
                    <div class="col col-separator"> 
                        <mat-label class="preLabel">Submitted Date</mat-label>
                        <p class="preData">{{SupDetails?.submittedDate | date:'dd-MMM-yy'}}</p>
                    </div>
                    <div class="col col-separator">
                        <mat-label class="preLabel">Status</mat-label>
                        <p class="preData">Approved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="widget-box">
        <h5 class="widget-title">ERP - Supplier Record</h5>
        <div class="widget-content">
            <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
              
                
                
                
                <table class="content-table">
                    <thead>
                        <tr>
                            <th scope="col">Supplier Code</th>
                            <th scope="col">Supplier Name</th>
                            <th scope="col">{{ (SupplierManagement?.complianceRenewalBank?.captureBusinessLicenses && SupplierManagement?.licenseCertificate?.length > 0) ? SupplierManagement?.licenseCertificate[0]?.displayLabel : "Commercial License #" }}</th>
                            <th scope="col">Site ID #</th>
                            <th scope="col">Site Name</th>
                            <th scope="col">Tax Registration #</th>
                            <th scope="col">Submitted Date</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let maperp of erpSupplier">
                            <td>{{ maperp?.supplierCode }}</td>
                            <td>{{ maperp?.supplierName }}</td>
                            <td>{{ maperp?.comLicense }}</td>
                            <td>{{ maperp?.siteId }}</td>
                            <td>{{ maperp?.siteName }}</td>
                            <td>{{ maperp?.taxRegistration }}</td>
                            <td>{{ maperp?.submittedDate | date:'dd-MMM-yy' }}</td>
                            <td><span class="badge text-bg-success ms-1 px-2">{{ maperp?.status }}</span></td>
                            <td class="text-center"> <input type="checkbox"
                                    (change)="onIndividualMapErpChange(maperp)"></td>
                        </tr> 
                    </tbody>
                </table>
                <div class="table-footer">
                    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                        aria-label="Select page">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content> 

<mat-dialog-actions>
    <div class="footer-action-btn">
        <button    class="btn-gray" mat-dialog-close cdkFocusInitial>
            <i class="fa fa-ban pe-2"></i>Close
        </button> 
        <div class="middle-spacer"></div>
        <button   class="btn-blue" (click)="map()">
            <i class="fa fa-street-view pe-2"></i>Map
        </button>
        <button   class="btn-blue" (click)="create()">
            <i class="fa fa-floppy-o pe-2"></i>Create
        </button>
    </div>
</mat-dialog-actions>
</div>