<div class="container-fluid">
    <div class="pageContainer">
        <div class="pageHeader">
            <h1 class="heading">Contract Insights</h1>
        </div>
        <div class="pageContent contract-view">
            <div class="mb-2">
                <mat-accordion class="custom-accordion">
                    <mat-expansion-panel class="cust-panel" [expanded]="isAccordionState">
                        <mat-expansion-panel-header class="accordion-cust-header">
                            <mat-panel-title class="custom-panel-header">Header Details</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="insight-grid ps-2">
                            <div class="inner-grid">
                            <mat-form-field>
                                <mat-label>Contract Ref #</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="FY2024/2025">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Contract Name</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Contract Resource">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Contract Resource">
                            </mat-form-field> 
                            <mat-form-field>
                                <mat-label>Contract Type</mat-label>
                                <mat-select [disabled]="isDisabled" placeholder="General">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="Expense contract">General</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Creation Date</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="23-Nov-2024">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Start Date</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="24-Nov-2024">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>End Date</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="30-Nov-2024">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Classification</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Master Resource Rate">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Supplier Code</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="SLU01">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Supplier Name</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Sun Eye Techno">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>Administrator</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Rajesh">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>PO Ref #</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="PO_171">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>PO Date</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="23-Dec-2024">
                            </mat-form-field>
                            <mat-form-field class="description">
                                <mat-label>PO Total Value</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="100,100">
                            </mat-form-field>
                           
                            <mat-form-field class="description">
                                <mat-label>Currency</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="USD">
                            </mat-form-field>
                        </div>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="mt-2">
                <mat-accordion class="custom-accordion ">
                    <mat-expansion-panel class="cust-panel" [expanded]="isAccordionState">
                        <mat-expansion-panel-header class="accordion-cust-header">
                            <mat-panel-title class="custom-panel-header">Spend Category</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="category-grid">
                            <mat-form-field>
                                <mat-label>Parent Category</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Human Resource">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Sub Category</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="RMG">
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Child Category</mat-label>
                                <input matInput [disabled]="isDisabled" placeholder="Requirement">
                            </mat-form-field>
                    </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="mb-2">
                <mat-accordion class="custom-accordion mt-2">
                    <mat-expansion-panel class="cust-panel" [expanded]="isAccordionState">
                        <mat-expansion-panel-header class="accordion-cust-header">
                            <mat-panel-title class="custom-panel-header">Status</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="status">
                            <div class="sub-division">
                                <div class="title">Net Contract value</div>
                                <div class="status-info">
                                    <p> Net Contract Value:</p>
                                    <p class="ps-1 ft-bold text-right"> 340,100</p>
                                    <p> Tax Amount:</p>
                                    <p class="ps-1 ft-bold text-right"> NA</p>
                                    <p> Total Contract Value:</p>
                                    <p class="ps-1 ft-bold text-right"> 340,100</p>
                                </div>
                            </div>
                            <div class="sub-division">
                                <div class="title">Completed Value</div>
                                <div class="status-info">
                                    <p> Completed Value:</p>
                                    <p class="ps-1 ft-bold text-right">0.00 </p>
                                    <p> Balance to Go value:</p>
                                    <p class="ps-1 ft-bold text-right"> NA</p>
                                    <p>Value Based Contract:</p>
                                    <p class="ps-1 ft-bold text-right"> No</p>
                                </div>
                            </div>
                            <div class="sub-division">
                                <div class="title">Completed Status</div>
                                <div class="status-info">
                                    <p>% Completed:</p>
                                    <p class="ps-1 ft-bold text-right">0.00 %</p>
                                    <p>% Balance to Go:</p>
                                    <p class="ps-1 ft-bold text-right"> 0%</p>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="mb-2">
                <mat-accordion class="custom-accordion mt-2">
                    <mat-expansion-panel class="cust-panel" [expanded]="isAccordionState">
                        <mat-expansion-panel-header class="accordion-cust-header">
                            <mat-panel-title class="custom-panel-header">Commercial Details</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive comman-table-style">
                            <table class="table table-flush ">
                                <thead >
                                    <tr class="row-highlight">
                                        <th colspan="3" class="text-center border-right">Work Order Details</th>
                                        <th colspan="3" class="text-center border-right">WCC Details</th>
                                        <th colspan="4" class="text-center">Invoice Break Up</th>
                                    </tr>
                                    <tr class="thead-light">
                                        <th scope="col">Work Order Ref  #</th>
                                        <th scope="col" >Date</th>
                                        <th scope="col" >Amount</th>
                                        <th scope="col">WCC Ref  #</th>
                                        <th scope="col" >Date</th>
                                        <th scope="col" >Amount</th>
                                        <th scope="col">Invoice  #</th>
                                        <th scope="col" >Date</th>
                                        <th scope="col" >Amount</th>
                                        <th scope="col" >Paid</th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <tr class="cust-field-height">
                                        <td>WO001</td>
                                        <td>
                                            <mat-form-field class="mxW-100">
                                                <input matInput placeholder="" [disabled]="isDisabled"  value="01-Nov-2024">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="100,000">
                                            </mat-form-field>
                                        </td>
                                        <td>WCC001</td>
                                        <td>
                                            <mat-form-field class="mxW-100">
                                                <input matInput placeholder="" [disabled]="isDisabled"  value="01-Nov-2024">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="100,000">
                                            </mat-form-field>
                                        </td>
                                        <td>INV001</td>
                                        <td>
                                            <mat-form-field class="mxW-100">
                                                <input matInput placeholder="" [disabled]="isDisabled"  value="01-Nov-2024">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="100,000">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="0">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr class="row-highlight">
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="mb-2">
                <mat-accordion class="custom-accordion mt-2">
                    <mat-expansion-panel class="cust-panel" [expanded]="isAccordionState">
                        <mat-expansion-panel-header class="accordion-cust-header">
                            <mat-panel-title class="custom-panel-header">Break Up : Completed vs Balance to Go</mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive comman-table-style">
                            <table class="table table-flush ">
                                <thead >
                                  
                                    <tr class="thead-light">
                                        <th scope="col">Serial  #</th>
                                        <th scope="col" >Resource Role</th>
                                        <th scope="col" >Attribute-1</th>
                                        <th scope="col">Attribute-2</th>
                                        <th scope="col" >UOM</th>
                                        <th scope="col" >Contract Quantity</th>
                                        <th scope="col">Completed Quantity</th>
                                        <th scope="col" >Balance Quantity</th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                    <tr class="cust-field-height">
                                        <td>1</td>
                                        <td>
                                           Senior Java Resource
                                        </td>
                                        <td>
                                            5 year Experience
                                         </td>
                                         <td>
                                           
                                         </td>
                                        <td>
                                            <mat-form-field class="mxW-100">
                                                <input matInput placeholder="" [disabled]="isDisabled"  value="01-Nov-2024">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="100,000">
                                            </mat-form-field>
                                        </td>
                                        <td>INV001</td>
                                        <td>
                                            <mat-form-field class="mxW-100">
                                                <input matInput placeholder="" [disabled]="isDisabled"  value="01-Nov-2024">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="100,000">
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <mat-form-field >
                                                <input matInput placeholder="" class="text-right" [disabled]="isDisabled"  value="0">
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                    <tr class="row-highlight">
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td colspan="2" class="text-right">Total Value:</td>
                                        <td  class="text-right pe-2">100,000</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            </div>          
        </div>
    </div>
    <footer>
        <div>
            <button   (click)="contarctRep()">Back</button>
            <span class="me-2"></span>
            <button mat-stroked-button >Contracts</button>
            <span class="me-2"></span>
            <button  >Schedule of Rate</button>           
        </div>
    </footer>
</div>