<div class="dialog-container">
    <div mat-dialog-title>
        <h3>Approval Summary</h3>
        <button mat-icon-button mat-dialog-close>
            <i class="material-icons" matTooltip="close">close</i>
        </button>

    </div>
    <mat-dialog-content>
        <div class="grid-2cols">
            <div class="display-box-summary ms-1">
                <p class="display-label">For Short Name / Description </p>
                <p class="display-data">Purchase for Desktop</p>
                <p class="display-label">From Company</p>
                <p class="display-data">Techno Info System</p>
                <p class="display-label">Prepared By</p>
                <p class="display-data">John Peter
                </p>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Organization Level
            </h5>
            <div class="widget-content">
                <div class="grid-4cols">
                    <mat-form-field>
                        <mat-label>Level 1</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Level 2</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Level 3</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Level 4</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Organization Level
            </h5>
            <div class="widget-content">
                <div class="grid-3cols">
                    <mat-form-field>
                        <mat-label>Parent Category</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">Techno Info System</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Sub Category </mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">Hardware Support</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Child Category</mat-label>
                        <mat-select required>
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="widget-content bg-white">
            <table class="content-table">
                <thead>
                  <tr>
                    <th scope="col">Transaction</th>
                    <th scope="col">Ref #</th>
                    <th scope="col" >Approval Date</th>
                    <th scope="col" >PR Approval Value</th>
                    <th scope="col" >Status</th>
                  </tr>
                </thead>
                <tbody> 
                  <tr>
                    <td>PR</td>
                    <td><a>PR-10202</a></td>
                    <td>10-02-2025</td>
                    <td class="text-right pe-4">100,00.00</td>
                    <td>PR Approved</td>
                  </tr>
                  <tr>
                    <td>PQ</td>
                    <td><a>PR-10202</a></td>
                    <td>10-02-2025</td>
                    <td class="text-right pe-4">100,00.00</td>
                    <td>PQ Approved</td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="widget-box mt-2">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
               Write Approval Summary
               <div class="d-flex align-items-center justify-content-arround">
               <button  class="header-level-btn-blue" matTooltip="RFx Insights"><i class="fa fa fa-share pe-2"></i>RFx Insights</button>
               <button  class="header-level-btn-blue" matTooltip="PR"><i class="fa fa fa-share pe-2"></i>PR</button>
               <button  class="header-level-btn-blue" matTooltip="RFx"><i class="fa fa fa-share pe-2"></i>RFx</button>
            </div>
            </h5>
            <div class="widget-content">
                <mat-form-field class="w-100">
                    <mat-label>Summary</mat-label>
                    <textarea matInput placeholder="Supporting for Engineering projects for 1 year" required></textarea>
                  </mat-form-field>
            </div>
        </div>
        <div class="widget-box mt-2">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
              Supplier Response Details
            </h5>
            <div class="widget-content p-0">
                <div class="widget-content bg-white">
                    <table class="content-table">
                        <thead>
                          <tr>
                            <th scope="col">Supplier Name</th>
                            <th scope="col">Response #</th>
                            <th scope="col" >Response Date</th>
                            <th scope="col" >Transaction Currency</th>
                            <th scope="col" >Amount </th>
                            <th scope="col" >Fun Currency Value </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Techno</td>
                            <td>2382932109</td>
                            <td>10-02-2025</td>
                            <td>USD</td>
                            <td class="text-right pe-4">100,00.00</td>
                            <td class="text-right pe-4">100,00.00</td>
                          </tr>
                          <tr>
                            <td>Eagle Electronics</td>
                            <td>343434343</td>
                            <td>10-01-2025</td>
                            <td>USD</td>
                            <td class="text-right pe-4">250,00.00</td>
                            <td class="text-right pe-4">250,00.00</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <div class="footer-action-btn">
            <button color="warn" class="btn-gray" mat-dialog-close cdkFocusInitial><i
                    class="fa fa-ban pe-2"></i>Cancel</button>
            <div class="middle-spacer"></div>
            <button class="btn-blue">
                <i class="fa fa-hand-pointer-o pe-2" aria-hidden="true"></i>Submit
            </button>
        </div>

    </mat-dialog-actions>
</div>