
<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Workflow History" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
    <mat-dialog-content>
        <div class="pq-score-card">
            <div class="table-responsive">
                <div class="table-responsive p-2" >
                    <table class="content-table">
                    <thead>
                            <tr>
                                <th scope="col">WF Level #</th>
                                <th scope="col">Assigned User</th>
                                <th scope="col">Assigned To</th>
                                <th scope="col">Action Date</th>
                                <th scope="col">Comments</th>
                                <th scope="col">Estimated Date of Completion</th>
                                <th scope="col">Action Taken</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let wfHistory of workFlowHistory; let i = index">
                                <td Xclass="text-center">{{ i+1 }}</td>
                                <td>{{wfHistory?.assignedUser}}</td>
                                <td>{{wfHistory?.assignedTo}}</td>
                                <td>{{wfHistory?.actionDate | date: (commonService.showFormat)}}</td>
                                <td>{{wfHistory?.comments}}</td>
                                <td>{{wfHistory?.estimatedDateOfCompletion | date:
                                    (commonService.showFormat) }}</td>
                                <td>{{wfHistory?.actionTaken}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-dialog-content> 
    <mat-dialog-actions>
		<div class="footer-action-btn">
				<button    class="btn-gray" mat-dialog-close cdkFocusInitial>
					<i class="fa fa-ban pe-2"></i>Close</button> 
			<div class="middle-spacer"></div>
			 
		</div>
	</mat-dialog-actions>
</div> 