
table tr th:first-child,
table tr td:first-child {
    max-width: 70px !important;
}

.mxW-150 {
    max-width: 150px !important;
}
.mxW-120 {
    max-width: 120px !important;
}
.mxW-100{
    width: 100px !important;
}

.w-70 {
    width: 70px !important;
}

