

<div class="widget-box">    
<h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
  Header
  <div >
    <button   class="header-level-btn-blue">Last Purchase Price</button>
    <button   class="header-level-btn-gray">Schedule of Rate</button>
</div>
</h5>
        <div class="widget-content">
            <div class="grid-3cols">
                <div class="d-flex cust-field-height">
                    <label style="font-size: 13px;">Currency:</label>
                    <mat-form-field style="width: 120px;  margin-left: 10px;">
                    <mat-select  style="width: 120px;  margin-left: 10px; " required>
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option value="">USD</mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                    <mat-checkbox class="coloumn-fix">Enable Item Level Discount</mat-checkbox>
                    <mat-checkbox class="coloumn-fix">Enable Item Level Tax</mat-checkbox>
               
            </div>
        </div>
</div>

<div class="table-responsive table-control">
    <table class="content-table ">
        <thead>
            <tr>
                <th scope="col" style="width:80px">Serial #</th>
                <th scope="col" >Code</th>
                <th scope="col" >Description</th>
                <th scope="col">UOM</th>
                <th scope="col">Quantity</th>
                <th scope="col">Ship to Site</th>
                <th scope="col">Item Need By Date</th>
                <th scope="col">Rate</th>
                <th scope="col">Value</th>
                <th scope="col" class="d-flex">Action
                    <mat-icon  matTooltip="Add Row" class="cust-primary-btn">add_box</mat-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="cust-field-height">
                <td>1</td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder=""  value="DL120009">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field >
                        <input matInput placeholder=""  value="HP Seller">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100 commercials-select">
                        <mat-select matTooltip="Select the UOM" required>
                           <mat-option value="">-- Please Select --</mat-option>
                           <mat-option value="">Dozen</mat-option>
                       </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="10">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-120 date-placement">
                        <input matInput [matDatepicker]="dp1">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                   <mat-icon>delete</mat-icon>
                </td>
            </tr>
            <tr class="cust-field-height">
                <td>2</td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder=""  value="DL120009">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field >
                        <input matInput placeholder=""  value="HP Seller">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100 commercials-select">
                        <mat-select matTooltip="Select the UOM" required>
                           <mat-option value="">-- Please Select --</mat-option>
                           <mat-option value="">Dozen</mat-option>
                       </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="10">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-120 date-placement">
                        <input matInput [matDatepicker]="dp1">
                        <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                        <mat-datepicker #dp1></mat-datepicker>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                   <mat-icon>delete</mat-icon>
                </td>
            </tr>
            <tr class="cust-field-height">
                <td colspan="6" class="text-right"> Item Total</td>                   
                <td>
                    <mat-form-field class="mxW-100 text-right">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                </td>
            </tr>
            <tr class="cust-field-height">
                <td colspan="6" class="text-right"> Discount</td>                   
                <td>
                    <mat-form-field class="w-70">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field> %
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                </td>
            </tr>
            <tr class="cust-field-height">
                <td colspan="6" class="text-right"> Net Value</td>                   
                <td>
                    <mat-form-field class="mxW-100 text-right">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                </td>
            </tr>
            <tr class="cust-field-height">
                <td colspan="6" class="text-right"> Tax</td>                   
                <td>
                    <mat-form-field class="w-70">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field> %
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                </td>
            </tr>
            <tr class="cust-field-height">
                <td colspan="6" class="text-right"> Total Amount</td>                   
                <td>
                    <mat-form-field class="mxW-100 text-right">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="mxW-100">
                        <input matInput placeholder="" class="text-right"  value="">
                    </mat-form-field>
                </td>
                <td class="mxW-150 text-center">
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="widget-box">    
    <h5 class="widget-title d-flex align-items-center justify-content-start">
        Other Deductions
        <div class="ms-5 d-flex cust-field-height">
            <label style="font-size: 13px;">Applicable Levels:</label>
            <mat-form-field style="width: 120px;">
            <mat-select>
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">2</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </h5>
            <div class="widget-content">
                <div class="table-responsive table-control">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Serial #</th>
                                <th scope="col" >Type</th>
                                <th scope="col" >Rate</th>
                                <th scope="col">Value</th>
                                <th scope="col">Basis</th>
                                <th scope="col">Sequence</th>
                                <th scope="col" >Amount</th>
                                <th scope="col" class="d-flex">Action
                                    <mat-icon  matTooltip="Add Row" class="cust-primary-btn">add_box</mat-icon>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="cust-field-height">
                                <td>1</td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                           <mat-option value="">-- Please Select --</mat-option>
                                           <mat-option value="">GST</mat-option>
                                           <mat-option value="">Excise Duty</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100" >
                                        <input matInput placeholder="" class="text-right"  value="10">
                                    </mat-form-field> <span class="ft-bold">%</span>
                                </td>
                                
                                <td>
                                    <mat-form-field class="w-100" >
                                        <input matInput placeholder="" class="text-right"  value="18">
                                    </mat-form-field> <span class="ft-bold">%</span>
                                </td>
                                <td>
                                    <mat-form-field class="w-100" >
                                        <input matInput placeholder="" class="text-right"  value="100,000">
                                    </mat-form-field> 
                                </td>
                                <td>
                                    <mat-form-field class="w-100">
                                        <mat-select matTooltip="Select the UOM" required>
                                           <mat-option value="">-- Please Select --</mat-option>
                                           <mat-option value="">0</mat-option>
                                           <mat-option value="">1</mat-option>
                                       </mat-select>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="w-100" >
                                        <input matInput placeholder="" class="text-right"  value="101,800">
                                    </mat-form-field> 
                                </td>
                                <td class="text-center">
                                   <mat-icon>delete</mat-icon>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
<div class="partyContainer">

 

 
    <div class="d-flex ">
        <mat-form-field class="w-100">
            <mat-label>Pay Terms</mat-label>
            <mat-select matTooltip="Select the Band Submission Mode" required>
                <mat-option value="">-- Please Select --</mat-option>
                <mat-option value="">Pay Net 30 days</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>