<div class="dialog-container">

    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Track and Trace" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div>  
<mat-dialog-content>

    <div class="d-flex border-bottom ps-4 pe-4">
        <div>
            <span class="status-label pe-2">PR : Buyer :<span class="status-state pl-2">Christoper Samuel</span></span>
            <span class="status-label pe-2">End User : <span class="status-state  pl-2"> Samuel Christoper</span></span>
        </div>
    </div>
    <div class="grid-2cols ps-4 pe-4">
        <div>
            <span class="status-label pe-2">PR :<span class="status-state pl-2">PR20002</span></span></div>
            <div> <span class="status-label pe-2">FRX : <span class="status-state  pl-2"> R-200</span></span>
        </div>
        <div>
            <span class="status-label pe-2">CSA :<span class="status-state pl-2">CSA0001</span></span></div>
            <div><span class="status-label pe-2">Contact : <span class="status-state  pl-2">Contact002</span></span>
        </div>
        <div>
            <span class="status-label pe-2">WO :<span class="status-state pl-2">WO0102</span></span></div>
            <div><span class="status-label pe-2">PO : <span class="status-state  pl-2">PO9289</span></span>
        </div>
        <div>
            <span class="status-label pe-2">RO :<span class="status-state pl-2">RO8897</span></span></div>
            <div><span class="status-label pe-2">WCC : <span class="status-state  pl-2">WCC89890</span></span>
        </div>
        <div>
            <span class="status-label pe-2">Invoice :<span class="status-state pl-2">Invoice999</span></span></div>
            
    </div>  
</mat-dialog-content>
<mat-dialog-actions>
    <div class="footer-action-btn">
            <button    class="btn-gray" mat-dialog-close cdkFocusInitial>
                <i class="fa fa-ban pe-2"></i>Close</button> 
        <!-- <div class="middle-spacer"></div> -->
        
    </div>
</mat-dialog-actions>
</div>