<div [formGroup]="BankForm" #target class="me-2">
  <div class="widget-box">
     <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
        Supplier Bank Information 
     </h5>
     <div class="widget-content">
        <div class="grid-5cols">
           <mat-form-field class="col">
              <mat-label>
                 Bank Name
              </mat-label>
              <input matInput matTooltip="Enter the bank name" formControlName="bankName" required
                 >
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Branch
              </mat-label>
              <input matInput matTooltip="Enter the branch" formControlName="branch" required >
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Currency
              </mat-label>
              <mat-select formControlName="currencyId" matTooltip="Select Currency" >
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option >
                 USD - $
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Country
              </mat-label>
              <mat-select formControlName="countryId"
                 
                 matTooltip="Select Country">
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option >
                 India
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 State
              </mat-label>
              <mat-select formControlName="stateId"
                 matTooltip="Select State">
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option >
                 Tamil Nadu
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 City
              </mat-label>
              <mat-select formControlName="cityId" matTooltip="Select City" >
                 <mat-option value="">-- Please Select --</mat-option>
                 <mat-option >
                 Chennai
                 </mat-option>
              </mat-select>
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Account Number
              </mat-label>
              <input matInput matTooltip="Enter the account number" style="text-align: right;"
              formControlName="accountNumber" 
               />
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Swift Code / BIC
              </mat-label>
              <input matInput formControlName="swiftCodeBIC" 
              matTooltip="Enter the swift code / BIC" />
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 IBAN
              </mat-label>
              <input matInput matTooltip="Enter the IBAN" formControlName="iban"
              />
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 BSB
              </mat-label>
              <input matInput matTooltip="Enter the BSB" formControlName="bsb"
               />
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>
                 Routing
              </mat-label>
              <input matInput matTooltip="Enter the Routing" 
              formControlName="routing" />
           </mat-form-field>
           <mat-form-field class="col">
              <mat-label>IFSC Code</mat-label>
              <input matInput matTooltip="Enter the IFSC code" formControlName="ifscCode">
           </mat-form-field>
           <mat-checkbox class="col mt-3" 
              formControlName="defaultBank">Default&nbsp;Bank</mat-checkbox>
           <mat-checkbox class="mt-3 col" formControlName="correspondentBank"
              >Correspondent&nbsp;Bank</mat-checkbox>
        </div>
     </div>
     <div class="widget-box mt-2 border-1-0-0-0 ">
        <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
           Correspondent Bank
        </h5>
        <div class="widget-content">
           <div class="grid-5cols" formGroupName="correspondentBankObject">
              <mat-form-field class="col">
                 <mat-label>
                    Bank Name
                 </mat-label>
                 <input matInput matTooltip="Enter the bank name" formControlName="bankName" required>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Branch
                 </mat-label>
                 <input matInput matTooltip="Enter the branch" formControlName="branch" required>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Currency
                 </mat-label>
                 <mat-select formControlName="currencyId" matTooltip="Select Currency">
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option >
                      USD - $
                    </mat-option>
                 </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Country
                 </mat-label>
                 <mat-select formControlName="countryId"
                    
                    matTooltip="Select Country">
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option>
                    India
                    </mat-option>
                 </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    State
                 </mat-label>
                 <mat-select formControlName="stateId"
                    
                    matTooltip="Select State">
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option >
                    Tamil Nadu
                    </mat-option>
                 </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    City
                 </mat-label>
                 <mat-select formControlName="cityId" matTooltip="Select City">
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option >
                    Chennai
                    </mat-option>
                 </mat-select>
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Account Number
                 </mat-label>
                 <input matInput matTooltip="Enter the account number" 
                 style="text-align: right;" formControlName="accountNumber" 
                 />
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Swift Code / BIC
                 </mat-label>
                 <input matInput formControlName="swiftCodeBIC"
                 matTooltip="Enter the swift code / BIC"  />
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    IBAN
                 </mat-label>
                 <input matInput matTooltip="Enter the IBAN"  formControlName="iban"
                  />
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    BSB
                 </mat-label>
                 <input matInput matTooltip="Enter the BSB"  formControlName="bsb"
                  />
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>
                    Routing
                 </mat-label>
                 <input matInput matTooltip="Enter the Routing" 
                 formControlName="routing" />
              </mat-form-field>
              <mat-form-field class="col">
                 <mat-label>IFSC Code</mat-label>
                 <input matInput matTooltip="Enter the IFSC code" formControlName="ifscCode">
              </mat-form-field>
           </div>
        </div>
     </div>
  </div>
  <div class="widget-box">
     <div class="table-responsive table-col-control">
        <table class="content-table">
           <thead>
              <tr class="thead-light">
                 <th scope="col">Serial #</th>
                 <th scope="col">Default Bank</th>
                 <th scope="col">Correspondent Bank</th>
                 <th scope="col">Bank Name</th>
                 <th scope="col">Branch</th>
                 <th scope="col">Country</th>
                 <th scope="col" width="80">Account #</th>
                 <th scope="col" width="80">Bank IBAN</th>
                 <th scope="col" width="60" class="text-center">Action</th>
              </tr>
           </thead>
           <tbody class="list" >
              <tr>
                 <td> Bank 1</td>
                 <td>
                    <mat-checkbox>
                    </mat-checkbox>
                 </td>
                 <td></td>
                 <td>SBI</td>
                 <td>Chennai</td>
                 <td>India</td>
                 <td>1234567890</td>
                 <td>54321</td>
                 <td>
                    <button Xclass="btn btn-primary btn-sm smBtn" mat-button
                    class="btn-small" matTooltip="Edit">
                    <i class="fa fa-eye"></i>
                    </button>
                    <button Xclass="btn btn-primary btn-sm smBtn" mat-button
                    class="btn-small"  matTooltip="Edit">
                    <i class="fa fa-edit"></i>
                    </button>
                    <button  
                   Xclass="btn btn-danger btn-sm smBtn" mat-button class="btn-small"
                    matTooltip="Delete">
                    <i class="fa fa-trash text-danger"></i>
                    </button>
                 </td>
              </tr>
              <tr >
                 <td></td>
                 <td></td>
                 <td>
                    <mat-checkbox 
                   >
                    </mat-checkbox>
                 </td>
                 <td>SBI</td>
                 <td>Chennai</td>
                 <td>India</td>
                 <td>1234567890</td>
                 <td>54321</td>
                 <td>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
  </div>
  </div>