<div class="content-box p-0">
    <div class="content-body-box height-auto ">
        <div class="widget-box mt-2">
            <h5 class="widget-title Xpt-4 Xpb-4 Xd-flex Xjustify-content-between">
               Sourcing Events
                <!-- <button class="header-level-btn-blue" matTooltip="Create New Committee"> 
                    <i class="fa fa-plus pe-2" aria-hidden="true"></i> Registration
                </button> -->
            </h5>
            <div class="widget-content mt-2"> 


                 
                <ag-grid-angular [theme]="theme" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
                [pagination]="pagination" [paginationPageSize]="paginationPageSize"   
                [paginationPageSizeSelector]="paginationPageSizeSelector" [rowData]="rowData"/> 
             
                <!-- <div class="table-responsive table-col-control mt-3">
                    <table class="content-table">
                        <thead>
                            <tr> 
                               
                                <th width="6%">Ref #</th>
                                <th width="12%">Event Type</th>
                                <th width="18%">Short Name</th>
                                <th width="10%">Published Date</th>
                                <th width="10%">Query Date</th>
                                <th width="14%">Submission Due Date</th>
                                <th width="10%">Status</th>
                                <th width="20%" class="text-center">Action</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">FY-2025-26-100</a></td>
                                <td>RFQ </td>
                                <td>Purchase of Laptop</td>
                                <td>24-02-2024</td>
                                <td>29-02-2024</td>
                                <td>01-03-2024</td>
                                <td>Submission Open </td>
                                <td class="text-center">
                                    <a href="#test" matTooltip="View">
                                        <i class="fa fa-eye" aria-hidden="true"></i> 
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                
                                <td><a href="">FY-2025-26-106</a></td>
                                <td>RFT </td>
                                <td>Purcahse of Amoled Display</td>
                                <td>24-02-2024</td>
                                <td>25-02-2024</td>
                                <td>26-02-2024</td>
                                <td>Submission Open</td>
                                <td class="text-center">
                                    <a href="#test" matTooltip="View">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                             
                        </tbody>
                    </table>
                </div> -->



            </div>
        </div> 
    </div>
    <div class="footer-cta-btn">
        <div class="cta-leftside-btn">
            <button   class="btn-gray" matTooltip="Go Next">
                <i class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
        </div>
        <div class="cta-rightside-btn">           
            <button   class="btn-gray" matTooltip="Go Next">Next
                <i class="fa fa-chevron-circle-right ps-2"></i></button> 
        </div>
    </div>
</div>  
 
