@import "../../../--theme-variables.scss";

.mat-expansion-panel-header {
  background: $accordHeaderBg !important;
  font-size: 13px !important;
  height: 35px !important;
  align-items: center;
  color:$white !important;
}
.show {
    display: block;
  }
  
  .hide {
    display: none;
  }