<div class="content-box p-0">
    <div class="content-body-box height-auto ">
        <div class="widget-box mt-2">
            <h5 class="widget-title Xpt-4 Xpb-4 Xd-flex Xjustify-content-between">
                Contract
                <!-- <button class="header-level-btn-blue" matTooltip="Create New Committee"> 
                    <i class="fa fa-plus pe-2" aria-hidden="true"></i> Registration
                </button> -->
            </h5>
            <div class="widget-content mt-2"> 

                <ag-grid-angular [theme]="theme" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
                [pagination]="pagination" [paginationPageSize]="paginationPageSize"   
                [paginationPageSizeSelector]="paginationPageSizeSelector" [rowData]="rowData"/>         

<!--              
                <div class="table-responsive table-col-control mt-3">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th width="6%">Ref#</th> 
                                <th width="20%">Short Name</th>
                                <th width="10%">Created Date</th>
                                <th width="10%">Expiry Date</th>
                                <th width="10%">Currency</th>
                                <th width="10%">Net Amount</th>
                                <th width="15%">Status</th>
                                <th width="20%" class="text-center">Action</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="">CN/0044</a></td>
                                <td>Purchase for desktop</td> 
                                <td>24-02-2024</td>
                                <td>29-02-2025</td>
                                <td>USD - $</td>
                                <td class="text-end">1000000.00</td>
                                <td>Contract Signed Off </td>
                                <td class="text-center">
                                    <a href="#test" matTooltip="View"> 
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span class="material-icons-outlined"  matTooltip="View">visibility</span>
                                    </a>
                                    <a href="#test" matTooltip="verified">
                                        <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                        <span class="material-icons-outlined">verified</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>CN/0085 </td>
                                <td>Purchase for Laptop</td> 
                                <td>24-02-2024</td>
                                <td>25-02-2026</td>
                                <td>USD - $</td>
                                <td class="text-end">1000000.00</td>
                                <td>Contract Signed Off</td>
                                <td class="text-center">
                                    <a href="#test">
                                      
                                        <span class="material-icons-outlined">visibility</span>
                                    </a>
                                    <a href="#test">
                                         
                                        <span class="material-icons-outlined">verified</span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>CN/0244 </td>
                                <td>Purchase for Keyboard</td> 
                                <td>22-02-2024</td>
                                <td>23-02-2025</td>
                                <td>IND - &#8377;</td>
                                <td class="text-end">1000000.00</td>
                                <td>Contract Signed Off</td>
                                <td class="text-center">
                                    <a href="#test"> 
                                        <span class="material-icons-outlined">visibility</span>
                                    </a>
                                    <a href="#test"> 
                                        <span class="material-icons-outlined">verified</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->


            </div>
        </div> 
    </div>
    <div class="footer-cta-btn">
        <div class="cta-leftside-btn">
            <button   class="btn-gray" matTooltip="Go Next">
                <i class="fa fa-chevron-circle-left pe-2"></i>Previous</button>
        </div>
        <div class="cta-rightside-btn">           
            <button   class="btn-gray" matTooltip="Go Next">Next
                <i class="fa fa-chevron-circle-right ps-2"></i></button> 
        </div>
    </div>
</div>  
 
