<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>Delete Clause</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div> 
<mat-dialog-content>
    <div class="widget-box">
        <h5 class="widget-title">Clause Details</h5>
        <div class="widget-content">
            <div class="grid-3cols">
                <mat-form-field>
                    <mat-label>Ref #</mat-label>
                    <input matInput [value]="templateData.refId" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Clause Name</mat-label>
                    <input matInput [value]="templateData.clauseName" disabled>
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" [value]="templateData.description"
                        disabled></textarea>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Category</mat-label>
                    <input matInput [value]="templateData.categoryName" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput [value]="templateData.typeName" disabled>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Contract Classification</mat-label>
                    <input matInput [value]="templateData.classificationShow" disabled>
                </mat-form-field>
            </div>
        </div>
    </div>
    <!-- <div class="d-flex flex-row flex-wrap align-items-top">
        <div class="col-md-12">
            <div class="borderBox">
                <div class="boxHeader">
                    <div class="subHeading">Clause Details</div>
                </div>
                <div class="boxBody">
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="d-flex flex-row w-100">
                            <div class="col col-separator">
                                <mat-label class="preLabel">Ref #</mat-label>
                                <p class="preData">{{templateData.refId}}</p>
                            </div>
                            <div class="col col-separator">
                                <mat-label class="preLabel">Clause Name</mat-label>
                                <p class="preData">{{templateData.clauseName}}</p>
                            </div>
                            <div class="col col-separator">
                                <mat-label class="preLabel">Decription</mat-label>
                                <p class="preData">{{templateData.description}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                        <div class="d-flex flex-row w-100">
                            <div class="col col-separator">
                                <mat-label class="preLabel">Category</mat-label>
                                <p class="preData">{{templateData.categoryName}}</p>
                            </div>

                            <div class="col col-separator">
                                <mat-label class="preLabel">Type</mat-label>
                                <p class="preData">{{templateData.typeName}}</p>
                            </div>
                            <div class="col col-separator">
                                <mat-label class="preLabel">Contract Classification</mat-label>
                                <p class="preData">{{templateData.classificationShow}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</mat-dialog-content>
<mat-dialog-actions>
    <div class="footer-action-btn">
        <button    class="btn-gray" mat-dialog-close cdkFocusInitial>
            <i class="fa fa-ban pe-2"></i>Close</button> 
    <div class="middle-spacer"></div>
    <button   class="btn-blue" (click)="closeYesDlg()">
        <i class="fa fa-tick pe-2"></i>Yes
    </button>
</div>
</mat-dialog-actions>
</div>