<div class="main">
    <mat-toolbar class="mat-header">
        <img src="../../assets/images/kryalogo.png" width="78" alt="ProcureZEN" > 
    </mat-toolbar>


    <div class="main-content"> 
        <div class="reset-container"> 
            <div class="align-items-center justify-content-between">
                <div class="reset-img">
                    <img src="../../assets/images/icons/resetpassword.png" alt=""  />
                </div>
                <div class="h-title">
                    <h5>Reset your Password</h5>
                </div>
            </div>
            <div class="align-items-center justify-content-between">
                <div class="grid-1cols">
                    <mat-form-field class="col mt-2 txt-pr-eyeicon">
                        <mat-label>Old Password </mat-label>
                        <input class="input-pr" matInput matTooltip="Old Password" type="password" required /> 
                        <mat-icon matSuffix class="eye-icon ieye"> 
                            <span class="material-icons-outlined i eye">
                                visibility
                                </span>
                        </mat-icon> 
                    </mat-form-field> 
                    <mat-form-field class="col mt-2 txt-pr-eyeicon">
                        <mat-label>New Password</mat-label>
                        <input class="input-pr" matInput type="password" matTooltip="New Password" required /> 
                        <mat-icon matSuffix class="eye-icon ieye"> 
                            <span class="material-icons-outlined i eye">
                                visibility
                                </span>
                        </mat-icon>  
                    </mat-form-field>

                    <mat-form-field class="col mt-2 txt-pr-eyeicon">
                        <mat-label>Confirm / Retype New Password</mat-label>
                        <input class="input-pr" matInput  type="password" required matTooltip="Confirm / Retype New Password"/> 
                        <mat-icon matSuffix class="eye-icon ieye"> 
                            <span class="material-icons-outlined i eye">
                                visibility
                                </span>
                        </mat-icon>  
                    </mat-form-field>
                   
                </div>
            </div>
            <div class="d-flex">
                <div class="footer-action-btn">
                    <!-- <button class="btn-gray"><i class="fa fa-times pe-2"></i>Clear</button>
                    <div class="middle-spacer"></div> -->
                    <button class="btn-blue rest-btn"><i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i> Submit</button>                    
                </div>
            </div>
            <div class="d-flex">
                <div class="clear">
                    <a href="#clear"><i class="fa fa-refresh" aria-hidden="true"></i>Clear</a>
                </div>
            </div>    
        </div> 
    </div>

    <footer class="footer">
        <p class="copy-right">&copy; All Right Reserved - Krya Solutions Pvt. Limited (ProcureZEN)</p>
    </footer>

</div>