<div>
    <a class="d-flex align-items-center" [matMenuTriggerFor]="menu"><span>Action</span>
        <mat-icon class="material-icons">arrow_drop_down</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
        <button mat-menu-item class="menu-hight" (click)="onButtonClick('viewEdit')">View /Edit</button>
        @if(params?.data?.inventryItemHeader?.active){
            <button mat-menu-item class="menu-hight" (click)="onButtonClick('assignEntity')">Assign Entity</button>
        }
        <button mat-menu-item class="menu-hight" (click)="onButtonClick('assignEntity')">Material Issue Note</button>
        <button mat-menu-item class="menu-hight" (click)="onButtonClick('assignEntity')">Material Receipt</button>
    </mat-menu>
</div>