<div>
  <a class="d-flex align-items-center" [matMenuTriggerFor]="menu"><span>Action</span>
    <mat-icon class="material-icons">arrow_drop_down</mat-icon>
  </a>
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-top: -5px;">
    <mat-icon class="material-icons">menu</mat-icon>
  </button> -->
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="disableEdit" (click)="editClause()">View / Edit</button>
    @if(showDelete){
    <button mat-menu-item [disabled]="disableEdit" (click)="addTags()">Add Tags</button>
    <button mat-menu-item (click)="delecteClause()">Delete</button>
    }
  </mat-menu>
</div>