<div class="dialog-container">
    <div mat-dialog-title>
        <div class="col-lg-11">
            <h3>{{ "Assign Category" | translate }}</h3>
        </div>
        <div class="col-lg-1 text-end">
            <button mat-icon-button mat-dialog-close>
                <i class="material-icons" matTooltip="close">close</i>
            </button>
        </div>
    </div>  
    <mat-dialog-content>

        <div class="widget-box">
            <h5 class="widget-title">Header Details</h5>
            <div class="widget-content"> 
                <div class="d-flex flex-row flex-wrap justify-content-start align-items-center">
                    <div class="d-flex flex-row w-100">
                        <div class="col col-separator">
                            <mat-label class="preLabel">Template ID</mat-label>
                            <p class="preData">{{templateData.templateId}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Short Name</mat-label>
                            <p class="preData">{{templateData.shortName}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Decription</mat-label>
                            <p class="preData">{{templateData.description}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Type</mat-label>
                            <p class="preData">{{templateData.contractType}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Classification</mat-label>
                            <p class="preData">{{templateData.contractClassification}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Contract Version</mat-label>
                            <p class="preData">{{templateData.version}}</p>
                        </div>
                        <div class="col col-separator">
                            <mat-label class="preLabel">Create Date</mat-label>
                            <p class="preData">{{templateData.createDate | date: (commonService.showFormat)}}</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">Assign Category</h5>
            <div class="widget-content">
                <form #templateCategoryForm="ngForm" id="categoryAndScope">
                    <div class="category-row">
                        <mat-form-field>
                            <mat-label>Spend Parent Category</mat-label>
                            <mat-select [(ngModel)]="saveTemplateCategory.parentCategoryId" name="parentval"
                                #parentControl="ngModel" [required]="true"
                                (selectionChange)="getSubCategories(saveTemplateCategory.parentCategoryId)"
                                matTooltip="Select Parent Category">
                                <mat-option value="">-- Please Select --</mat-option>
                                @for (doc of parentCategory; track doc) {
                                <mat-option [value]="doc.parentCategoryId">{{doc.parentCatgeory}}</mat-option>
                                }
                            </mat-select>
                            @if (parentControl.errors?.required) {
                            <mat-error matTooltip="Select a Parent Category">
                                Parent Category is required</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Spend Sub Category</mat-label>
                            <mat-select [(ngModel)]="saveTemplateCategory.subCategoryId" name="subval"
                                #subControl="ngModel" [required]="true"
                                (selectionChange)="getChildCategories(saveTemplateCategory.subCategoryId!)"
                                matTooltip="Select Sub Category">
                                <mat-option value="">-- Please Select --</mat-option>
                                @for (doc of subCategory; track doc) {
                                <mat-option [value]="doc.subCategoryId">{{doc.subCatgeory}}</mat-option>
                                }
                            </mat-select>
                            @if (subControl.errors?.required) {
                            <mat-error matTooltip="Select a Sub Category">
                                Sub Category is required</mat-error>
                            }
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Spend Child Category</mat-label>
                            <mat-select [(ngModel)]="saveTemplateCategory.childCategoryId" name="childval"
                                #childControl="ngModel" [required]="true" matTooltip="Select Child Category">
                                <mat-option value="">-- Please Select --</mat-option>
                                @for (doc of childCategory; track doc) {
                                <mat-option [value]="doc.childCategoryId">{{doc.childCatgeory}}</mat-option>
                                }
                            </mat-select>
                            @if (childControl.errors?.required) {
                            <mat-error matTooltip="Select a Child Category">
                                Child Category is required</mat-error>
                            }
                        </mat-form-field>

                    </div>
                    </form>
            </div>
        </div> 
</mat-dialog-content>
<mat-dialog-actions>
    <div class="footer-action-btn">
            <button class="btn-gray" mat-dialog-close cdkFocusInitial>
                <i class="fa fa-ban pe-2"></i>Close</button> 
        <div class="middle-spacer"></div>
        <button class="btn-blue" [disabled]="disableSave" (click)="submit()">
            <i class="fa fa-floppy-o pe-2"></i>Save
        </button>
    </div>
</mat-dialog-actions>
</div>