<div class="dialog-container">
    <div mat-dialog-title>
      <h3>IncoTerms</h3>
      <button mat-icon-button  mat-dialog-close>
        <i class="material-icons" matTooltip="close">close</i>
      </button>
    
    </div>
    <mat-dialog-content>
        <div class="widget-box">          
            <div class="widget-content">
                <div class="grid-3cols">
                    <mat-form-field>
                        <mat-label>Shippting Method</mat-label>
                        <mat-select required  >
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option  value="By Airways">By Airways</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Shipping Remarks</mat-label>
                        <input matInput  placeholder="">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Currency</mat-label>
                        <mat-select required  >
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option  value="INR">INR</mat-option>
                        </mat-select>
                    </mat-form-field>       
                </div>
           
            </div>
        </div>
        <div class="widget-box p-0">
        <div class="widget-content p-0 incoTerms"> 
            <div class="table-responsive table-col-control">
                <table class="content-table">
                    <thead>
                        <tr>
                            <th style="min-width: 300px;">Description</th>                           
                            <th class="text-center" colspan="3">CSA</th>                  
                        </tr>
                        <tr >
                            <th class="bg-row">Description</th>                           
                            <th class="bg-row">FUTURE OILFIELD SUPPLY SERVICES LLC</th> 
                            <th class="bg-row">OCEAN TECHNICAL AND MECHANICAL SERVICES LLC</th>
                            <th class="bg-row">SPECIAL TECHNICAL SERVICES LLC</th>           
                        </tr>
                    </thead>
                    <tbody class="cust-field-height">
                        <tr >
                            <td>BOQ - Item + Discount + Tax</td>                           
                            <td class="text-right">140,000.000</td>           
                            <td class="text-right">98,000.000</td>             
                            <td class="text-right">70,000.000</td>                
                        </tr>
                        <tr >
                            <td>Res-Currency</td>                           
                            <td class="text-right">INR</td>           
                            <td class="text-right">INR</td>             
                            <td class="text-right">INR</td>                
                        </tr>
                        <tr >
                            <td>Shipping Terms</td>                           
                            <td class="text-right">CFR INR Cost and Freight</td>           
                            <td class="text-right">CFR INR Cost and Freight</td>          
                            <td class="text-right">CFR INR Cost and Freight</td>           
                        </tr>
                        <tr >
                            <td colspan="4" class="ft-bold bg-row-highlight">IncoTerms Cost</td>      
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Export Packaging</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Loading Charges</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Delivery to Port/Place</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Export Duty, Taxes and Customs Clearance</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Origin Terminal Handling Charges</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Loading on Carriage</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Freight Charges</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="supplier-bg">
                            <td class="bg-white">Insurance</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="buyer-bg">
                            <td class="bg-white">Insurance</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="buyer-bg">
                            <td class="bg-white">Destination Terminal Handling Charges</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="buyer-bg">
                            <td class="bg-white">Delivery to Destination</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="buyer-bg">
                            <td class="bg-white">Unloading at Destination</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr class="buyer-bg">
                            <td class="bg-white">Import Duty, Taxes and Customs Clearance</td>                           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>           
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>              
                            <td class="text-right">
                                <mat-form-field  class="w-100">
                                <input matInput  placeholder="">
                                </mat-form-field>
                            </td>    
                        </tr>
                        <tr >
                            <td colspan="4" class="ft-bold bg-row-highlight">Advanced Cost Elements</td>      
                        </tr>
                        <tr >
                            <td>INCO / Others Cost - Supplier</td>                           
                            <td class="text-right">114.000</td>           
                            <td class="text-right">114.000</td>             
                            <td class="text-right">114.000</td>                
                        </tr>
                        <tr >
                            <td>INCO / Others Cost - Buyer</td>                           
                            <td class="text-right">0.000</td>           
                            <td class="text-right">0.000</td>             
                            <td class="text-right">0.000</td>                
                        </tr>
                        <tr class="ft-bold">
                            <td>Total Cost to the Buyer</td>                           
                            <td class="text-right">14,394.000</td>           
                            <td class="text-right">14,394.000</td>             
                            <td class="text-right">14,394.000</td>                
                        </tr>
                        <tr >
                            <td>Rank</td>                           
                            <td class="text-right">1</td>           
                            <td class="text-right">3</td>             
                            <td class="text-right">2</td>                
                        </tr>
                    </tbody>
                </table>
            </div>     
    </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <div class="footer-action-btn">
        <button  color="warn" class="btn-gray" mat-dialog-close cdkFocusInitial><i class="fa fa-ban pe-2"></i>Cancel</button>
        <div class="middle-spacer"></div>
        <button   class="btn-blue">
            <i class="fa fa-hand-pointer-o pe-2" aria-hidden="true"></i>Submit
          </button>
      </div>
     
    </mat-dialog-actions>
  </div>