<a class="d-flex align-items-center" [matMenuTriggerFor]="menu"><span>Action</span>
  <mat-icon class="material-icons">arrow_drop_down</mat-icon>
</a>
<mat-menu #menu="matMenu">
  <button mat-menu-item [disabled]="disableEdit" (click)="editClause()">View / Edit</button>
  <!-- <button mat-menu-item (click)="addTags()">View Workflow</button>
  <button mat-menu-item (click)="delecteClause()">Notification</button> -->
  <button mat-menu-item (click)="assignedEntities()">Assigned Entities</button>
  <button mat-menu-item (click)="saveTerminate()">Suspend/Terminate</button>
  <!-- @if(showDelete){
    <button mat-menu-item [disabled]="disableEdit" (click)="addTags()">View Workflow</button>
    <button mat-menu-item (click)="Notification()">Delete</button>
    } -->

</mat-menu>