.compliance-threshold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    .box1 {
        grid-column: 2;
        grid-row: span 3/4;
    }
   
}

@media(max-width: 768px) { 
    .compliance-threshold {
        grid-template-columns: 1fr !important;
     }
     .box1 {
        grid-column: 1 !important;
        grid-row: 2 !important;
    }
}

.Mandate{
    display: flex;
    flex-direction: column;
}