<div class="widget-box">
    <h5 class="widget-title">Performance Bond</h5>
    <div class="widget-content">
        <div class="grid-5cols">
            <mat-form-field>
                <mat-label>Performance Bond Requirement</mat-label>
                <mat-select matTooltip="Select the Bond Requirement" required>
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="">Yes</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bond Type</mat-label>
                <mat-select matTooltip="Select the Bond Type" required>
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="">Bank Gurantee</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bond Basis</mat-label>
                <mat-select matTooltip="Select the Basis" required>
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="">Fixed</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Bond Value</mat-label>
                <input matInput matTooltip="Enter the Bond Value" class="text-right" placeholder="" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Band Submission Mode</mat-label>
                <mat-select matTooltip="Select the Band Submission Mode" required>
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="">Online</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="grid-1-4cols mt-2">
            <mat-form-field>
                <mat-label>Band Submission Mode</mat-label>
                <mat-select matTooltip="Select the Band Submission Mode" required>
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="">Online</mat-option>
                </mat-select>
            </mat-form-field>
            <div class="Mandate">
                <span class="ft-size13 ps-2">Mandate Following Submission: </span>
                <div class="d-flex justify-content-between bg-row " style="margin-top: -5px;">
                <mat-checkbox>Business Continuity Undertaking</mat-checkbox>
                <mat-checkbox>Performance Guarantee Insurance</mat-checkbox>
                <mat-checkbox>workmen Compensation Insurance</mat-checkbox>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="compliance-threshold">
    <div class="widget-box box">
        <h5 class="widget-title">Threshold for Claims & Variations Orders</h5>
        <div class="widget-content">
            <p class="ft-size13 ft-bold mb-0">Net Contract Value (NCV):INR 12,00,00</p>
            <div class="table-responsive">
            <table class="content-table">
                <thead >
                    <tr>
                        <th scope="col">Order Type</th>
                        <th scope="col" >Fixed value or % (Based on NCV)</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cust-field-height">
                        <td>Variation Order</td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Fixed value">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Percentage %</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100 numeric-right-align">
                                <input matInput placeholder=""  value="10">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr class="cust-field-height">
                        <td>Claims Order</td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Fixed value">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Fixed Value</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100 numeric-right-align">
                                <input matInput placeholder=""  value="10">
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        </div>
    </div>
    <div class="widget-box box">
        <h5 class="widget-title">Penalty</h5>
        <div class="widget-content">
            <div class="table-responsive">
                <table class="content-table">
                    <thead >
                    <tr>
                        <th scope="col" colspan="3" > <span class="ft-size12  mb-0 ft-trans">Penalty Per Event(Warning)</span></th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="cust-field-height">
                        <td>
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Fixed value">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Percentage %</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter penalty value" class="text-right" value="">
                            </mat-form-field>
                        </td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Select Basis" placeholder="Select Basis">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Contract Value</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
                <thead >
                    <tr>
                        <th scope="col" colspan="3"><span class="ft-size12  mb-0 ft-trans">Thershold for Penalty</span></th>
                    </tr>
                </thead>
                <tbody class="list">
                    <tr class="cust-field-height">
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Fixed value">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Percentage %</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter penalty value" class="text-right" value="">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Select Basis" placeholder="Select Basis">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Contract Value</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="widget-box box1">
        <h5 class="widget-title">Issuance of Warning Notices</h5>
        <div class="widget-content">
            <div class="table-responsive">
                <table class="content-table">
                    <thead >
                    <tr>
                        <th scope="col" colspan="2" > <span class="ft-size12  mb-0 ft-trans">Notice Period for Termination</span></th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="cust-field-height">
                        <td class="cxw-200">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Enter Value">
                            </mat-form-field>
                            </td>
                            <td>
                            <mat-form-field class="w-100">
                                <mat-select  placeholder="Select Mode">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Days</mat-option>
                                    <mat-option value="">Months</mat-option>
                                    <mat-option value="">Years</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
           
            </table>
        </div>
              
            <div class="d-flex cust-field-height  mt-2">
                <h6 class="ft-size13">Number of Warnings Required before Termination: </h6>
                <mat-form-field class="cxw-120 numeric-right-align ms-3">
                    <mat-select  >
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option value="3 ">3</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table class="content-table">
                <thead >
                    <tr>
                        <th scope="col">Warning Notice #</th>
                        <th scope="col" colspan="2" class="text-center">Period</th>
                        <th scope="col">Mode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="cust-field-height">
                        <td>Warning Notice #1</td>
                        <td >
                            <mat-form-field class="w-100">
                                <input matInput placeholder="" class="text-right" value="10">
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Period">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Days</mat-option>
                                    <mat-option value="">Months</mat-option>
                                    <mat-option value="">Years</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Period">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Warning letter</mat-option>
                                    <mat-option value="">Email Communication</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr class="cust-field-height">
                        <td>Warning Notice #2</td>
                        <td >
                            <mat-form-field class="w-100">
                                <input matInput placeholder="" class="text-right" value="10">
                            </mat-form-field>
                        </td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Days</mat-option>
                                    <mat-option value="">Months</mat-option>
                                    <mat-option value="">Years</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" >
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Warning letter</mat-option>
                                    <mat-option value="">Email Communication</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr class="cust-field-height">
                        <td>Warning Notice #3</td>
                        <td >
                            <mat-form-field class="w-100">
                                <input matInput placeholder="" class="text-right" value="10">
                            </mat-form-field>
                        </td>
                        <td >
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Period">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Days</mat-option>
                                    <mat-option value="">Months</mat-option>
                                    <mat-option value="">Years</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field class="w-100">
                                <mat-select matTooltip="Fixed value %" placeholder="Select Period">
                                    <mat-option value="">-- Please Select --</mat-option>
                                    <mat-option value="">Warning letter</mat-option>
                                    <mat-option value="">Email Communication</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>