<div class="content-container">
    <div class="bread-crumbs">
        <h2 class="page-title">
            <i class="fa fa-dot-circle-o me-2" aria-hidden="true"></i>Sourcing
            Management >> Request for Quotation >> Authorize Opening
        </h2>
    </div>

    <div class="content-box p-2">
        <div class="widget-box">
            <h5 class="widget-title">
                RFx Insights
            </h5>
            <div class="widget-content">
                <div class="grid-3cols">
                    <div class="display-box">
                        <p class="display-label">Child Company</p>
                        <p class="display-data">OMan India Fertilizer Company SAOC</p>
                        <p class="display-label">Purchase Category</p>
                        <p class="display-data">Request for Tender</p>
                        <p class="display-label">Ref #</p>
                        <p class="display-data">RFT-101</p>
                        <p class="display-label">Date</p>
                        <p class="display-data">10-Dec-2024</p>
                    </div>
                    <div class="display-box">
                        <p class="display-label">Short Name</p>
                        <p class="display-data">Purchase of Laptop</p>
                        <p class="display-label">Description</p>
                        <p class="display-data">Description</p>
                        <p class="display-label">Department</p>
                        <p class="display-data">Administration</p>
                        <p class="display-label">Strategy for Evaluation Method</p>
                        <p class="display-data">Technical First and then Financials</p>
                    </div>
                    <div class="display-box">
                        <p class="display-label">Min Quote Required</p>
                        <p class="display-data">3</p>
                        <p class="display-label">Exception to Min-Quote</p>
                        <p class="display-data">3</p>
                        <p class="display-label">Original Duration (in Days)</p>
                        <p class="display-data">3</p>
                        <p class="display-label">Revised Duration (in Days)</p>
                        <p class="display-data">3</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                Spend Category
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Parent Category</th>
                                <th scope="col">Sub Category</th>
                                <th scope="col">Child Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="ft-w500">Information Technology</td>
                                <td class="ft-w500">Hardware</td>
                                <td class="ft-w500">Information Technology</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                RFx Timelines
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Publish Date</th>
                                <th scope="col">RFx Buy Date</th>
                                <th scope="col">RFx Submission Date</th>
                                <th scope="col">RFx Open Date</th>
                                <th scope="col">RFx Financial Open Date</th>
                                <th scope="col">RFx Award Date</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="bg-lite-yellow">
                                <td class="ft-w500">Original</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                            <tr class="bg-lite-blue ">
                                <td class="ft-w500">Revised</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                            <tr class="bg-lite-green">
                                <td class="ft-w500">Completed On</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                                <td>28-Mar-2025</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title">
                Committee
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tender</th>
                                <th scope="col">Technical Evaluation</th>
                                <th scope="col">Financial Evaluation</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            <tr class="bg-lite-yellow">
                                <td class="ft-w500">Name</td>
                                <td>Tender Opening > 50k</td>
                                <td>Technical Committee</td>
                                <td>NA</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="widget-box carousel-box">
            <h5 class="widget-title pt-3 pb-3 d-flex align-items-center justify-content-between">
                Participation Analysis
            </h5>
            <div class="widget-content">
                <table class='table-border '>
                    <tr class="bg-table-color ">
                       
                        <td class='p15w'>&nbsp;</td>
                        <td class='p75w'>&nbsp;</td>
                        <td class='p15w'>&nbsp;</td>
                    </tr>
                    <tr>
                       
                        <td class='p15w'>
                            <p style="margin-bottom: 1px;">Serial #</p>
                            <p>Supplier Code</p>
                            <p>Supplier Name</p>
                            <p>Grade</p>
                            <p>Pre-Qualified</p>
                            <p>Invited</p>
                            <p>Subscribed</p>
                            <p>Fee Paid</p>
                            <p>Responded</p>
                            <p>Regretted</p>
                            <p>Regret Remark</p>
                            <p>Regret Reason</p>
                        </td>
                        <td class='p75w'>
                            <!-- Carousel -->
                            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                                <!-- Indicators/dots -->
                                <!-- Left and right controls/icons -->
                                <button class="carousel-control-prev bg-dark" type="button" data-bs-target="#demo"
                                    data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                </button>
                                <button class="carousel-control-next bg-dark" type="button" data-bs-target="#demo"
                                    data-bs-slide="next">
                                    <span class="carousel-control-next-icon"></span>
                                </button>
                                <!-- The slideshow/carousel -->
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="grid-inco-4cols">
                                            <div class="sup_details">
                                                <p>1</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>2</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>3</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>4</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="carousel-item">
                                        <div class="grid-inco-4cols">
                                            
                                            <div class="sup_details">
                                                <p>5</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>6</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>7</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                            <div class="sup_details">
                                                <p>8</p>
                                                <p>J00035</p>
                                                <p>JBN TEKNICAL FZE-1734002522</p>
                                                <p>A</p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-check-circle text-success" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p class="text-center"><i class="fa fa-times-circle text-danger" aria-hidden="true"></i></p>
                                                <p>NA</p>
                                                <p>NA</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                            </div>

                        </td>
                        <td class='p15w'>
                            <p>&nbsp;</p>
                            <p>Response Received</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>1</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="widget-box">
            <h5 class="widget-title d-flex justify-content-between">
                Comparison
                <div  class="d-flex align-items-center">
                    <mat-checkbox >Display Only Technically Qualified Suppliers</mat-checkbox>
                    <mat-checkbox class="ms-3">Display Original Submitted Value</mat-checkbox>
                </div>
            </h5>
            <div class="widget-content">
                <div class="table-responsive mt-2">
                    <table class="content-table">
                        <thead>
                            <tr>
                                <th scope="col">Supplier Name</th>
                                <th scope="col">Technically Qualified</th>
                                <th scope="col">Tech Score</th>
                                <th scope="col">Original Price</th>
                                <th scope="col">Nego-Iteration Value</th>
                                <th scope="col">% Reduction</th>
                                <th scope="col">Fin-Score</th>
                                <th scope="col">Agg-Score</th>
                                <th scope="col">Rank</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td >IBM Info</td>
                                <td>Yes</td>
                                <td>8</td>
                                <td>100,000.00</td>
                                <td>90,000.00</td>
                                <td>10%</td>
                                <td>10</td>
                                <td>10</td>
                                <td>2</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="footer-action-btn">
        <button    class="btn-gray" (click)=" goBack()" >
            <i class="fa fa-times pe-2"></i>Cancel</button> 
    <div class="middle-spacer"></div>
    <button   class="btn-blue">
        <i class="fa fa-paper-plane-o pe-2" aria-hidden="true"></i> Open				
    </button>
</div>
</div>